{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
'region',
'region-collapsible',
'region-' ~ region|clean_class
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }} aria-label="Left collapsible region">
    <h2 class="collapsible-toggle">
      <a class="btn" data-toggle="collapse" href="#apic-collapse-left" aria-expanded="false"
         aria-controls="apic-collapse-left">
        <svg width='8' height='12' viewBox='0 0 8 12' fill-rule='evenodd'><path d='M0 10.6L4.7 6 0 1.4 1.4 0l6.1 6-6.1 6z'></path></svg>
      </a>
    </h2>
    <div id="apic-collapse-left" class="clearfix collapse">
      {{ content }}
    </div>
  </div>
{% endif %}
