// import connect variables
@import "connect-variables";

// font
$font-family-base: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

// Brown color palette
$gold-01: #74521b;
$gold-02: #5b421c;
$gold-03: #ffb000;

$white-01: #fff;

$gray-01: #eaeaea;
$gray-02: #f5e8db;
$gray-03: #ffd191;
$gray-04: #ffb000;
$gray-05: #9c6d1e;

$dark-gray-01: #42301b;
$black-01: #2f261c;


// theme variables
// these are the variables to override for custom theme creation
// Global body
$body-bg: $white-01;


// Global text color
$text-color: $black-01;
$label-color: $black-01;
//** Global textual link color.
$link-color: $gold-01;
//** Link hover color
$link-hover-color: $gold-02;

$brand-primary: $gold-01;
$brand-primary-light: $gold-03;
$brand-primary-dark: $gold-02;

// Placeholder text color
$input-color-placeholder: $gray-05;

// Navbar variable overrides
$navbar-default-color: $white-01;
$navbar-default-bg: $gold-01;

$navbar-default-link-color: $white-01;
$navbar-default-link-hover-color: $white-01;
$navbar-default-link-active-color: $white-01;
$navbar-default-link-active-bg: $gold-01;
$navbar-default-link-hover-bg: $gold-03;

$navbar-default-toggle-icon-bar-bg: $gold-01;

// footer variable overrides
$footer-default-bg: $gold-01;
$footer-default-color: $white-01;
$footer-default-bordercolor: $brand-primary-light;

$footer-link-color: $white-01;

// tabs
$tab-primary-background: $brand-primary;
$tab-primary-text: $white-01;

// forms
$default-header: $dark-gray-01;
$default-bg-light: $white-01;
$default-border: $gray-03;
$default-line: $gray-05;
$default-submitted: $gray-04;
$default-inverse: $white-01;

$default-input-bg: $gray-01;
$default-input-border: $gray-01;

$input-border-radius: 0;
$input-bg: $gray-01;
$input-border: $gray-01;
$input-color: $black-01;

// buttons
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-default-color: $gold-01;
$btn-default-bg: $white-01;
$btn-default-border: $gold-01;
$btn-primary-color: $white-01;
$btn-primary-bg: $gold-01;
$btn-primary-border: transparent;
$btn-success-color: $white-01;
$btn-success-bg: $gold-01;
$btn-success-border: transparent;
$btn-link-disabled-color: $brand-primary;

$tile-btn-bg: $white-01;
$tile-btn-border: $white-01;
$tile-btn-color: $text-color;

// checkboxes and radio buttons
$check-radio-bg: $white-01;
$check-radio-border: $gray-05;
$check-radio-bg-checked: $brand-primary;
$check-radio-border-checked: $brand-primary;
$check-radio-color-checked: $white-01;

// tooltips
$tooltip-color: $white-01;
$tooltip-bg: $gray-05;

// modals
$modal-content-bg: $white-01;
$modal-content-border-color: $brand-primary;
$modal-backdrop-bg: $white-01;
$modal-backdrop-opacity: .5;
$modal-header-border-color: transparent;
$modal-content-color: $gray-05;
//** Modal footer border color
$modal-footer-border-color: $gray-04;

//** card settings
$card-bg: $gray-01;
$card-border-color: $gray-04;
$card-footer-bg: $gray-03;
$disabled-bg: $gray-05;

//** table settings
$table-header-border: $brand-primary;
$table-row-border: $gray-04;
$table-row-hover: $gray-03;
$table-row-bg-light: $gray-01;
$table-row-bg-gray: $gray-02;
$table-zebra-stripe: $gray-02;

// import everything from connect_theme as a starting point
@import "connect-styles";

// place further styling overrides here

//* styling to change the default welcome banner

.welcomebanner {
  background-image: none;
  background-color: $gold-03;
}