{#
/**
 * @file
 * Default theme implementation for the search icon block
 *
 * @ingroup themeable
 */
#}

<div class="ibmapimSearch" role="search" aria-label="{{ 'Search this site'|t }}">
  <div class="imageContainer">
    <a title="{{ 'Search this site'|t }}" href="{{- path('view.search_content.page_1') -}}">

      <svg role="img" aria-labelledby="ibmapimSearchTitle" width='24' height='24' viewBox='0 0 32 32'
           fill-rule='evenodd'>
        <title id="ibmapimSearchTitle">{{ 'Search this site'|t }}</title>
        <path d="M30,28.59,22.45,21A11,11,0,1,0,21,22.45L28.59,30ZM5,14a9,9,0,1,1,9,9A9,9,0,0,1,5,14Z"
              transform="translate(0 0)"/>
        </path>
      </svg>
    </a>
  </div>
</div>