{#
/**
 * @file
 * Default theme implementation for the search icon block
 *
 * @ingroup themeable
 */
#}

<div class="ibmapimSearch" role="search" aria-label="{{ 'Search this site'|t }}">
  <div class="imageContainer">
    <a title="{{ 'Search this site'|t }}" href="{{- path('view.search_content.page_1') -}}">
      <svg role="img" aria-labelledby="ibmapimSearchTitle" width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'><title id="ibmapimSearchTitle">{{ 'Search this site'|t }}</title><path d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'></path></svg>
    </a>
  </div>
</div>