.product-view .masonry-layout .masonry-item {
  width: auto;
  border: 0;
  background: none;
}

.apicProduct .apicProductBody .field {
  margin: 20px 0;
}

.apicProduct .apicProductSummary .field--item,
.apicProduct .apicProductDesc .field--item,
.apicProduct .termsOfService .field--item {
  font-size: 1rem;
  line-height: 1.375em;
  letter-spacing: 0px;
}

.apicProduct .apicProductHeader .vote-form .form-item,
.productApiWrapper header.titleSection .vote-form .form-item {
  margin: 0;
}

.apicProduct .label,
.apicProduct .apicProductSummary .field--label,
.apicProduct .apicAttachments .field--label,
.apicProduct .customFields .field--label,
.apicProduct .apicProductDesc .field--label,
.apicProduct .customDocPages .field--label {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 8px;
}

.apicProductCard .apicProductDesc .field--label {
  display: none;
}

.apicProduct .field.field--name-product-version {
  margin: 0;
}

.productApiWrapper .productName .field--name-apic-rating {
  display: inline-block;
}

.productApiWrapper .apicProductTitleText .field--name-apic-rating .field--label {
  display: none;
}

.apicProductTeaser {
  display: flex;
}

.apicApiIcon {
  display: inline-block;
}

.apicProductIcon img,
.apicApiIcon img {
  border: 0;
  width: 48px;
  height: 48px;
}

.apicProductIcon,
.apicApiIcon {
  margin-right: 0.75rem;
}

.route-productview .apicMainContent,
.route-productapi .apicMainContent {
  width: 100%;
}

.route-productview .container,
.route-productview .container section,
.route-productapi .container,
.route-productapi .container section,
.route-entitynodecanonical.page-node-type-product .container,
.route-entitynodecanonical.page-node-type-product .container section,
.route-ibm-apimsubscription-wizardstep .apicMainContent .region form.subscription-wizard-choose-plan {
  padding: 0;
}

.apicProduct .apicProductHeader {
  border-bottom: 1px solid #e0e0e0;
}

.apicProduct .apicProductHeader,
.productApiWrapper header.titleSection {
  background: white;
  padding: 0.5rem 2rem;
}

.apicProduct .apicProductBody {
  padding: 2rem;
}

.apicProduct .apicProductHeader .breadcrumb,
.productApiWrapper header.titleSection .breadcrumb {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  margin-bottom: unset;
  background-color: inherit;
  padding: 0;
}

.apicProductTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
}

.apicProductTitleText {
  display: flex;
  align-items: baseline;
  max-width: calc(100% - 6rem);
}

.apicProduct .apicProductBody .productRecommendationCards .field {
  margin: unset;
}

.field.apis .field__label.label, .field__label.label,
.field.plans .field__label.label {
  margin-top: 0;
}

h1.productName,
h1.apiName {
  color: #161616;
  font-size: 2rem;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0;
}

.apicProductVersion {
  margin: 0 0.75rem;
  font-size: 0.875rem;
}

.apicProductTeaserMain {
  flex: 1;
}

.apicProductTeaserMain h2 {
  display: flex;
  margin-bottom: 10px;
}

.apicProductTeaserMain h2 a {
  display: flex;
  padding-right: 10px;
}

.apicProductTeaserMain h2 a span:first-of-type {
  padding-right: 4px;
  margin-bottom: 0;
}

.apicProductTeaserMain .field {
  margin-bottom: 0;
}

.apicProductTeaserVersion .field__item:before {
  content: '(';
}

.apicProductTeaserVersion .field__item:after {
  content: ')';
}

.apicProductRating {
  flex: 0.05 0 auto;
  -ms-flex: 0.05 0 100px;
  min-width: 100px;
}

.apicProductRating .field,
.apicProductRating form,
.apicProductRating .form-item {
  margin-bottom: 0;
}

.apicApiCount {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-top: 0.5rem;
}

.apicProductName {
  max-width: 500px;
}

ul.apicProductApiList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background: inherit;
}

.apicProductApiList li {
  list-style-type: none;
  padding: 20px;
  margin: 0 0 10px 10px;
  display: inline-block;
  min-width: 300px;
  min-height: 64px;
  outline: 1px solid #e0e0e0;
}

.main-container .apicProductApiList li {
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
}

.apicProductApiList .apicProductIcon img {
  width: 24px;
  height: 24px;
}

.apicProductContactInformation {
  display: flex;
  flex-direction: row;
}

.apicProductContactInformation div {
  padding-right: 1rem;
}

.apicProductTermsOfService .tosContainer {
  display: flex;
}

.apicProductTermsOfService .termsOfService .field--name-product-terms-of-service {
  margin: 0;
}

.apicProductTermsOfService div.collapse[aria-expanded="false"] {
  display: block;
  height: 0;
  overflow: hidden;
}

.apicProductTermsOfService a {
  padding-left: 1rem;
  align-self: flex-end;
  font-weight: bold;
  color: #525252;
}

.apicProductTermsOfService a:not(.collapsed) svg {
  transform: rotate(180deg);
}

.apicApiTeaser {
  display: flex;
}

.apicApiTeaser h4 {
  margin: 0;
}

.apicProductApiVersion {
  margin-left: 10px;
  line-height: 1.3125rem;
}

.apicApiCell {
  display: flex;
}

.apicApiCell div:first-of-type {
  flex: 1;
}

.apicApiCell .apicTwistieTitle {
  width: 16px;
  flex: .2;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: auto;
}

.apicTwistieContent div {
  margin: 5px 0;
}

.apicApiOperation {
  font-weight: normal;
  margin-left: 16px;
}

.apicSubscribeMsg {
  margin-top: 8px;
}

.apicSecondaryRow {
  line-height: 22px;
  padding: 0.25rem;
}

[class*="apicSecondaryRow"]:not(:last-of-type) {
  border-bottom: 0.5px solid #e2e2e2;
}

.productLoginMessage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.apicProduct h3 {
  font-weight: 300;
}

.field.plans .subHeading p {
  font-size: 0.875rem;
}

.field.plans .tableKey {
  padding: 0.625rem;
  align-self: flex-end;
  display: flex;
  align-items: baseline;
}

.field.plans .planRequiresSubKey p,
.multipleRateLimitsMessage {
  font-size: 0.875rem;
  font-style: italic;
  padding: 0 1rem;
}

/* hover tooltip for multi rate limits */
.path-product .ui-tooltip {
  opacity: 1;
}

.ratePopup {
  padding: 0.5rem;
  font-size: 0.875rem !important;
}

.rateLabel,
.burstLabel {
  padding-bottom: 0.625rem;
}

.route-productapi .page-header,
.route-productview .page-header {
  display: none;
}

.titleSection .productTitle .productName {
  display: inline-block;
  font-weight: lighter;
  vertical-align: top;
}

.productApiWrapper .titleInnerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productApiWrapper .titleInnerWrapper .rightTitle {
  padding-top: 1.5rem;
}

.productApiWrapper .titleInnerWrapper .leftTitle {
  width: calc(100% - 12rem);
}

.apicApiState {
  margin-right:15px;
}

.apicApiState .text {
  text-transform: capitalize;
}

.apicApiState .icon {
  margin:0px 5px;
  border-radius: 100px;
  width:15px;
  height:15px;
  border:1px solid lightgray;
  display: inline-block;
}

.apicApiState.online .icon {
  border-color: green;
  background: green;
}


.apicApiState.offline .icon,
.apicApiState.archived .icon {
  border-color: lightgray;
  background: none;
}

@media screen and (max-width: 1024px) {
  .apicProductName {
    max-width: 300px;
  }
}

.apicTwistieContent {
  display: none;
}

.apicTwistieOpen .apicTwistieContent {
  display: inherit;
}

.apicTwistieIcon {
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.apicTwistieIcon .fa {
  font-weight: bold;
  color: #393939;
  transition: .2s;
}

.apicTwistieIcon .fa.flip {
  transform: rotate(-180deg);
}

.apicTwistieContent {
  padding: 4px 0 4px 16px;
}

.apicTwistieRow {
  display: none;
}

.apicTwistieRow.visible {
  display: table-row;
}

.apicTableFixedContainer {
  display: flex;
  justify-content: center;
}

.apicTableFixedColumn {
  overflow-x: auto;
}

.apicTableFixedColumn table {
  margin-bottom: 0;
}

.apicTableFixedColumn table thead,
.apicTableFixedColumn table tbody {
  background-color: white;
}

.apicFixedColumn {
  min-width: 250px;
  left: 0;
  top: auto;
  white-space: nowrap;
}

.apicTableFixedColumn tr {
  border: none;
}

.apicTableFixedColumn td,
.apicTableFixedColumn th {
  border-right: 1px solid #e0e0e0;
  border-collapse: collapse;
  text-align: center;
}

.apicTableFixedColumn tfoot {
  border-bottom: 1px solid #e0e0e0;
}

.apicFixedColumn.tlcorner {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.apicFixedColumn.blcorner {
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 20px 0 21px 0;
}

.apicTableFixedColumn th.apicFixedColumn {
  text-align: inherit;
  background-color: inherit;
  border-left: 1px solid #e0e0e0;
  /* border-right: none; */
}

th .apicDeprecated {
  font-weight: normal;
  font-size: 0.8rem;
}

tbody .apicFixedColumn {
  border-bottom: none;
}

tfoot .apicFixedColumn {
  border-bottom: none;
}

.apicTableFixedColumn th {
  min-width: 250px;
  max-width: 450px;
  font-weight: normal;
}

.apicTableFixedColumn thead th {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.apicPlansTable tbody td:nth-of-type(odd),
.apicPlansTable thead th:nth-of-type(even) {
  background: #EDF5FF;
}

.apicPlansTable .planTitle {
  text-align: left;
}

.planTitle .text {
  word-break: break-word; /* to support long, single-word plan titles */
}

.apicPlansTable .planTitle .planSubscribe {
  margin-top: 1rem;
}

.apicPlansTable .planTitle .planSubscribe .button,
.apicPlansTable .planTitle .planSubscribe button {
  margin-top: 0.5rem;
  height: 2.5rem;
}

.apicTableFixedColumn thead th .fa {
  font-size: 1.4rem;
}

.apicTableFixedColumn tr {
  line-height: 3rem;
  border-top: 0.5px solid #e2e2e2;
}

.apicTableFixedColumn tr .planDescription {
  line-height: 1.2rem;
}

.apicTableFixedColumn tfoot td {
  border-bottom: none;
  padding: 20px 0;
}

.apicTableFixedColumn tbody tr.api-odd {
  /* background-color: #f0f3f6;*/
}

.apicTableFixedColumn tbody tr.api-even {
  /* background-color: #ffffff; */
}

.apicFixedColumn .apicApiCell .apicTwistieTitle {
  padding-left: 20px;
}

.apicTableStandardCell {
  min-width: 250px;
  color: #525252;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .16px;
}

.multiRateLimits {
  text-decoration: underline;
}

th .apicTableStandardCell {
  min-width: 250px;
  padding: 0.75rem 1.25rem;
}

.subHeading {
  display: flex;
  padding: 10px 0 20px 0;
}

.planTableSelector {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e0e0e0;
}

.planTableSelector .viewDetails,
.planTableSelector .hideDetails {
  padding: 0.75rem;
  font-size: 0.875rem;
}

.planTableSelector a.showComparisonTable,
.planTableSelector a.showPlans {
  color: #161616;
}

.planTableSelector a.selected {
  color: #152935;
}

.planComparisonTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.apicMixedProduct {
  padding-bottom: 1rem;
}

.apicPlansList.hidden,
.planComparisonTable.hidden {
  display: none;
}

.planTable-cell {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  padding: 0.75rem 1.2rem;
  overflow: hidden;
  list-style: none;
  min-height: 59px;
  min-width: 200px;
  background-color: white;
}

.apicTwistieContent .planTable-cell {
  margin: 0;
}

.planColumn {
  width: 400px;
  min-width: 300px;
  border: 1px solid #e0e0e0;
}

div[class*="planColumn"]:not(:last-of-type) {
  border-right: none;
}

.planTable .planDatabox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.planTable .title {
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.apicPlansTable .title .planName,
.planTable .title .planName {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 26px;
}

.planTable .title .apicTwistieTitle {
  margin-top: 10px;
}

.planTable .title > .planSubscribe {
  display: block;
  margin-top: 15px;
}

.planTable-cell .multiRateLimits {
  display: block;
}

.planTable-cell table {
  margin-top: 8px;
  width: 100%;
}

.planTable-cell table td,
.planTable-cell table th {
  padding: 5px;
  border: 1px solid #e0e0e0;
  font-size: 0.8rem;
  max-width: 300px;
}

.planTable-cell table td.rateLimit,
.planTable-cell table th.rateLimit {
  width: 110px;
}

.planTable-cell .planApiName {
  font-size: 1.2rem;
}

.get .verb {
  color: #4589ff;
}

.post .verb {
  color: #24a148;
}

.put .verb {
  color: #ee5396;
}

.delete .verb {
  color: #fa4d56;
}

.options .verb {
  color: #0043ce;
}

.patch .verb {
  color: #009d9a;
}

.head .verb {
  color: #a56eff;
}

.trace .verb {
  color: #8a3800;
}


@media screen and (max-width: 500px) {
  .planTableSelector {
    display: none;
  }

  .subHeading {
    flex-direction: row;
  }

  .apicPlansList.hidden {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .apicProductTeaser {
    flex-direction: column;
  }

  .apicProductTeaserMain {
    -ms-flex: 1 0 auto;
  }

  .apicProductRating {
    -ms-flex: 0.05 0 24px;
  }

  .apicProductTeaserMain h2 {
    flex-direction: column;
  }

  .apicProductTeaserMain h2 a {
    flex-direction: column;
  }

  .node .apicProductTeaser .apicProductDesc {
    margin-bottom: 10px;
  }

  .apicProductName {
    max-width: 500px;
  }
}

/* cards */
.node--type-product.bx--card {
  height: 20rem;
  border: none;
  box-shadow: none;
}

.node--type-product.bx--card {
  border: none;
  box-shadow: none;
}


.bx--card .apicProductCard {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
  grid-template-columns: 50px auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.bx--card .apicProductCard .bx--about__icon {
  margin: -0.25rem;
}

.bx--card .apicProductIcon {
  -ms-grid-column: 1;
}

.bx--card .apicProductCardMain {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: end;
  grid-column-end: span end;
}

.bx--card .apicProductCardMain .bx--about__title--name {
  width: 13rem;
}

.bx--card .apicProductCardMain .bx--about__title--name a {
  display: flex;
  font-size: 0.875rem;
  line-height: 18px;
  word-break: break-word;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}

.bx--card .apicProductCardMain .apicProductName {
  padding-right: 0.625rem;
  max-width: 10rem;
}

.bx--card .apicProductCardMain .apicProductName span {
  white-space:break-spaces;
  max-width: unset;
}

.bx--card .apicProductCardVersion {
  font-size: 0.875rem;
}

.bx--card .apicProductDesc,
.bx--card .apicProductDesc p,
.bx--card .apicProductDesc h1,
.bx--card .apicProductDesc h2,
.bx--card .apicProductDesc h3,
.bx--card .apicProductDesc h4 {
  font-size: 75%;
  line-height: 0.85rem;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: end;
  grid-column-end: span end;
}

.bx--card .apicProductDesc {
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: IBMPlexSans, 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 20px;
}

.bx--card .apicProductCardApi {
  font-weight: normal;
  font-family: IBMPlexSans, 'IBM Plex Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}

.bx--card .apicProductSeeAll {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: normal;
  font-family: IBMPlexSans, 'IBM Plex Sans', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 0.5rem;
}

.apicProductState {
  text-transform: capitalize;
  border: 1px solid #e0e0e0;
  padding: 8px;
  margin-left: 30px;
}

.apicProductCard .apicProductState {
  margin-left: 0;
  display: inline-block;
}

.route-entitynodecanonical.page-node-type-product h1.page-header {
  display: none;
}

/* embedded docs */
.SplitPane.vertical {
  display: flex;
  flex: 1 1 0%;
  height: 100%;
  outline: none;
  overflow: hidden;
  user-select: text;
  flex-direction: row;
  left: 0;
  right: 0;
  min-height: calc(100vh - 287px);
}

.Pane.vertical.Pane1 {
  flex: 0 0 auto;
  position: relative;
  outline: none;
  width: 236px;
  border-right: 1px solid #dfe3e6;
  overflow: hidden;
}

.Pane.vertical.Pane2 {
  flex: 1 1 0%;
  position: relative;
  outline: none;
}

.embeddedDocPagesNav {
  display: inline-block;
  vertical-align: top;
}

.apicProduct .stretch {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.apicProduct .embeddedDocPagesNav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.bx--side-nav__items {
  -ms-flex: 1 1;
  flex: 1 1;
  padding: 1rem 0 0;
  overflow: hidden;
}

.apicProduct .embeddedDocPagesNav .tocItem {
  margin-top: 0;
  margin-bottom: 0;
}

.apicProduct .embeddedDocPagesNav a.selected {
  color: #0f62fe;
}

.apicProduct .embeddedDocPagesNav .tocHeader a {
  font-weight: 600;
}

.apicProduct .embeddedDocPagesNav a.selected {
  background-color: unset;
  border-left: 4px solid #0f62fe;
  font-weight: 600;
}

.apicProduct .embeddedDocPagesNav a {
  color: #161616;
}

.apicProduct .embeddedDocPagesNav a {
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-decoration: none;
  border-left: 4px solid transparent;
}

.apicProduct .embeddedDocPagesNav a,
.apicProduct .embeddedDocPagesNav a:hover {
  cursor: pointer;
  text-decoration: none;
}

.apicProduct .truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

div.bx--side-nav__link,
a.bx--side-nav__link,
.bx--side-nav a.bx--header__menu-item,
.bx--side-nav .bx--header__menu-title[aria-expanded='true'] + .bx--header__menu {
  outline: 2px solid transparent;
  outline-offset: -2px;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: .16px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 2rem;
  padding: 0 1rem;
  text-decoration: none;
  -webkit-transition: color 110ms, background-color 110ms, outline 110ms;
  -o-transition: color 110ms, background-color 110ms, outline 110ms;
  transition: color 110ms, background-color 110ms, outline 110ms;
}

.apicProduct .embeddedDocPagesNav ul .tocItem a:hover,
.apicProduct .embeddedDocPagesNav ul .tocItem a.selected {
  background-color: #e0e0e0;
  outline: none;
}

.apicProduct .embeddedDocPagesNav a.selected span {
  font-size: 0.875rem;
}

.apicProduct .embeddedDocPagesNav ul .tocItem span {
  font-size: 0.75rem;
}

.apicProduct .embeddedDocPagesNav ul.doc-tree--list {
  margin-left: 1rem;
}

.apicProduct .embeddedDocPagesNav div.bx--side-nav__link {
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  border-left: 4px solid transparent;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #161616;
}

.comments h2,
h3.field__label.label
{
  font-size: 1.25rem;
  line-height:  1.75em;
  font-weight: 400;
  letter-spacing: 0px;
}

.apicPlans {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.apicPlans .planCard {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  width: 18.75rem;
  max-width: 100%;
  margin-bottom: 1px;
  margin-right: 2px;
}

.apicPlans .planCard .planLocked {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.apicPlans .planCard .planTitle {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 3.75rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.apicPlans .planCard .planDescription {
  word-break: break-word;
  margin-bottom: 1rem;
  overflow: hidden;
  min-height: 3.375rem;
  height: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.apicPlans .planCard .btn.btn-sm {
  margin-bottom: 1rem;
  text-align: left;
}

.apicPlans .planCard .planViewDetails {
  margin-top: auto;
}

.apicPlans .planCard .planApis {
  margin-bottom: 1rem;
}

.planApiList {
  list-style: none;
  padding-left: 0;
}

.planApiList li {
  display: flex;
  height: 1rem;
  margin-bottom: .5rem;
}

.planApiTitle {
  margin-left: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.planApiVersion {
  margin-left: 0.3rem;
}

.planApiCheck svg{
  height: 100%;
}

.planDetail--header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}
.planDetail--header .body-short-01 {
  min-height: 1.1rem;
  height: auto;
}

.planDetail--subscribe {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.planDetail--subscribe btn {
  width: 11rem;
  text-align: left;
}

.planDetail--planInfo {
  display: flex;
  flex-direction: column;
}

.planDetail--info {
  margin: 0 1rem;
}

.planDetail--modalClose {
  align-self: flex-end;
  padding: .4rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.planDetail--modalClose svg {
  height: 100%;
}

.planDetail--modalClose svg .cls-1{
  fill:#000000;
}

.planDetail--modalClose svg .cls-2{
  fill: none;
}

.planDetail--content {
  padding: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}

.plansTable {
  width: 100%;
}

.plansTable th {
  padding: 1rem;
}

.plansTable td {
  padding: 1rem;
}

.apicTwistieIcon {
  cursor: pointer;
}

.twistieRow {
  transition: 1s;
}

.plansTable .tableRow {
  width: 100%;
  height: 3rem;
}

.plansTable tr.hiddenRow {
  display: none;
}

.apicPlans .modal-dialog {
  min-width: 75%; /* Modals are usualy dynamic widths but long operation paths make it jump around so this keeps them consistent */
  max-width: 75%;
}

@media screen and (max-width: 640px) {
  .apicPlans .modal-dialog {
    min-width: 95%;
    max-width: 95%;
  }
}

.planApiCheckMark {
  width: 1rem;
  flex-shrink: 0;
}

.fixedPlanColumnWidth {
  min-width: 8rem;
}

.planCustomAttributes,
.productCustomAttributes {
  margin-bottom: 1rem;
}

.planCustomAttributes .planCustomAttribute .planCustomAttributeKey,
.productCustomAttributes .productCustomAttribute .productCustomAttributeKey {
  text-transform: capitalize;
}

.modal-content .planCustomAttributes {
  margin-top: 1rem;
}

.planRatesAndBilling {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.planRatesAndBilling.hasRates {
  height: auto;
}

.planRatesAndBilling.hasBilling {
  height: 2rem;
}

.planRatesAndBilling.hasRates.hasBilling {
  height: 5rem;
}

.planRatesAndBilling p {
  margin-bottom: 0.3rem;
}
