{#
/**
 * @file
 *
 * Template for the select plan page of the mail subscriber wizard
 *
 * @ingroup templates
 */
#}
{{ attach_library('mail_subscribers/basic') }}
<div class="apicWizardMain">
  <div class="apicWizardHeader">{{ 'Select Plans'|t }}</div>
  <form {{ attributes }}>
    {{ children }}
  </form>
</div>
