.bean-socialblock-block.entity.entity-bean {
  display: none;
}

.socialblock.container {
  margin-top: 0.8rem;
  display: flex;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.socialblock.card {
  margin: .25rem;
  border: 1px solid #5aaafa;
  border-left: 6px solid #5aaafa;
  padding: 1rem;
  background-color: #fff;
  color: #3d70b2;
  text-align: center;
  max-width: 340px;
}

.socialblock.card.noposts {
  margin-left: auto;
  margin-right: auto;
}

.socialblock.card:hover {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}

.socialblock .title {
  color: #fff;
  text-decoration: none !important;
  background-color: #3d70b2;
  box-sizing: border-box;
  border: 1.25rem solid #3d70b2;
  border-bottom-width: 1rem;
  display: block;
  transition: all 500ms;
  width: 100%;
}

.socialblock .title:hover {
  background-color: #3d70b2;
  border-color: #3d70b2;
  transition: all 100ms;
}

.socialblock .info {
  padding: 0.875rem 1.25rem 1rem;
}

.socialblock .op {
  color: #5a6872;
}

.socialblock .tweet_info,
.socialblock .forum_info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2px;
  padding: 2px 2px 8px;
  text-align: left;
}

.socialblock .tweet_profile,
.socialblock .forum_title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  margin-right: 1rem;
}

.socialblock .profile_image {
  margin-right: 1rem;
}

.socialblock .profile_name.name {
  color: #3d70b2;
  clear: both;
}

.socialblock .twitter_handle {
  color: #5a6872;
  clear: both;
}

.socialblock .tweet_meta,
.socialblock .forum_icon {
  text-align: center;
}

.socialblock .forum_icon a {
  display: inline-block;
}

.socialblock .forum_icon svg {
  width: 24px;
  height: 24px;
}

.socialblock .bird {
  display: inline-block;
  background: url("../img/twitter_bird.svg") 0 0 no-repeat transparent;
  width: 1.25rem;
  height: 1.25rem;
  clear: both;
}

.socialblock .tweet_timestamp,
.socialblock .timestamp {
  color: #5a6872;
  text-align: center;
}

.socialblock .centerContainer {
  margin-left: auto;
  margin-right: auto;
}

.socialblock .tweet_image {
  max-height: 100px;
  max-width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.socialblock .tweet_video {
  max-height: 200px;
  max-width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.socialblock .yt_embed {
  width: 100%;
}

.socialblock .tweet_text {
  padding: 0.7rem 1rem 1rem;
  text-align: left;
}

.socialblock .hashtag {
  color: #3d70b2;
}
