#edit-openid-connect-client-generic-login,
.openid-connect.generic {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../images/openid.png) 0 0 no-repeat;
}

#edit-openid-connect-client-google-login,
.openid-connect.google {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../images/google.png) 0 0 no-repeat;
}

#edit-openid-connect-client-windows_aad-login,
.openid-connect.windows_aad {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../images/windows_aad.png) 0 0 no-repeat;
}

#edit-openid-subform {
  overflow: auto;
}

.hiddensubmit {
  position: absolute;
  left: -100%;
}