/* Page */
body,
.apimInnerContainer {
  background-color: #fefefe;
  color: #444849;
}

/* no background for tinymce */
body#tinymce {
  background: none;
}

.fade:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fefefe 70%);
}

body.teaser-mode .columns-inner {

}

ul.secondary,
.section-collapsible,
.region-highlighted,
#columns {
  background-color: #ffffff;
}

/* tasks */
#skip-link a,
ul.tabs li a,
ul.tabs li a:visited {
  color: #5aaafa;
}

ul.tabs li a:hover,
ul.tabs li a:focus,
ul.tabs li a:active,
ul.tabs li a.active,
ul.tabs li a.active:visited {
  color: #000100 !important;
  border-bottom: 2px solid #000100;
}

/* Links */
a,
a:visited,
.myorgAddUserLink h3,
.plantab .apis h3.ui-accordion-header .apititle,
.portal .portalApi .testAPILink a,
.portal .portalApi .testAPILink a:visited {
  color: #5aaafa;
}

a:hover,
a:focus,
a:active,
.portal .portalApi .testAPILink a:hover,
.portal .portalApi .testAPILink a:focus,
.portal .portalApi .testAPILink a:active {
  color: #5aaafa;
}

a.active {
  color: #5aaafa !important;
}

.pager a:hover,
.pager a:active,
.pager a:focus {
  background-color: #5aaafa;
  color: #fff;
}

h3.apimSummaryTitle,
.embedded h4.apimSummaryTitle,
.productTeaser .ui-accordion h3,
.applicationTeaser .ui-accordion h3,
.apiTeaser .ui-accordion h3,
.embedded h4.apimSummaryTitle span.apimTitle a,
.productAPILink a {
  color: #5aaafa;
}

.productAPILink .apiVersionText {
  color: #767676;
}

.plansection .planintro {
  color: #767676;
}

/* Identity */
h1#site-name a,
h1#site-name a:visited {
  color: #fffeff;
}

h2#site-slogan {
  color: #feffff;
}

/* Header */
.region-header,
.nav .block-menu,
.region-header h2.block-title,
.nav .block-menu h2.block-title {
  color: #101000;
}

.region-header a,
.region-header a:visited {
  color: #bac0c6;
}

.region-header a:hover,
.region-header a:focus,
.region-header a:active {
  color: #39a6ff !important;
}

/* Footer */
.pagebreadcrumb {
  color: #010101;
}

#page > footer,
#page > footer .block-title {
  background-color: #f1f5f6;
  color: #010101;
}

.pagebreadcrumb a,
#page > footer a,
#page > footer a:visited {
  color: #5aaafa;
}

.pagebreadcrumb a:hover,
.pagebreadcrumb a:focus,
.pagebreadcrumb a:active,
#page > footer a:hover,
#page > footer a:focus,
#page > footer a:active {
  color: #5aaafa;
}

.portal .explanationText {
  color: #656565;
}

.singleOrg {
  color: #bac0c6;
}

/* Menu bar */
.menu-toggle a {
  color: #656565;
}

#menu-bar-wrapper {
  background: transparent;
}

.nav .block-menu ul li a {
  color: #656565;
  opacity: 0.95;
}

.nav .block-menu ul a:focus,
.nav .block-menu ul a:hover,
.nav .block-menu ul a:active {
  color: #007ded;
  opacity: 0.6;
  text-decoration: underline;
}

.nav .block-menu ul li a.active {
  color: #007ded;
}

/* Superfish Skin - we keep the Superfish skin seperate so we can special case
   if we really need to */
.sf-menu.sf-style-default a {
  border: 0;
  color: #111111;
  background-color: #5d9dd0;
}

.sf-menu.sf-style-default li.last a {
}

.sf-menu.sf-style-default a,
.sf-menu.sf-style-default a:visited {
  color: #111111;
}

.sf-menu.sf-style-default span.sf-description {
  color: #111111;
}

.sf-menu.sf-style-default li li,
.sf-menu.sf-style-default.sf-navbar li ul {
  background-color: #2e2e2d;
}

.sf-menu.sf-style-default li li li {
  background-color: #ededed;
}

.sf-menu.sf-style-default li {
  background: transparent;
}

.sf-menu.sf-style-default.sf-navbar {
  background: #ededed;
}

.sf-menu.sf-style-default li a,
.sf-menu.sf-style-default li a:visited {
  color: #111111;
}

.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active {
  background-color: #ffffff;
  color: #111111;
}

/* Reverse colors for sub menus */
.sf-menu.sf-style-default li li:hover,
.sf-menu.sf-style-default li li.sfHover,
.sf-menu.sf-style-default li li a:focus,
.sf-menu.sf-style-default li li a:hover,
.sf-menu.sf-style-default li li a:active {
  background-color: #111111;
  color: #ffffff;
}

.sf-menu.sf-style-default .active-trail.sf-depth-1,
.sf-menu.sf-style-default .sf-depth-1 > a.active {
  color: #111111;
  background-color: #ffffff;
}

#menu-bar-wrapper .sf-menu.sf-style-default .active-trail.sf-depth-1,
#menu-bar-wrapper .sf-menu.sf-style-default .sf-depth-1 > a.active {
  background-color: #ffffff;
}

/* .sf-navbar */
.sf-navbar.sf-style-default li ul {
  background-color: transparent !important;
  width: 100%;
}

.sf-navbar > li > ul > li {
  border-bottom: 1px solid #473e34;
}

.sf-menu.sf-style-default.sf-navbar li ul li ul {
  background-color: transparent;
}

/* If you adjust your media queries for mobile you must replicate those changes here */
@media only screen and (max-width: 480px) {
  .sf-menu.sf-style-default li li:hover,
  .sf-menu.sf-style-default li li.sfHover,
  .sf-menu.sf-style-default li li a,
  .sf-menu.sf-style-default li li a:focus,
  .sf-menu.sf-style-default li li a:hover,
  .sf-menu.sf-style-default li li a:active,
  .sf-menu.sf-style-default li li a:visited {
    background-color: #111111;
    color: #5d9dd0;
  }
}

/* header */
#page > header {
  background-color: #5a6175;
}

body.not-front #page > header {
  border-bottom: 1px solid #656565;
}

body.page-home #columns.no-menu-bar,
body.frontpage #columns.no-menu-bar {
  background-color: #f0f4f5;
}

/* top menu bar */
.region-top-menu {
  background-color: #ffffff;
}

.region-top-menu a {
  color: #111111;
}

.region-top-menu .sf-menu.sf-style-default > li > a {
  border: 0;
  color: #111111;
  background-color: transparent;
}

#menu-bar {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dfdfe6;
}

/* Titles */
h1,
.front h2.block-title {
  color: #6a6a6a;
}

.comment header h3 a,
h1 a,
h1.node-title a,
h2 {
  color: #100011;
}

/* input fields */
input, textarea {
  background-color: #fffffe;
  color: #444849;
}

textarea:disabled,
input:disabled {
  background-color: #ebebe4;
}

/* Label */
.portal .label,
.apimUpdated,
.apimField,
.apiDocTitle,
.portal .sectionHeader {
  color: #656565;
}

/* Summary Text */
.apimSummaryDescription,
.portal .explanationText,
.summaryText,
.form-item .description {
  color: #333333;
}

/* Highlight Text */
.portal .highlightText {
  color: #295a46;
}

/* Border Color */
.border,
.section,
.resourceView.resourcePlanView,
.resourceHeadline,
.planSelector,
.apimSummary,
.apimTitleContainer .displayInlineTop.planName,
.plan .authInfo,
.swagger-section,
input.toggle-password,
input.clientSecretInput,
div.credentialDelete,
div.credentialTitle .addCredentials {
  border-color: #dddddd !important;
}

.apimSummary {
  border-bottom: 1px solid #dddddd;
}

.node-product.node-teaser .apimSummary,
.node-application.node-teaser .apimSummary,
.node-api.node-teaser .apimSummary {
  border: 1px solid #dddddd;
}

/* forums */
.forum-table-wrap .forum-table-superheader {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

/* plans on api view */
.apimMainContent .appPlanName {
  background-color: #f5f5f5;
}

.apiPlanSummary.apimMainContent .appPlanName {
  background: inherit;
}

.apiPlanSummary .planSubscribe a,
.apiPlanSummary .planSubscribe a:link,
.apiPlanSummary .planSubscribe a:visited,
.apimPlansApis .ui-accordion-header .testAPILink a,
.apimPlansApis .ui-accordion-header .testAPILink a:link,
.apimPlansApis .ui-accordion-header .testAPILink a:visited {
  color: #5aaafa;
}

.apiPlanSummary .planSubscribe a:hover,
.apiPlanSummary .planSubscribe a:focus,
.apiPlanSummary .planSubscribe a:active,
.apimPlansApis .ui-accordion-header .testAPILink a:hover,
.apimPlansApis .ui-accordion-header .testAPILink a:focus,
.apimPlansApis .ui-accordion-header .testAPILink a:active {
  text-decoration: underline;
  color: #5aaafa;
}

.portal .apiPlanSummary .portalApi .resourceDesc,
.portal .apiPlanSummary .portalApi .planHeader {
  color: #767676;
}

.apiPlanSummary .ui-accordion h3.ui-accordion-header.ui-state-default {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}

.apiPlanSummary .ui-accordion h3.ui-accordion-header.ui-state-active {
  background: inherit;
  border: 1px solid #dddddd;
}

.apiPlanSummary .ui-accordion .portalApi.animateMaxHeight {
  border: 1px solid #dddddd;
  border-top: 0;
}

button,
input[type="submit"],
input.form-submit,
.form-actions a,
.form-actions a:visited,
.button, a.button, a.button:visited,
.banner_block .banner_button a,
a.buttonLink,
.portal .migratePlanContainer .migrateButton a,
.numberedList a,
.supportList a {
  color: #5596e6;
  background-color: #ffffff;
  border: 1px solid #5596e6;
}

button:disabled,
input.form-submit:disabled,
input[type="submit"]:disabled {
  background-color: #ebebe4;
}

.numberedList li:before {
  border: 1px solid #444849;
}