.portal {
    margin: 2rem 4rem;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5%;
    grid-template-columns: 23.875% 23.875% 23.875% 23.875%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
            'apistats apistats apistats numbers'
            'apicalls apicalls apicallserrors apicallserrors';
}

#apistats {
    grid-area: apistats;
}

.numbers {
    grid-area: numbers;
}

#apicalls {
    grid-area: apicalls;
}

#apicallserrors {
    grid-area: apicallserrors;
}

.portal .numbers {
    display: grid;
    grid-row-gap: 0;
}