.analyticsWidgetContainer {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-columns: minmax(22%, 300px) minmax(22%, 300px) minmax(22%, 300px) minmax(22%, 300px);
  grid-template-rows: minmax(40%, auto) minmax(40%, 400px);
  grid-template-areas:
      'apistats apistats apistats numbers'
      'apicalls apicalls subscriptions subscriptions';
}

.ibmapimOrgAnalytics .analyticsWidgetContainer {
  padding: 2rem 2rem 0;
}

.analyticsWidgetContainer #apistats {
  grid-area: apistats;
  background-color: white;
  padding: 14px;
}

.analyticsWidgetContainer #appAnalyticsSummary {
  grid-area: apistats;
  background-color: white;
  padding: 14px;
}

.analyticsWidgetContainer .apicAppTotals {
  grid-area: numbers;
  background-color: white;
}
.analyticsWidgetContainer .apicAppTotals .apicAppTotalCalls,
.analyticsWidgetContainer .apicAppTotals .apicAppTotalErrors {
  padding: 14px;
}
.analyticsWidgetContainer .apicAppTotals .apicAppAverageResponseTime {
  padding: 14px;
}

.analyticsWidgetContainer #apicalls {
  grid-area: apicalls;
  background-color: white;
  padding: 14px;
}

.analyticsWidgetContainer #apicallhistory {
  grid-area: apicalls;
  background-color: white;
  padding: 14px;
}

.analyticsWidgetContainer .apicAppSubscriptionsSummary,
.analyticsWidgetContainer .apicAppAPICallErrors {
  grid-area: subscriptions;
  background-color: white;
  padding: 14px;
}

.analyticsWidgetContainer .apicAppAPICallHistory .bx--apim-list-container,
.analyticsWidgetContainer .apicAppSubscriptionsSummary .bx--apim-list-container,
.analyticsWidgetContainer .apicAppAPICallErrors .bx--apim-list-container{
  max-height: 100%;
}

.analyticsWidgetContainer .bx--tabs__nav-item--selected .bx--tabs__nav-link,
.analyticsWidgetContainer .bx--tabs__nav-item--selected .bx--tabs__nav-link:focus,
.analyticsWidgetContainer .bx--tabs__nav-link:hover,
.analyticsWidgetContainer .bx--apim-metric-value {
  color: #0f62fe;
}

.analyticsWidgetContainer .bx--tabs__nav-item--selected {
  border-bottom: 2px solid #0f62fe;
}
.analyticsWidgetContainer .bx--apim-metric-value.bx--apim-metric-error {
  color: #e71d32;
}

.analyticsWidgetContainer .bx--tile {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}