@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.block-region-content.block-main {
  box-sizing: border-box;
  width: 100%;
}

.node-type-api h1#page-title,
.node-type-application h1#page-title,
.node-type-product h1#page-title,
.page-api h1#page-title,
.page-application h1#page-title,
.page-product h1#page-title,
.frontpage h1#page-title,
.page-home h1#page-title {
  display: none;
}

body.node-type-product .main-content-header,
body.node-type-api .main-content-header {
  margin: 0 20px;
}

.portal {
  width: 100%;
}

.apimImageActions {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.portal .highlightText {
  font-size: medium;
  margin-right: 5px;
}

.oauthContainer {
  margin-top:10px;
}
.oauthContainer .explanationText {
  min-width:160px;
  display:inline-block;
}
.oauthContainer .oauthText {
  font-weight:bold;
}

p.apimTitle {
  margin-bottom: 10px;
  display: inline;
  margin-right: 25px;
  width: 100%;
}

.apimSummaryTitle .apimTitle .versionText {
  font-size: 0.7em;
  color: #333;
}

.embedded .apimSummary {
  border-bottom: 0;
}

@media only screen and (max-width:640px) {
  .apimTeaser {
  float: none;
  width: 100%;
  }	
}
/* override the 50% for search results */
li .apimTeaser {
  width: 100%;
}

.apimOuterContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.apimSummary {
  height: 100%;
  margin-right: 24px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.apimInnerContainer {
  padding: 8px;
}
.apimTeaserRating {
  float: right;
  display: inline-block;
}

h3.apimSummaryTitle {
  margin-bottom: 0;
  font-size: 1.2em;
}
h4.apimSummaryTitle {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.08em;
}

.apimSummaryTitle .apicount {
  font-size: 0.83em;
  padding: 0 15px;
}

.apimUpdated {
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  display: block;
}

.apimIcon {
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  min-width: 48px;
  min-height: 48px;
}

.apimAPIImage .apimIcon {
  margin: auto;
  width: 100%;
  text-align: center;
}
.apimIcon .field {
  padding: 0;
}
.apimIcon .field .field-type-image figure {
  padding: 0;
  margin-bottom: 0;
}

.apimIcon .field .field-type-image figure img {
  margin: auto;
}
.apimTeaser .apimIcon {
  width: 70px;
  height: 70px;
}

.node-product.node-teaser h2.apimSummaryTitle,
.node-api.node-teaser h2.apimSummaryTitle,
.node-application.node-teaser h2.apimSummaryTitle {
  margin-top: 10px;
}

.node-teaser .apimTeaser .apimIcon {
  width: 48px;
  height: 48px;
}
.apimTeaser .apimIcon figure.clearfix.field-item {
  margin: 0;
  padding-top: 0;
}
.apimIcon .ia-c .field-type-image figure, 
.apimIcon .ia-n .field-type-image figure, 
.apimIcon .iat-c .field-type-image figure, 
.apimIcon .iat-n .field-type-image figure {
  padding: 0;
}

.productTeaser .apimInnerContainer,
.applicationTeaser .apimInnerContainer,
.apiTeaser .apimInnerContainer {
  display: table;
  width: 100%;
}
.apimTeaser.embedded .apimInnerContainer{
  display: block;
  padding: 0;
}

.productTeaser .apimIcon,
.applicationTeaser .apimIcon,
.apiTeaser .apimIcon {
  display: table-cell;
  float: none;
  padding-right: 20px;
  vertical-align: top;
  min-width: 70px;
}

.productTeaser .apimTeaserContainer,
.applicationTeaser .apimTeaserContainer,
.apiTeaser .apimTeaserContainer {
  display: inline-block;
  width: 100%;
}

.appPlanName {
  color: #43484a;
  padding: 15px;
  margin: 0;
}

.apiPlanSummary .appPlanName h3 {
  font-weight: 700;
}

.appPlanName .planActions {
  padding-right: 10px;
  float: right;
}

.apimMainContent .subscriptionsWrapper .planWrapper {
  margin-bottom: 20px;
}

.apimDescriptionContainer {
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
}

.apimSummaryDescription {
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  display: block;
  max-height: 66px;
  margin-top: 8px;
}

.apimSummaryDescription p {
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0;
}

.docFile {
  display: block;
}

.api .apimTitleContainer {
  display: inline-block;
}
div.credentialTitle {
  font-weight: bold;
  font-size: 1.1em;
}
div.credentialTitle .addCredentials {
  font-weight: normal;
  font-size: 0.9em;
  border-left: 1px solid #dddddd;
  margin-left: 15px;
  padding-left: 10px;
}

.planSelector {
  display: inline-block;
  border-left: 1px solid;
  padding-left: 30px;
  margin-left: 0;
}
.plan .planSelector {
  border: 0;
}

.plan .authInfo {
  border-right: 1px solid;
}

.displayInlineTop {
  display: inline-block;
  vertical-align: top;
}

.planName {
  line-height: 25px;	
}

.apimMainContent {
  clear: both;
}

.clearBoth {
  clear: both;
}

.apiDocLeft {
  float: left;
  padding-right: 2em;
  width: 100%;
  padding-bottom: 5px;
}
.apiDocLeft.shortname {
  width: 20%;
}

.apiDocRight {  
  padding-bottom: 5px;
  margin-left: 30%;
}

.docFile .docLink {
  display: inline-block;
  word-wrap: normal;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%
}

.apiDocumentFileName {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
}

.apiDocumentIcon {
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}
.apiDocumentIcon.bmpDocType {
  background-image: url(../images/filetypes/bmp.png);
}
.apiDocumentIcon.cssDocType {
  background-image: url(../images/filetypes/css.png);
}
.apiDocumentIcon.defaultDocType {
  background-image: url(../images/filetypes/default.png);
}
.apiDocumentIcon.docDocType {
  background-image: url(../images/filetypes/doc.png);
}
.apiDocumentIcon.gifDocType {
  background-image: url(../images/filetypes/gif.png);
}
.apiDocumentIcon.htmlDocType {
  background-image: url(../images/filetypes/html.png);
}
.apiDocumentIcon.jpgDocType {
  background-image: url(../images/filetypes/jpg.png);
}
.apiDocumentIcon.pdfDocType {
  background-image: url(../images/filetypes/pdf.png);
}
.apiDocumentIcon.pngDocType {
  background-image: url(../images/filetypes/png.png);
}
.apiDocumentIcon.pptDocType {
  background-image: url(../images/filetypes/ppt.png);
}
.apiDocumentIcon.rtfDocType {
  background-image: url(../images/filetypes/rtf.png);
}
.apiDocumentIcon.txtDocType {
  background-image: url(../images/filetypes/txt.png);
} 
.apiDocumentIcon.xlsDocType {
  background-image: url(../images/filetypes/xls.png);
}
.apiDocumentIcon.xmlDocType {
  background-image: url(../images/filetypes/xml.png);
}
.apiDocumentIcon.xslDocType {
  background-image: url(../images/filetypes/xsl.png);
}
.apiDocumentIcon.zipDocType {
  background-image: url(../images/filetypes/zip.png);
}

.includedPlansTitle,
.includedAPIsTitle {
  padding: 20px 0;
}
.includedPlansTitle {
  padding-bottom: 5px;
}

.plansection {
  margin-top: 20px; 
}
.plansection .planintro {
  margin-top: 0;
}

.portal .tableHeaderBackground.clearTable {
  background-color: inherit;
  border: none;
  padding-left: 7px;
  min-height: 29px;
  line-height: 29px;
  color: #70787A;
  word-break: break-all;
  border-bottom: 1px solid #e4e4e4;
}

.portal .portalApi .resourceMethod {
  width: 65px;
  margin-right: 10px;
  line-height: 21px;
}

.portal .portalApi.wsdl .resourceMethod {
  width: 150px;
}
.tableHeaderBackground .column {
  display: inline-block;
  vertical-align: top;
}
.portal .portalApi .resourcePathShort {
  width: 250px;
  margin-right: 10px;
  line-height: 21px;
}

.portal .portalApi.wsdl .resourcePathShort {
  width: 200px;
}
.apiPlanSummary .portal .portalApi .resourcePathShort {
  width: auto; 
}
.portal .portalApi .resourceName {
  width: 150px;
  margin-right: 10px;
  line-height: 21px;
}
.node-plan .portalApi .resourceName {
  width: 120px;
}
.portal .portalApi .resourceDesc {
  width: 265px;
  margin-right: 10px;
  line-height: 21px;
}
.node-plan .portalApi .resourceDesc {
  width: 195px;
}
.portal .portalApi .resourceIdentification {
  width: 80px;
  margin-right: 10px;
  line-height: 21px;
}
.portal .portalApi .resourceAuthentication {
  width: 90px;
  margin-right: 10px;
  line-height: 21px;
}
.portal .portalApi .resourceRateLimit {
  width: 130px;
  line-height: 21px;
}
.portal .portalApi .resourceAnalytics {
  width: 80px;
  line-height: 21px;
}
.portal .portalApi .resourceAnalytics .analyticsIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/charts_16_over.png) no-repeat center;
}
.portal .portalApi .resourceAnalytics:hover .analyticsIcon {
  background-image: url(../images/charts_16_on.png);
}
.node-plan .portalApi .resourceRateLimit {
  width: 180px;
}
.portal .resourceHeadline {
  padding: 10px 0 10px 20px;
  background-color: #ffffff;
  border-right: 1px solid inherit;
  width: 732px;
}
.portal .resourcePlanView .resourceHeadline {
  border-right: 0;
  padding-left: 5px;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}

.portal .portalApi .tableHeaderBackground .resourceMethod {
  margin-right: 20px;
}

.portal .tableLabel {
  display: none;
}

div.elipsis-names {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 64em;
}

a.elipsis-names {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 64em;
}

/* hide the tasks tabs for applications */
.node-type-application #main-content-header #tasks,
.page-application #main-content-header #tasks {
  display: none;
}

.passwordToggleContainer {
  display: inline-block;
}
.passwordToggleContainer a.buttonLink {
  margin-left: 25px;
}
input.toggle-password,
input.clientSecretInput {
  background-color: inherit;
  border: 1px solid #dddddd;
  color: inherit;
  min-width: 350px;
  font-family: inherit;
  font-size: 1.15em;
  line-height: 1.5em;
  padding-left: 3px;
  margin-right: 20px;
}
.passwordToggleContainer label {
  display: inline;
}
.messages input.toggle-password {
  min-width: 490px;
}

/* Notification Block */
.notification {
  color: #fffdfc;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin: 0;
  padding-top: 2px;
  text-align: center;
}
.notification button,
.notification button:hover,
.notification button:focus,
.notification button:active {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  margin: 0;
  padding: 0 0 10px;
}
.notificationBox {
  background: none repeat scroll 0 0 #ddd;
  border: 2px solid #ddd;
  border-radius: 3px;
  height: 18px;
  min-width: 18px;
  position: relative;
  color: #222;
  line-height: 14px;
}
.notificationBox.greyBox {
  background: none repeat scroll 0 0 #dddee0;
  border: 2px solid #dddee0;
}

/* Notification Messages */
.activityViewFloatLeft {
  float: left;
  margin-left: 10px;
}
.activityViewFloatRight {
  float: right;
  margin-right: 10px;
}
.activityView {
  margin-left: auto;
  margin-right: auto;
  padding-top:10px;
}
.activityViewInner {
  padding-bottom:20px;
  border-top: 1px solid #b6b7bd;
}
.notificationBackground {
  border: 1px solid #d8cecc;
  border-radius: 3px;
  height: auto;
  margin-top: 13px;
  min-width: 474px;
  overflow: auto;
}
.notificationBackground:after, .notificationBackground:before {
  border: medium solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 97%;
  margin-bottom: -13px;
  pointer-events: none;
  position: absolute;
  width: 0;
}
.notificationBackground:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f8efef;
  border-width: 4px;
  margin-left: -7px;
}
.notificationBackground:before {
  border-color: rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) #8c8c8c;
  border-width: 4px;
  margin-left: -7px;
}
.viewActivities .activityFeedButtonSelected {
  background-image: -moz-linear-gradient(center top , #b0d6e2, #c2e6f2) !important;
  box-shadow: 0 0 5px #dedede inset;
}
.viewActivity {
}
.viewActivityInner {
  padding-top:10px;
  float:left;
}
.viewActivity .subText {
  color: #868686;
  font-size: 0.95em;
  padding-top: 10px;
  padding-bottom: 5px;
}
.viewActivity .paddingHorizontal {
  padding-left: 10px;
  padding-right: 10px;
}
.activityBorder {
  border-bottom: 1px solid #b6b7bd;
}
.activityBorderMargin {
  border: 1px solid #b6b7bd;
  margin-top: 20px;
}
.viewActivity .statusIcon {
  background-position: 0 0;
  height: 24px;
  width: 24px;
}

.notificationStatusIconAlignment {
  vertical-align: middle;
  max-width: 700px;
}

.statusIconAlignment {
  vertical-align: top;
}

.notificationMessageAlignment, .portal .notificationBackground .notificationMessageAlignment {
  margin-left: 30px;
  margin-top: -25px;
}

.portal .notificationMessageAlignment {
  margin-top: 0;
}

.messageAlignment {
  margin-left: 10px;
}
.viewActivity .statusIcon.queued, .viewActivity .statusIcon.started, .viewActivity .statusIcon.running {
  background-image: url("../images/activity/loadingAnimation24px.gif");
}
.viewActivity .statusIcon.ALERT, .viewActivity .statusIcon.warning {
  background-image: url("../images/activity/warning_24.png");
}
.viewActivity .statusIcon.ERROR, .viewActivity .statusIcon.FAIL, .viewActivity .statusIcon.severe, .viewActivity .statusIcon.error, .viewActivity .statusIcon.errored, .viewActivity .statusIcon.complete_with_errors {
  background-image: url("../images/activity/error_24.png");
}
.viewActivity .statusIcon.EVENT, .viewActivity .statusIcon.INFO {
  background-image: url("../images/activity/info_24.png");
}
.viewActivity .statusIcon.SUCCESS, .viewActivity .statusIcon.complete {
  background-image: url("../images/activity/success_24.png");
}
/* override JQuery UI gradient headers */
.ui-widget-header {
  background:  none;
  border: 0;
}

.form-item.form-type-radios.form-item-interval label {
  color: #999;
  font-size: 0.923em;
  font-weight: 600;
  letter-spacing: 0.25em;
  line-height: normal;
  text-transform: uppercase;
}
.form-item.form-type-radios.form-item-interval label.option {
  text-transform: none;
  color: inherit;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: normal;
}

.form-actions.form-wrapper input.form-submit{
  line-height: 1.2em;
}

img.notifcationSettingsIcon {
  padding: 1px;
}

img.uploadIcon,
img.removeIcon {
  vertical-align: middle;
}

div.appClientReset,
div.appSecretReset,
div.appSecret {
  margin-bottom: 10px;
}

body.page-myorg .columns-inner #breadcrumb {
  display: none;
}

.myorgAddUserLink {

}
.myorgEditLink {
  float: left;
  font-weight: bold;
}

.myorgLinks .form-item-role .description {
  display: block;
  padding-bottom: 20px;
}

span.dropit-icon.ui-icon-triangle-1-s {
  display: inline-block;
}

span.dropit-icon {
  margin-top: 2px;
}

ul.dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.apimTeaser h3.apimSummaryTitle {
  margin-top: inherit;
}

.swaggerHeader {
  font-size: 1.2em;
}
.apimTitleContainer .apimTitle span,
.apimMainContent span.apimTitle,
.swagger-ops-title.apimTitle,
.planName.planName,
.includedAPIsTitle,
.includedPlansTitle,
.swaggerHeader span.swaggerTitle  {
  font-size: 2em;
}
.swaggerHeader span.swaggerTitle {
  display: block;
}

div.api_description,
div.app_client_id,
div.app_oauth_redirecturi,
div.client_secret {
  margin-bottom: 10px;
}
div.passwordToggleContainer {
  margin-bottom: 10px;
  display: inline-block;
}
label.apiClientSecret,
label.apiClientID {
  display: inline-block;
}
div.credentialTable {
  border-bottom: 1px solid #ddd;
}
div.credentialContainer {
  padding: 10px;
}

div.credentialDescriptionRow {
  border-bottom: 1px solid #ccc;
  padding: 5px 20px 5px 20px;
}

div.credentialDescription {
  display: inline-block;
}
div.credentialActions {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

div.appTitleActions span + span,
div.credentialActions a + a,
div.apimImageActions span + span,
div.planActions span + span {
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
}

div.credentialInfo {
  padding: 10px;
}
.portalApi.animateMaxHeight {
  max-height: 800px; 
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid rgb(204, 204, 204);
}

.apimSummaryDescription .portalApi.animateMaxHeight {
  border-top: 0;
}

.portalApi .tableHeaderBackground {
  margin-top: 6px;
}

.apimTitleContainer .displayInlineTop {
  padding-right: 20px; 
}
.apimTitleContainer .displayInlineTop.planName {
  margin-bottom: 20px; 
  border-right: 1px solid #CCC;
}
/* checkboxes on admin panel */
.fieldDiv, .requiredDiv {
  display:inline-block;
  vertical-align: top;
}
.requiredDiv .spacerDiv{
  margin-bottom: 0;
  display: inline-block;
}
.requiredFieldDiv .form-item {
  display:inline-block;
  margin-bottom: 0;
}
.requiredFieldDiv .form-item .requiredCheckbox {
  margin-left: 20px;
}
/* some nasty CSS to change the password strength meter colors */
div.password-indicator div[style="width: 10%;"] {
  background-color: #bb5555;
}

.ui-accordion .ui-state-default,
.ui-accordion .ui-widget-content .ui-state-default,
.ui-accordion .ui-widget-header .ui-state-default {
  background: none; 
  border: 0;
}

.ui-accordion .portalApi.animateMaxHeight {
  border: 0;
}

.ui-accordion h3.ui-accordion-header.ui-state-default,
.ui-accordion h3.ui-accordion-header.ui-state-active {
  background: none;
  border: 0;
}

.myorgAddUserLink h3 {
  float: right;
  color: #0077d9;
  font-weight: bold;
}
.myorgAddUserLink h3 img {
  padding: 0 5px;
}
.ui-accordion .myorgAddUserLink .portalApi.animateMaxHeight {
  width: 100%;
  padding: 0;
  clear: both;
}

.productTeaser .ui-accordion h3,
.applicationTeaser .ui-accordion h3,
.apiTeaser .ui-accordion h3 {
  color: #0077d9;
  font-size: 1.4em;
}

.productTeaser .ui-accordion .portalApi.animateMaxHeight,
.applicationTeaser .ui-accordion .portalApi.animateMaxHeight,
.apiTeaser .ui-accordion .portalApi.animateMaxHeight {
  padding-top: 0;
}

.apiPlanSummary .resourceInfoLine {
  display: inline-block;
}
.apiPlanSummary .resourceNameAndRate {
  display: inline-block;
  float: right;
}
.apiPlanSummary .resourceDesc {
  display: block;
  clear: both;
}
span.flag-wrapper.flag-bookmarks {
  font-size: 1em;
  text-transform: none;
}
/* hide delete link for subscriptions since it doesnt work */
#notifications-account-manage-subscriptions-form ul.links li.delete {
  display: none;
}

.portal .apiPlanSummary .portalApi .planHeader .rate {
  display: inline;
  float: right;
}
.portal .apiPlanSummary .portalApi .planHeader .verb {
  display: inline;
  margin-left: 20px;
}
.portal .apiPlanSummary .portalApi .planHeader .path {
  display: inline;
  margin-left: 40px;
}

.portal .portalApi .testAPILink {
  margin-left: 6px;
}
.portal .swagger-ui-wrap .registerAppLink {
  margin: 0 5px;
}

.portal .appSuspended {
  color: #6a0000;
  font-weight: 700;
  margin: 10px 0;
  background: #ffd7dd;
}
.portal .migratePlanContainer {
  background: #dbeafc;
  padding: 20px;
  margin-bottom: 8px;
}
.portal .migratePlanContainer .migrateButton {
  float: right;
  display: inline;
}
.portal .migratePlanContainer .migratePlanText {
  display: inline;
}

.apimFade {
  position: relative;
  overflow: hidden;
  max-height: 3.6em; /* exactly three lines */
}
.apimFade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 70%);
}

/* d3 */
.linepath {
    fill:none;
    stroke:white;
    stroke-width:2px;
}

.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.tick {
    stroke-dasharray: 1, 2;
}

.bar {
    fill: FireBrick;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.path_avg {
    stroke: steelblue;
}
.path_max {
    stroke: red;
}
.path_min {
    stroke: green;
}
.path_success {
    stroke: #2ca02c;
}
.path_failure {
    stroke: #d62728;
}
.path_total {
    stroke: #9467bd;
}
.fill_avg {
    fill: steelblue;
}
.fill_max {
    fill: red;
}
.fill_min {
    fill: green;
}
.fill_success {
    fill: #2ca02c;
}
.fill_failure {
    fill: #d62728;
}
.fill_total {
    fill: #9467bd;
}
.circle-outer.path_avg {
  fill: steelblue;
  stroke: none;
}
.circle-outer.path_max {
  fill: red;
  stroke: none;
}
.circle-outer.path_min {
  fill: green;
  stroke: none;
}
.circle-outer.path_success {
  fill: #2ca02c;
  stroke: none;
}
.circle-outer.path_failure {
  fill: #d62728;
  stroke: none;
}
.circle-outer.path_total {
  fill: #9467bd;
  stroke: none;
}

.ui-tabs-vertical { 
  width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav { 
  padding: .2em .1em .2em .2em; 
  float: left; 
  width: 12em; 
}
.ui-tabs-vertical .ui-tabs-nav li { 
  clear: left; 
  width: 100%; 
  border-bottom-width: 1px !important; 
  border-right-width: 0 !important; 
  margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a { 
  display: block;
  width: 75%;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
  padding-bottom: 0; 
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel { 
  padding: 5px 1em 1em 1em;
  float: right; 
  width: 47em;
}

.plantabs.ui-tabs {
  border: 0;
  border-radius: 0;
}

.plantabs ul.ui-tabs-nav li {
  background: #f2f2f2 none;
  border: 0;
  border-radius: 0;
}
.plantabs ul.ui-tabs-nav li .selected-arrow {
  display: none;
}
.plantabs ul.ui-tabs-nav a.ui-tabs-anchor {
  color: #4c4c4c;
}
.plantabs ul.ui-tabs-nav li.ui-state-active {
  background-color: #0c69b6;
}
.plantabs ul.ui-tabs-nav li.ui-state-active a.ui-tabs-anchor {
  color: #ffffff;
}

.plantabs ul.ui-tabs-nav li.ui-state-active .selected-arrow {
  display: inline-block;
  float: right;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #ffffff;
  margin-top: 8px;
}

.plantab .apis {
  border-top: 1px solid #ddd;
}

.plantab .api {
  padding: 5px;
}

.plantab .api:nth-child(even) {
  background: #f2f2f2;
}

.plantab .api:nth-child(odd) {
  background: #ffffff;
}

.plantab .api:hover {
  background: #ecf0f9;
}

.plantab .api .disabled {
  color: #d2d2d2;
}

.plantab p.plancontentheader{    
  margin-bottom: 15px;
  padding: 0 5px;
}

.plantab p.plancontentheader .planapproval.disabled {
  color: #d2d2d2;
}

.plantab p.plancontentheader .deprecated {
  font-size: 0.9em;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  padding: 4px;
  margin: 0 10px;
  font-weight: 600;
}

.plantab p.plancontentheader .planratelimit{    
  float: right;
  color: #000000;
}

.plantab .api .apiratelimit {
  float: right;
}

.plantab .api .apiversion {
  color: #767676;
  padding-left: 10px;
}

.plantab img {
  vertical-align: middle;
  padding: 4px;
}

.plantab .planbutton {
  float: right;
}
.plantab .planbutton button {
  display: block;
  margin: auto;
}
.plantab .planbutton.notdev button,
.plantab .planbutton.notuser button,
.plantab .planbutton.notsubscribable button {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
p.productAPILink {
  margin-bottom: 0.6em;
  font-size: 13px;
}
p.all-apps-subscribed {
  border: 1px solid #dddddd;
  padding: 4px;
  background-color: #f9f9f9;
}
.simple-dialog-ajax-loader {
  background: url("../images/ajax-loader.gif") no-repeat center center;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.plantab .apis h3.ui-accordion-header .apititle {
  color: #0077d9;
}
.plantab .apis .ui-accordion-header-icon {
  display: none;
}
.plantab .ui-accordion h3.ui-accordion-header.ui-state-default,
.plantab .ui-accordion h3.ui-accordion-header.ui-state-active {
  padding: 0;
}

.form-item.form-disabled label.option {
  color: #767676;
  font-style: italic;
}

.plantab .path .pathname {
  color: #767676;
  padding: 15px 0 5px 0;
}
.plantab .path .pathname .opname.disabled {
  color: #d2d2d2;
}
.plantab .path .opname {
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  padding: 5px 0 5px 10px;
}
.plantab .path .opname .opratelimit {
  float: right;
}

/* fix path to images for modules_filter module */
.content #system-modules .expand.inner {
  background: transparent url(../../../../../misc/menu-collapsed.png) left 0.6em no-repeat;
  margin-left: -12px;
  padding-left: 12px;
}

.content #system-modules .expanded.expand.inner {
  background: transparent url(../../../../../misc/menu-expanded.png) left 0.6em no-repeat;
}

/* fix css for workbench_moderation module */
@media screen and (max-width: 1064px) {
  .content #workbench-moderation-states input.form-text {
    max-width: 150px;
  }
}


/* hide tags field on application create/edit form */
form#application-node-form .field-type-taxonomy-term-reference-form {
  display: none;
}
form#application-node-form .image-widget-data input[type="submit"], 
form#application-node-form .image-widget-data input.form-submit {
  line-height: 1.2em;
}
.form-item.form-type-password-confirm.form-item-pass label[for=edit-pass] {
  display: none;
}
button.simple-dialog {
  line-height: normal;
}

.pane-panels-mini.pane-popular-apis,
.panel-pane.featured_apis_title {
  background-color: #ffffff;
}

.node-type-product .nojs .help-text,
.node-type-api .nojs .help-text,
.node-type-application .nojs .help-text {
  border: 0;
}

.ui-dialog .ui-dialog-content {
  padding: 1em 1em;
}

.ui-dialog .ui-dialog-titlebar-close {
  background: #FFF;
  border: 0;
}

.node-content .field-type-taxonomy-term-reference ul li:after {
  content: ", ";
}

.interact .node-content .field-type-taxonomy-term-reference h2.field-label {
  color: #ccc;
}

.node-product .node-content,
.node-api .node-content,
.node-application .node-content {
  padding: 1em;
}

.node-product .node-content .field-type-taxonomy-term-reference h2.field-label,
.node-api .node-content .field-type-taxonomy-term-reference h2.field-label,
.node-application .node-content .field-type-taxonomy-term-reference h2.field-label {
  display: none;
}

.node-product .node-content .field-type-taxonomy-term-reference ul,
.node-api .node-content .field-type-taxonomy-term-reference ul,
.node-application .node-content .field-type-taxonomy-term-reference ul,
.node-product .node-content .field-type-taxonomy-term-reference ul li,
.node-api .node-content .field-type-taxonomy-term-reference ul li,
.node-application .node-content .field-type-taxonomy-term-reference ul li {
  display: block;
}

.apimMainContent.apimPlansApis .appPlanName {
  background: #f5f5f5;
}

#accordion.subPlanContainer {
  border: 1px solid #f5f5f5;
  padding: 0 0.7em;
}

.ui-accordion .portalApi.animateMaxHeight.subAPIContent {
  border: 1px solid #e5e5e5;
  font-size: 13px;
}

.subPlanContainer > div {
  margin: 0.7em 0;
}

.ui-accordion h3.ui-accordion-header.subApiContainer {
  padding: 0.7em 0.7em 0.7em 2.2em;
  background: #e5e5e5;
  border-radius: 0;
  font-size: 13px;
}

.ui-accordion h3.ui-accordion-header.ui-state-default.subApiContainer {
  box-shadow: 2px 2px 2px #ddd;
}

.ui-accordion h3.ui-accordion-header.ui-state-active.subApiContainer {
  box-shadow: none;
}

.role-administrator.node-type-api header.main-content-header,
.role-administrator.node-type-product header.main-content-header,
.role-administrator.node-type-application header.main-content-header {
  padding: 0 20px;
}

.apiwrapper {
  margin: 20px 0;
}

.admin-menu .admin-menu-position-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

#admin-menu,
#admin-menu .dropdown {
  z-index: 999 !important;
}

.role-administrator .stickynav-active,
.role-administrator .stickynav-processed,
.role-content_author .stickynav-active,
.role-content_author .stickynav-processed,
.role-forum_moderator .stickynav-active,
.role-forum_moderator .stickynav-processed {
  top: 29px;
  position: fixed;
  z-index: 400;
  width: 100%;
}

.content-column div.contextual-links-wrapper {
  z-index: 900;
}

body.admin-menu.adminimal-menu:before {
  height: 114px;
}

.apicSelfClear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 1.5em 1.5em;
}

.ui-dialog .ui-dialog-title {
  font-size: 1.3em;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 1em;
}

.ui-dialog .ui-dialog-content {
  padding: 0 1.5em 1.5em 1.5em;
  font-size: 1.1em;
}

.ui-dialog .form-item .description {
  font-size: 1em;
}

.a2apage_dropdown .a2a_svg.a2a_s__default {
  font-size: 1.2em;
  line-height: 2em;
}

.planWrapper > .ui-accordion.ui-widget {
  margin: 0 10px;
}

tbody td.ctools-export-ui-operations .ctools-dropbutton {
  text-align: left;
  position: absolute;
  right: 30px;
}

.apimSummaryTitle .deprecated .protocol,
.readAndInteract.product .deprecated .protocol {
  display: inline-block;
  font-size: 0.7em;
  padding: 2px 7px;
  border: 1px solid #100011;
}

.readAndInteract.product .deprecated .protocol {
  float: right;
}

iframe#analytics-iframe {
  border: 1px solid #ddd;
}

.block ul.analyticsAppSelector {
  width: 100%;
  list-style-type: none;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0;
  border-bottom: 0;
}

.block ul.analyticsAppSelector li {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  height: 97px;
  vertical-align: top;
  border: 1px solid #ddd;
}

.block ul.analyticsAppSelector li.all .icon {
  font-size: 3em;
}

.block ul.analyticsAppSelector li.app .field {
  padding: 0;
}

.block ul.analyticsAppSelector li.app .field-type-image figure {
  margin: 13px 0 5px 0;
}

.block ul.analyticsAppSelector li.app img {
  margin: auto;
}

.block ul.analyticsAppSelector li.selected {
  background: #ddd;
}

.all-apps-subscribed p.newapp a,
.all-apps-subscribed p.all-apps-subscribed a,
p.newapp a,
p.all-apps-subscribed a {
  color: #5aaafa;
}

.page-user .columns-inner div#breadcrumb {
  display: none;
}

.page-user .columns-inner #tasks ul.tabs.secondary {
  border-top: 0;
}

article.node-product.node-teaser,
article.node-application.node-teaser,
article.node-api.node-teaser {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 600px;
}

.page-user .hybridauth-widget-wrapper {
  margin-bottom: 40px;
}

.node-type-application .multiRateLimits {
  display: inline-block;
}

.node-type-application .plansFooter {
  padding-top: 15px;
  font-size: 0.8em;
  color: #444849;
}

.ratePopup {
  padding: 10px;
  font-size: 0.89rem;
}

.ratePopup .rateLabel,
.ratePopup .burstLabel {
  font-weight: bold;
  padding-bottom: 5px;
}

.ratePopup .burstLabel {
  padding-top: 8px;
}

/* some styling for the openid connect buttons */
.block-openid-connect form input[name~="generic"],
.openid-connect.generic {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../social_login/images/openid.png) 0 0 no-repeat;
}

.block-openid-connect form input[name~="google"],
.openid-connect.google  {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  border: 0;
  background: rgba(0, 0, 0, 0) url(../social_login/images/google.png) 0 0 no-repeat;
}

/* styling for book pages */
.node-book .note .notetitle {
  font-weight: bold;
}

.node-book .book-navigation .menu {
  padding: 1em 3em;
}

.node-book .filepath {
  font-family: "DejaVu Sans Mono", monospace, sans-serif;
}

.node-book .uicontrol {
  font-weight: bold;
}

.node-book .codeph,
.node-book .userinput {
  font-family: "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 100%;
}

#block-ibm-apim-app-details-menu .registerApp {
  padding: 5px 15px;
  border: 1px solid #5aaafa;
}

.page-product-select .block-main > h4 {
  width: 70%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.field-type-file table.sticky-table {
  table-layout: fixed;
}

.field-type-file .sticky-table thead th:last-child,
.field-type-file .sticky-table tr td:last-child {
  width: 80px;
}

/* ensure notification dialog is on top */
.ui-front {
  z-index: 1000;
}

.ui-dialog {
  z-index: 2000;
}

/* no outline on dialog close button */
.ui-dialog-titlebar.ui-widget-header button:focus {
  outline: none;
}