.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.clearBoth {
  clear: both;
}
.fullWidth {
  width: 100%;
}
.highlightText {
  color: #5aaafa;
}
button.mesh {
  background: white;
  color: #5aaafa;
  padding: 5px 15px;
  border: 1px solid #5aaafa;
}
button.mesh:hover {
  background: #5aaafa;
  border: 1px solid #5aaafa;
  color: white;
}

button.mesh:disabled {
  background: #ebebe4;
  border: none;
  color: #ffffff;
  cursor: not-allowed;
}
button.material-icons {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  min-width: 0;
  min-height: 32px;
  color: #5aaafa;
  font-weight: normal;
}
button.material-icons:hover {
  border: none;
  color: #5aaafa;
}
button.material-icons:disabled {
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
.tabs {
  margin-bottom: 15px;
  font-size: 0;
}
.tabs:after {
  clear: both;
  content: '';
  display: table;
}
/*.tabs {
  float: none;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.tabs.tabs-major {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #ccc;
}

.tabs.tabs-minor {
  margin-top: 20px;
}*/
.tabs .tab {
  display: inline;
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
}
/*.tabs li {
  display: inline-block;
  margin: 0;
  padding: 0;
}*/
/*.tabs input[type="radio"] {
  position: absolute;
  display: none;
}*/
/*.tabs .tab-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 15px;
}*/
/*.tabs.tabs-minor .tab-content {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
}*/
/*.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}*/
.tabs .tab-label {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-size: 1rem;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
}
.tabs.tabs-major .tab-label {
  margin: 0px 0px 4px 0px;
  padding-bottom: 12px;
}
.tabs.tabs-minor .tab-label {
  margin: 0px;
}
/*.tabs label {
  margin: 0px 0px 4px 0px !important;
  display: block;
  padding: 0px 20px;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}*/
/*.tabs.tabs-minor label {
  padding-top: 5px;
}*/
.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}
.tabs .tab-panel {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}
.tabs .tab-content {
  display: block;
  padding: 15px;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
}
.tabs.tabs-major .tab-content {
  border-top: 1px solid #e4e4e4;
}
.tabs.tabs-minor .tab-content {
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
}
.tabs .tab [type="radio"]:checked + .tab-label {
  color: white;
}
.tabs.tabs-major .tab [type="radio"]:checked + .tab-label {
  border-bottom: 4px solid white;
  margin: 0 0 0 0 !important;
}
.tabs.tabs-minor .tab [type="radio"]:checked + .tab-label {
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}
.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}
.tabs-content .tab-panel {
  display: none;
}
.tabs-content .tab-panel.visible {
  display: inline;
}
/*.tabs [id^="tab"]:checked + label { 
  top: 0;
}*/
/*.tabs.tabs-major [id^="tab"]:checked + label {
  border-bottom: 4px solid white;
  margin: 0px 0px 0px 0px !important;
}*/
/*.tabs.tabs-minor [id^="tab"]:checked + label {
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}*/

.plan .title .material-icons {
  vertical-align: middle;
  padding: 0 10px;
}

.comments {
  margin: 15px;
}