.page-node-type-application h1.page-header {
  display: none;
}

.application-view .masonry-layout .masonry-item {
  width: auto;
  border: 0;
  background: none;
}

.application-view .views-exposed-form{
  display: flex;
  justify-content: space-between;
}

.apicNewAppWrapper .button {
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.apicAppTeaser {
  display: flex;
}
.apicAppTeaserMain {
  flex: 1;
}
.apicAppTeaserMain h2 {
  display: flex;
  margin-bottom: 10px;
}
.apicAppTeaserMain h2 a {
  display: flex;
  padding-right: 10px;
}
.apicAppTeaserMain h2 a span:first-of-type {
  padding-right: 4px;
  margin-bottom: 0;
}
.apicAppTeaserMain .field {
  margin-bottom: 0;
}
.apicAppName {
  max-width: 500px;
}
.apicAppIcon {
  margin-right: 0.75rem;
}
.apicAppIcon img {
  border: 0;
  max-width: 40px;
  max-height: 40px;
}
.applicationType {
  background-color: #8897a2;
  color: #fff;
  padding: .5rem;
  vertical-align: middle;
  font-size: 0.75rem;
  display: inline-flex;
  height: 1.25rem;
  border-radius: 1rem;
  -webkit-box-align: center;
  align-items: center;
  align-self: flex-start;
  margin-top: 1.5rem;
}
.applicationType.development {
  background-color: #ff8500;
}
.applicationType.production {
  background-color: #80b723;
}

.apicAppActions a {
  padding: 0 4px 0 8px;
}
.apicAppActions a + a,
.apicAppActions span + a {
  border-left: 1px solid #ccc;
}
.apicAppActions a i{
  margin-right: 4px;
}

.apicAppCredential h4 {
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  margin-bottom: 0;
}
.apicAppCredential .field__label {
  font-weight: normal;
}

.apicAppCheckButton label {
  font-weight: normal;
  display: inline-block;
}
.applicationWrapper header.titleSection {
  background-color: #fff;
}

.applicationWrapper header.titleSection .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 8px 0;
}
.titleSection .applicationTitle .applicationLogo,
.titleSection .applicationTitle .applicationName {
  display: inline-block;
  font-weight: 400;
  margin: 0;
}
.applicationWrapper .titleInnerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.applicationWrapper .titleInnerWrapper .rightTitle {
  display: inline-flex;
  align-items: center;
}
.applicationWrapper .rightTitle .applicationMenu {
  margin-left: 16px;
}
.applicationWrapper .applicationTitle {
  display: flex;
  align-items: center;
}
.applicationWrapper .contentInnerWrapper {
  padding-top: 2rem;
}

.applicationWrapper .titleSection .leftTitle {
  width: calc(100% - 3rem);
  margin-bottom: 1rem;
}

.applicationWrapper .enforcedEventsNotification {
  margin: 1rem 0 0 3rem;
}

/* tabs in application details view */
.applicationWrapper .titleSection .applicationTabs {
  background-color: #fff;
  flex-basis: 100%;
}
.applicationWrapper .titleSection .applicationTabs ul,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs ul {
  flex-direction: row;
  padding-left: 0;
  display: flex;
  max-width: 100%;
  max-height: none;
  overflow-x: auto;
  transition: inherit;
  margin-bottom: 0;
}
.applicationWrapper .titleSection .applicationTabs li,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li {
  list-style: none;
  color: #161616;
  height: auto;
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: initial;
  border: 0;
  display: flex;
  padding: 0;
  cursor: pointer;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9);
}
.applicationWrapper .titleSection .applicationTabs li a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a {
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #525252;
  width: 10rem;
  margin: 0;
  padding: .75rem 1rem .5rem;
  border-bottom: 2px solid #e0e0e0;
  transition: color 70ms cubic-bezier(.2,0,.38,.9),border-bottom-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
}
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a {
  padding-left: 0;
  overflow: hidden;
}
.applicationWrapper .titleSection .applicationTabs li.selected,
.applicationWrapper .titleSection .applicationTabs li:hover,
.applicationWrapper .titleSection .applicationTabs li:focus,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus {
  color: #161616;
}
.applicationWrapper .titleSection .applicationTabs li.selected a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected a{
  border-bottom: 2px solid #3d70b2;
  color: #161616;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: .16px;
}

.applicationWrapper .titleSection .applicationTabs li:hover a,
.applicationWrapper .titleSection .applicationTabs li:focus a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus a {
  color: #161616;
  border-bottom: 2px solid #8d8d8d;
}

.applicationCredentials .credentialsTable,
.applicationSubscriptions .subscriptionsTable {
  background-color: #fff;
  border: 1px solid #ddd;
}
.applicationCredentials .credentialsTable .credentialsHeader,
.applicationSubscriptions .subscriptionsTable .subscriptionsHeader {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsTitle,
.applicationSubscriptions .subscriptionsTable .subscriptionsHeader .subscriptionsTitle {
  line-height: 26px;
  font-weight: bold;
  font-size: 0.875rem;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsAdd,
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsManage {
  display: inline-block;
  vertical-align: bottom;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsAdd{
  margin-right: 16px;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsAdd:hover{
  background-color: #e5e5e5;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsAdd svg {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.applicationCredentials .credentialsTable .credentialsContent {
  padding: 0 1rem 1rem;
}
.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions {
 display: flex;
 align-items: center;
}
.clientIDContainer,
.clientSecretContainer {
  padding: 12px 0;
}
.clientIDContainer .field__label,
.clientSecretContainer .field__label,
.applicationCredentials .credentialsTable .credentialsContent .credentialsData .field__label {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
  color: #152935;
  display: block;
  line-height: 16px;
  letter-spacing: 0.32px;
}
.applicationCredentials .credentialsTable .credentialsContent .apicAppCheckButton {
  display: inline-block;
}
.applicationCredentials .credentialsTable .credentialsContent .apicAppCheckButton.verifyButton {
  margin-left: 0;
}
.applicationCredentials .credentialsTable .credentialsContent .credentialsData .clientSecretContainer .form-item {
  display: inline-block;
}
.applicationCredentials .credentialsTable .credentialsContent .credentialsData .credentialSummary {
  padding: 10px 0;
}
.appSecret button.shwpd, appId button.shwpd, .clientIDContainer button.shwpd {
  margin-left: 1rem;
}
.applicationSubscriptions {
  margin-top: 30px;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent .product {
  display: inline-flex;
  align-items: center;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent table {
  width: 100%;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent table thead {
  background: #e0e0e0;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent th {
  padding: 0.5rem 1rem;
  display: table-cell;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent th:first-child,
.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody td:first-child {
  text-align:left;
  padding-left: 1rem;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody td {
  padding: 0.5rem;
  line-height:1.25;
  text-align: center;
  vertical-align: middle;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody tr.member-odd {
  background-color: #f0f3f6;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody tr.member-even {
  background-color: #ffffff;
}

.applicationSubscriptions .subscriptionsTable .noSubsFound {
  padding: 1rem;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent .subscriptionMenu {
  text-align: end;
}
.applicationSubscriptions .subscriptionsTable .subscriptionsContent .subscriptionMenu .dropitmenu-submenu {
  text-align: start;
}
.miniApplicationLogo img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.applicationContent .applicationDescription,
.applicationContent .customFields {
  margin-bottom: 1.25rem;
}
.applicationContent .applicationDescription .field--label,
.applicationContent .customFields .field--label {
  padding-bottom: 6px;
}
.application-notification-settings-form p.intro {
  margin-bottom: 20px;
}
.field--name-application-redirect-endpoints table.field-multiple-table .form-item input,
.field--name-application-redirect-endpoints table.field-multiple-table .form-item input:hover,
.field--name-application-redirect-endpoints table.field-multiple-table .form-item input:focus {
  width: inherit;
}
.field--name-application-redirect-endpoints table.field-multiple-table {
  margin-bottom: 0;
}
.field--name-application-redirect-endpoints .field-multiple-table tbody {
  display: block;
}
.field--name-application-redirect-endpoints .field-multiple-table tbody tr:first-child td {

}

.field--name-application-redirect-endpoints .field-multiple-table th {
  display: none;
}
.field--name-application-redirect-endpoints .field-multiple-table th.field-label {
  display: table-cell;
  color: #152935;
  line-height: normal;
  border-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  padding-left: 0;
}
.field--name-application-redirect-endpoints .field-multiple-table tr.odd,
.field--name-application-redirect-endpoints .field-multiple-table tr.even,
.field--name-application-redirect-endpoints .field-multiple-table tr {
  background: none;
}
.field--name-application-redirect-endpoints .field-multiple-table tr td {
  border-top: none;
  padding: 0;
}
.field--name-application-redirect-endpoints .field-multiple-table div.form-type-textfield {
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;

}

.field--name-application-redirect-endpoints .form-item .clearfix {
  padding-right: 10px;
}

/* application cards */
.node--type-application.bx--card {
  min-height: unset;
  min-width: 20rem;
  height: 15rem;
  max-width: 20rem;
}

.node--type-application.bx--card .apicCardIcon img, .node--type-application.bx--card .apicCardIcon.bx--about__icon {
  width: 2rem;
  height: 2rem;
}

.node--type-application.bx--card .apicAppCardMain {
  height: 5.5rem;
}
.node--type-application.bx--card .apicAppCardMain .bx--about__title--name {
  width: auto;
  font-size: 0.875rem;
  line-height: 18px;
  word-break: break-word;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}
.node--type-application.bx--card .apicAppCardMain .applicationType {
  margin: 0 0 10px 0;
}
.node--type-application.bx--card .apicAppCardMain .apicAppDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.16px;
  line-height: 20px;
  text-align: left;
}

.apicAppStatus {
  display: flex;
}

.apicAppStatus:before {
  content: ' ';
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  margin-right: 0.25rem;
  background-color: #5aa700;
}

.apicAppStatus.disabled:before {
  background-color: #5a6872;
}

.apicAppStatus .apicStatusText {
  align-self: center;
}

.bx--card-footer__app-status {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.bx--card-footer__app-status > *,
.bx--card-footer__app-status > *:before,
.bx--card-footer__app-status > *:after {
  box-sizing: inherit;
}

.bx--card-footer__app-status .active {
  display: flex;
}

.bx--card .apicAppCard{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
}

.bx--card .apicAppCard{
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  max-width: 20rem;
}

.bx--card .apicAppDesc{
  font-size: 75%;
  line-height: 0.85rem;
}

/* media query */

@media screen and (max-width: 1024px) {
  .apicAppName {
    max-width: 300px;
  }
}
@media screen and (max-width: 640px) {
  .apicAppTeaser {
    flex-direction: column;
  }
  .apicAppTeaserMain {
    -ms-flex: 1 0 auto;
  }
  .apicAppTeaserMain h2 {
    flex-direction: column;
  }
  .apicAppTeaserMain h2 a {
    flex-direction: column;
  }
  .node .apicAppTeaser .apicAppDesc {
    margin-bottom: 10px;
  }
  .apicAppName {
    max-width: 500px;
  }
}

input.clipboardjs {
  width: 300px;
}

button.clipboardjs-button {
  padding: 3px 7px;
  border: unset;
  background: unset;
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin-left: 3px;
}

button.clipboardjs-button:hover {
  background-color: #e5e5e5;
}

button.clipboardjs-button:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  outline-color: #0f62fe;
}

button .bx--snippet__icon,
button .bx--snippet__icon:hover {
  fill: currentColor;
}

ul.overflow-menu.credentialsMenu.dropitmenu {
  margin-bottom: 0;
}
.offscreen-field {
  position: absolute;
  top: 0px;
  left: -1500px;
  color: transparent;
  font-size: 1px;
}

consumeranalytics .App {
  padding-top: 0;
}

.consumer_analytics_ui .contentInnerWrapper {
  padding-top: 1rem;
}
