.featuredcontent.featuredcontentBlockWrapper {
  margin: 1.5rem 3rem;
}

.featuredcontentNode {
  margin: 1.375rem 0;
  width: calc(25% - 16px);
  padding: 2.25rem 1.5rem;
  background-color:#fff;
  border: 1px solid #e7eaed;
}

@media (max-width: 1280px) {
  .featuredcontentNode {
    width: calc(33% - 14px);
  }
}

@media (max-width: 992px) {
  .featuredcontentNode {
    width: calc(50% - 11px);
  }
}

@media (max-width: 568px) {
  .featuredcontentNode {
    width: 100%;
  }
}

.featuredcontent h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

.featuredcontentBlockHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 1rem;
}

.featuredcontentNodeHeader {
  display:flex;
  align-items:center;
}

.featuredcontentNodeImage img {
  width: 80px;
  height: 80px;
}

.featuredcontentNodeImage {
  margin-right: 1.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

.featuredcontentNodeHeader .featuredcontentNodeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  word-break: break-word
}

.featuredcontentNodeInfo {
  padding-top:0.875rem;
}

.featuredcontentNodeInfo .featuredcontentNodeSummary,
.featuredcontentNodeInfo .featuredcontentNodeDescription {
  font-size: 0.75rem;
  line-height: 1.2;
}
