<div class="apicAppTotals" id="totals">
  <div class="apicAppTotalCalls" id="totalcalls">

  </div>
  <div class="apicAppTotalErrors" id="totalerrors">

  </div>
  <div class="apicAppAverageResponseTime" id="averageresponsetime">

  </div>
</div>
