.bean-banner-block.entity.entity-bean {
  display: none;
}

.banner_block {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.banner_block p {
  font-size: 1.25em;
}

.banner_block.nocustomimg {
  background-color: #0078cc;
  background-blend-mode: color-burn;
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: none) {
  .banner_block.nocustomimg {
    background-image: none !important;
  }
}

@supports (-ms-accelerator:true) {
  .banner_block.nocustomimg {
    background-image: none !important;
  }
}