// import connect variables
@import "connect-variables";

// Red color palette
$red-01: #e62325;
$red-02: #aa231f;
$red-03: #ff5c49;

$white-01: #fff;
$white-02: #fbf8f8;
$gray-01: #eaeaea;
$gray-02: #d8d8d8;
$gray-03: #c0bfc0;
$gray-04: #949394;
$gray-05: #464646;

$dark-gray-01: #272727;
$black-01: #000;


// theme variables
// these are the variables to override for custom theme creation
// Global body
$body-bg:            $white-01;


// Global text color
$text-color:                       $black-01;
$label-color:                      $black-01;
//** Global textual link color.
$link-color:                       $red-01;
//** Link hover color
$link-hover-color:                 $red-02;

$brand-primary:         $red-01;
$brand-primary-light:   $red-03;
$brand-primary-dark:    $red-02;

// Placeholder text color
$input-color-placeholder:        $gray-04;

// Navbar variable overrides
$navbar-default-color:             $white-01;
$navbar-default-bg:                $brand-primary;

$navbar-default-link-color:        $white-01;
$navbar-default-link-hover-color:  $brand-primary;
$navbar-default-link-active-color: $white-01;
$navbar-default-link-active-bg:    $brand-primary;

$navbar-default-toggle-icon-bar-bg: $brand-primary;

// footer variable overrides
$footer-default-bg:                $white-01;
$footer-default-color:             $gray-05;
$footer-default-bordercolor:       $brand-primary;

$footer-link-color:                 $brand-primary;

// tabs
$tab-primary-background: $brand-primary;
$tab-primary-text: $white-01;

// forms
$default-header: $gray-05;
$default-bg-light: $white-02;
$default-border: $gray-03;
$default-line: $gray-05;
$default-submitted: $gray-04;
$default-inverse: $white-01;

$input-border-radius: 0;
$input-bg: $gray-01;
$input-border: $gray-01;
$input-color: $black-01;

// buttons
$btn-border-radius-base:  0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-default-color: $red-01;
$btn-default-bg:    $white-01;
$btn-default-border: $red-01;
$btn-primary-color:  $white-01;
$btn-primary-bg:     $red-01;
$btn-primary-border: transparent;
$btn-success-color: $white-01;
$btn-success-bg:     $red-01;
$btn-success-border: transparent;
$btn-link-disabled-color: $brand-primary;

// checkboxes and radio buttons
$check-radio-bg: $white-01;
$check-radio-border: $gray-05;
$check-radio-bg-checked: $brand-primary;
$check-radio-border-checked: $brand-primary;
$check-radio-color-checked: $white-01;

// tooltips
$tooltip-color:       $white-01;
$tooltip-bg:          $gray-05;

// modals
$modal-content-bg:                             $white-01;
$modal-content-border-color:                   $brand-primary;
$modal-backdrop-bg:           	$white-01;
$modal-backdrop-opacity:        .5;
$modal-header-border-color:   		transparent;
$modal-content-color: $gray-05;
//** Modal footer border color
$modal-footer-border-color:   $gray-04;

//** card settings
$card-bg: $gray-01;
$card-border-color: $gray-04;
$card-footer-bg: $gray-03;
$disabled-bg: $gray-05;

//** table settings
$table-header-border: $brand-primary;
$table-row-border: $gray-04;
$table-row-hover: $gray-03;
$table-row-bg-light: $gray-01;
$table-row-bg-gray: $gray-02;
$table-zebra-stripe: $gray-02;

// import everything from connect_theme as a starting point
@import "connect-styles";

// place further styling overrides here

.welcomebanner {
  background-image: none;
  background-color: #95c4f3;
}

.get_help h4,
.get_help a,
.get_help a:hover {
  color: $white-01;
  fill: $white-01;
}