/* Blocks. */
.block {
  
}
.block-title {
  font-size: 1.385em;
  line-height: 1.2;
  margin: 0 0 0.4em 0;
}
.mini-panel-title {
  margin: 0 10px;
}
.region-header .block {
  clear: none;
  float: right;
  margin: 0;
}

body.teaser-mode #block-ibm-apim-app-details-menu {
  padding-bottom: 20px;	
}

body.full-mode #block-ibm-apim-app-details-menu {
  padding-bottom: 10px;	
}

#page > footer .block {
  margin: 0;
}
#page > footer .block .block-inner {
  padding: 0;
}
/* Block lists */
.block ul li {
  margin: 0;
}
.block .item-list ul  {
  margin-left: 15px;
}
.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}
/* Reset margins and padding for the Help block .block-inner */
#block-system-help .block-inner {
  padding: 0;
  margin: 0;
}
/* Reset block ul in the dashboard */
#dashboard .block ul {
  margin-left: 0;
}

@media only screen and (min-width:1025px) {
  #block-search-form.block.block-search.menu-wrapper.menu-bar-wrapper {
    padding-top: 14px;
  }
}

@media only screen and (max-width:1024px) {
  #block-search-form.block.block-search.menu-wrapper.menu-bar-wrapper {
    padding-top: 6px;
  }
}

.block-search .inner {
  padding-left: 0;
  padding-right: 0;
}
.region-header .block-search .inner {
  padding: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  font-size: 1em;
  margin-right: 5px;
  width: 62%;
  line-height: 1.3em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  background: url(images/search-button.png) no-repeat scroll center top transparent;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  cursor: pointer;
  height: 23px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 34px;
  text-transform: uppercase; /* IE7 hack to trigger text indent reliably */
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
.ie6-7 #search-block-form input.form-submit:hover,
.ie6-7 #search-block-form input.form-submit:focus,
.ie6-7 #search-form input.form-submit:hover,
.ie6-7 #search-form input.form-submit:focus {
  background-position: center -25px;
}
.menu-bar-float-left {
  float:left;
  clear:none !important;
  margin-top: 0px;
}

.menu-bar-float-right {
  float:right;
  clear:none !important;
  margin-top: 0px;
}

/* Styles for user menu drop-down */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
  right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }

.dropitmenu ul { display: none; } 
.dropitmenu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}          
.dropitmenu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}
.dropitmenu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}
.dropitmenu ul.dropit-submenu li{
	list-style-type: none;
	list-style-image: none;
}

.dropit-icon {
	background-image: url(images/ui/ui-icons_999999_256x240.png);
	width: 16px;
	height: 16px;
	margin-top: 5px;
    vertical-align: top;
}
ul.dropitmenu a:hover .dropit-icon,
ul.dropitmenu a:focus .dropit-icon,
ul.dropitmenu a:active .dropit-icon {
	background-image: url(images/ui/ui-icons_2e83ff_256x240.png);
}

.banner_block .banner_button {
  padding-top: 40px;
}

.region-two-50-first .block-inner,
.region-two-50-second .block-inner {
  padding-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

h2.block-title {
  border-bottom: 1px solid #c8c8c8;
}

#block-ibm-apim-app-details-menu h2.block-title {
  border-bottom: 0;
}