@import "../carbon/helper-mixins";

.bx--card {
  @include reset;
  @include font-family;
  @include layer('raised');
  display: flex;
  flex-direction: column;
  width: rem(300px);
  max-width: rem(300px);
  min-height: rem(300px);
  max-height: rem(400px);
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  margin: 20px 0;

  &.node--type-application{
    min-height: unset;
    width: 12.5rem;
    height: 15rem;

    .apicCardIcon{
      align-self: center;
    }
    .apicAppCardMain {
      text-align: center;
      .applicationType {
        margin: 0 0 10px 0;
      }
      .apicAppDesc {
        text-align: left;
      }
    }
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--card__card-overview {
  @include reset;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 12rem;

  .bx--overflow-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: z('overflowOptions');
    margin: 0;
  }
}

.bx--card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(48px);
  background-color: $card-footer-bg;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
}

.apicAppStatus{
  display: flex;
  &:before {
    content: ' ';
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-right: 0.25rem;
    background-color: $brand-success;
  }
  &.suspended:before {
    background-color: $disabled-bg;
  }
  .apicStatusText {
    align-self:center;
  }
}

.bx--card-footer__link {
  @include font-size('14');
}

.bx--card-overview__about {
  @include reset;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.bx--about__title {
  font-weight: 400;
  padding-top: 1.5rem;
}

.bx--about__title--name {
  @include font-size('18');
  @include text-overflow(rem(168px));
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.bx--about__title--link {
  @include font-size('12');
  @include text-overflow(rem(180px));
  font-weight: 400;
}

.bx--about__title--additional-info {
  @include font-size('12');
  @include text-overflow(rem(180px));
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: $text-02;

  &:first-child {
    padding-top: .25rem;
  }
}

.bx--about__icon,
.bx--about__icon img {
  @include reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(50px);
  height: rem(50px);
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  border-radius: 100%;

  .bx--about__icon--img {
    width: rem(32px);
    height: rem(32px);
    overflow: hidden;
  }
}

// APP CARD STYLES
.bx--card-footer__app-status {
  @include reset;
  .active {
    display: flex;
  }
}

.bx--app-actions__button {
  @include font-size('16');
  display: inline-block;
  padding: .125rem 0 0;
  margin: 0 .175rem;
  cursor: pointer;
  background: none;
  border: none;

  &:hover,
  &:focus {
    .bx--app-actions__button--icon {
      fill: $btn-primary-bg;
    }
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--card .apicApiCard{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 50px auto;
}

.bx--card .apicApiCardMain {
  margin-left: 10px;
}

.bx--card .apicApiCardVersion .field--name-api-version{
  display: inline-block;
}

.bx--card .apicApiDesc,
.bx--card .apicApiDesc p,
.bx--card .apicApiDesc h1,
.bx--card .apicApiDesc h2,
.bx--card .apicApiDesc h3,
.bx--card .apicApiDesc h4{
  font-size: 75%;
  line-height: 0.85rem;
  grid-column-start: 1;
  grid-column-end: span end;
}

.bx--card .apicFade {
  max-height: 6.9rem;
  &.apicAppDesc {
    max-height: 4.7rem;
  }
}

.bx--card .apicApiCount
{
  border-top: 1px solid $card-border-color;
  margin: 0 1rem;
  padding: 1rem 0;
}


.bx--card .votingapi-widgets .form-item {
  margin-bottom: 0;
}

.bx--card .apicAppCard{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
}

.bx--card .apicAppCard{
  flex-direction: column;
  height: 12rem;
}

.bx--card .apicAppDesc{
  font-size: 75%;
  line-height: 0.85rem;
}

.bx--card .votingapi-widgets .select-wrapper a {
  font-size: 0.875rem;
}
