@import "../carbon/helper-mixins";

.bx--card {
  @include reset;
  display: flex;
  flex-direction: column;
  width: rem(300px);
  max-width: rem(300px);
  min-height: rem(300px);
  max-height: rem(400px);
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  margin-bottom: 2px;
  &:focus {
    @include focus-outline('outline');
  }
}

.bx--card__card-overview {
  @include reset;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 12rem;

  .bx--overflow-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: z('overflowOptions');
    margin: 0;
  }
}

.bx--card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(48px);
  background-color: $card-footer-bg;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
}

.bx--card-footer__link {
  font-size: 0.875rem;
}

.bx--card-overview__about {
  @include reset;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.bx--about__title {
  font-weight: 400;
  padding-top: 1.5rem;
}

.bx--about__title--name {
  font-size: 1.125rem;
  @include text-overflow(rem(168px));
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.bx--about__title--link {
  font-size: 0.75rem;
  @include text-overflow(rem(180px));
  font-weight: 400;
}

.bx--about__title--additional-info {
  font-size: 0.75rem;
  @include text-overflow(rem(180px));
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: $text-02;

  &:first-child {
    padding-top: .25rem;
  }
}

.bx--about__icon,
.bx--about__icon img {
  @include reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(32px);
  height: rem(32px);
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  .bx--about__icon--img {
    width: rem(32px);
    height: rem(32px);
    overflow: hidden;
  }
}

.bx--app-actions__button {
  font-size: 1rem;
  display: inline-block;
  padding: .125rem 0 0;
  margin: 0 .175rem;
  cursor: pointer;
  background: none;
  border: none;

  &:hover,
  &:focus {
    .bx--app-actions__button--icon {
      fill: $btn-primary-bg;
    }
  }

  &:focus {
    @include focus-outline('border');
  }
}

.bx--card .apicApiCard{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: 50px auto;
}

.bx--card .apicApiCardMain {
  grid-column-start: 1;
  grid-column-end: span end;
  .bx--about__title--name a{
    display: flex;
    align-items: baseline;
    font-size: 0.875rem;
    line-height: 18px;
    word-break: break-word;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    .apicApiName{
      padding-right: 0.625rem;
      max-width: 10rem;
    }
    .apicApiCardVersion{
      font-size: 0.875rem;
    }

  }
}



.bx--card .apicApiCardVersion .field--name-api-version{
  display: inline-block;
}

.bx--card .apicApiDesc,
.bx--card .apicApiDesc p,
.bx--card .apicApiDesc h1,
.bx--card .apicApiDesc h2,
.bx--card .apicApiDesc h3,
.bx--card .apicApiDesc h4{
  font-size: 0.875rem;
  line-height: 20px;
  grid-column-start: 1;
  grid-column-end: span end;
  height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: IBMPlexSans, 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.16px;
}

.bx--card .apicFade {
  max-height: 6.9rem;
  &.apicAppDesc {
    max-height: 2.5rem;
    max-width: 16.75rem;
  }
}

.bx--card .apicApiCount
{
  border-top: 1px solid $card-border-color;
  margin: 0 1rem;
  padding: 1rem 0;
}


.bx--card .votingapi-widgets .form-item {
  margin-bottom: 0;
}

.bx--card .votingapi-widgets .select-wrapper a {
  font-size: 0.875rem;
}

.node--type-application.bx--card a {
  color: $black-01;
}

.node--type-application.bx--card a .apicAppName {
  color: $brand-primary;
  font-size: 0.875rem;
  line-height: 18px;
  word-break: break-word;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}
