/**
 * Collapsible region styles.
 */

.region-collapsible {
  top: 200px;
  height: auto !important;
  max-height: 50%;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  &.region-collapse-right {
    right: 0;
  }
  &.region-collapse-left .collapsible-toggle{
    display: flex;
    flex-direction: row-reverse;
  }
}
.region-collapsible a[aria-expanded=false] svg {
  -webkit-transform: rotate(0deg);
  transform: rotate(0);
  transition: -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
}
.region-collapsible a[aria-expanded=true] svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
}
.bx--global-light-ui .collapsible-toggle .btn {
  color: $btn-default-bg;
  background-color: #fff;
  padding-top: 8px;
  svg {
    fill: $btn-default-color;
  }
}
#apic-collapse-left,
#apic-collapse-right {
  padding: 0 1rem 1rem 1rem;

  h2 {
    padding-bottom: 10px;
  }
}
