
// Footer.
footer.footer {
  color: $footer-default-color;
  background-color: $footer-default-bg;
  border-top: 2px solid $footer-default-bordercolor;
  height: 96px;
  display: flex;
  padding: 20px 5%;
  margin-top: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;

  nav{
    flex: 0 0 auto;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  ul.contextual-links {
    display: none;
  }

  ul.nav > li > a,
  ul.nav > li > a:visited {
    margin-right: 20px;
    display: inline-block;
    color: $footer-link-color;
  }
  ul.nav > li > a:hover {
    color: $footer-link-color;
  }
  ul.nav li+li:before {
    content: " \00b7";
    color: $card-border-color;
    margin-right: 20px;
  }

  @media (max-width: $screen-xs-min) {
    ul {
      flex-direction: column;
    }
    ul.nav li+li:before {
      content: none;
    }
    .nav > li > a {
      padding: 0.5rem 0;
    }

  }

}

footer .get_help {
  display: flex;
}

.path-frontpage footer.footer {
  margin-top: 0;
}