/**
 * APIC Forum styles.
 */

.route-forumindex,
.route-forumpage {

  ul.forum-actions-wrapper {
    margin: 10px 0 10px -5px;
    padding-left: 0;
    list-style: none;
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  table thead,
  .table thead th{
    border-bottom: 2px solid $table-header-border;
  }

  th {
    padding-left: 0;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    font-size: 0.75rem;
    font-weight: 600;
    height: 2.5rem;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
  }

  tbody tr {
    border-bottom: 1px solid $table-row-border;
    &:hover {
      background-color: rgba($table-row-hover, 0.1);
    }
    td {
      padding: 1rem 1rem 1rem 0;
      line-height:1.25;
    }
  }

}

.page-node-type-forum {

  article.js-comment {
    display:flex;
    border-top: 1px solid $table-row-border;
    padding: 1rem 0;
  }
  .forum footer {
    min-width:200px;
    width: 200px;
    &> article > a {
      display: none;
    }
  }
  .forum .field--name-body{
    padding: 1rem 0;
  }
}