/**
 * Form styles.
 */

// Make form groups behave like rows
// remove negative margins
.form-group {
  margin-left:  0;
  margin-right: 0;
}

// Checkboxes / radio buttons.
.checkbox, .radio {
  // Remove top/bottom margins when in table context, because this is most
  // likely a tableselect checkbox element.
  table &.form-no-label {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;
    &::-ms-expand {
      opacity: 0;
    }
  }
  &:after {
    color: $brand-primary;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e114'; // .glyphicon-chevron-down
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-size: 0.625rem;
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

textarea.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

// Form action buttons.
.bx--global-light-ui .form-actions {
  display: flex;
  flex-direction: row-reverse;
  .button,.btn {
    margin: 1rem 1rem 1rem 0;
    background-color: $btn-default-bg;
    color: $btn-default-color;
    border: 1px solid $btn-default-border;
    &:first-child {
      margin-right: 0;
    }
    &:hover {
      color: $btn-primary-color;
      background-color: $hover-secondary;
    }
    &:focus{
      color: $btn-primary-color;
      inset: $inverse-01;
      border: 1px solid $focus;
    }
    &.button--primary, &.btn-primary, &.btn-success{
      background-color: $btn-primary-bg;
      color: $btn-primary-color;
      border: 1px solid $btn-primary-border;
      &:hover{
        background-color: $hover-primary;
      }
    }
    &.btn-danger
    {
      background-color: $brand-danger;
      border-color: $brand-danger;
      &:hover{
        background-color: $hover-danger;
        border-color: $hover-danger;
      }
      &:active {
        background-color: $active-danger;
        border-color: $active-danger;
      }
    }
    &.dropdown-toggle {
      margin-left: 0;
    }
  }

  ul.dropdown-menu
  {
    right: 1rem;
    left: unset;
    top: 75%;
    padding: 0;

    > li > a {
      color: $text-color;
      font-size: 0.875rem;
      &:hover, &:focus {
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
      }
    }
  }
}


.form--inline div.form-item,
.form-inline div.form-item {
  display: inline-block;
}

body.bx--global-light-ui {
  color: $text-color;
  background-color: $body-bg;
}

input::-webkit-input-placeholder {
  color: $input-color-placeholder;
}
input::-moz-placeholder {
  color: $input-color-placeholder;
}
input:-ms-input-placeholder {
  color: $input-color-placeholder;
}
input::placeholder {
  color: $input-color-placeholder;
}

input[type="checkbox"],
.bx--global-light-ui .block-main-content .form-item input[type="checkbox"] {
  vertical-align: baseline;
  height: 1.125rem;
  width: 1.125rem;
  margin: 0 .75rem 0 0;
  background-color: $field-01;
  border-radius: 2px;
  border: 1px solid $ui-05;
  overflow: hidden;
  cursor: pointer;
}
input[type="checkbox"].bx--checkbox,
input[type="radio"].bx--checkbox {
  position: absolute;
}

textarea,
.bx--global-light-ui .block-main-content .form-item textarea {
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 9.375rem;
  min-width: 9.375rem;
  padding: .5rem 0 .5rem 1rem;
  margin: .25rem 0;
  color: $input-color;
  background-color: $input-bg;
  font-weight: 400;
}

/* form */

.bx--global-light-ui .form-item {
  margin: 0 0 2rem 0;
  &:last-child{
    margin: 0;
  }
}

.container-inline .bx--form-item.form-item:last-child {
    margin-bottom: 1.5rem;
}

.votingapi-widgets .bx--global-light-ui .form-item {
  margin-bottom: 0;
}

.bx--global-light-ui .form-item label,
.bx--global-light-ui .form-item .label,
.bx--global-light-ui .label,
.bx--label,
.field--name-application-redirect-endpoints .field-multiple-table th.field-label{
  font-size: 0.75rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: .5rem;
  color: $label-color;
  padding: 0;
  letter-spacing: .32px;
  line-height: 1rem;
}

.form-required:after {
  color: $alert-danger-border;
  content: "*";
  background-image: none;
  padding-left: 0.25rem;
}

.bx--global-light-ui .form-item label.option {
  display: inline;
}

.bx--global-light-ui .form-item input,
.bx--global-light-ui .form-item input:hover,
.bx--global-light-ui .form-item input:focus {
  color:                $input-color;
  background-color: 	$input-bg;
  font-size: 0.875rem;
  border-radius: 0;
  border: none;
  height: 2.5rem;
  width: 33rem;
  border-bottom: 1px solid $input-border;
  @media (max-width: $screen-xs-min) {
    width: 100%;
  }
}

.bx--global-light-ui .form-item input:read-only:not([type=file]),
.bx--global-light-ui .form-control[disabled],
.bx--global-light-ui .form-control[readonly],
.bx--global-light-ui fieldset[disabled] .form-control{
  opacity: .9;
  cursor: not-allowed;
  border: unset;
}

.bx--global-light-ui .form-control:focus {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  box-shadow: unset;
}

.bx--global-light-ui .apicAppCredList input:read-only {
  opacity: 1;
}

.bx--global-light-ui .views-exposed-form {
  display: flex;
}

.bx--global-light-ui .views-exposed-form .btn.view-filter-button{
  margin: 1rem 0 1.5rem 1rem;
  padding: 6px;
  line-height: initial;
  background-color: $btn-default-bg;
  svg {
    fill: $btn-default-color;
  }
}

.bx--global-light-ui .views-exposed-form .form-item label{
  margin-bottom: 0.5rem;
}

.bx--global-light-ui .views-exposed-form .form-item input,
.bx--global-light-ui .views-exposed-form .form-item input:hover,
.bx--global-light-ui .views-exposed-form .form-item input:focus {
  max-width: 25em;
}

.bx--global-light-ui .views-exposed-form .form-item {
  margin-right: 0.5rem;
}

select,
.select-wrapper select {
  display: block;
  padding: .35rem 2.75rem .35rem 1rem;;
  border: none;
  border-radius: 0;
  height: 2.5rem;
  cursor: pointer;
  color: $input-color;
  background-color: $input-bg;
  border-bottom: 1px solid $input-border;
  font-size:0.875rem;
}

.select-wrapper:after{
  color: $text-color;
}

.votingapi-widgets .bx--form-item .select-wrapper:after {
  content: "";
  display: none;
}

.bx--select-optgroup,
.bx--select-option {
  color: $input-color; }

.bx--global-light-ui fieldset.form-item {
  legend {
    border:unset;
    font-weight:400;
    font-size: .75rem;
    color: $label-color;
    line-height: 1rem;
    letter-spacing: .32px;
    display: inline-block;
    margin-bottom: .5rem;
    vertical-align: baseline;
  }
}

.bx--global-light-ui .form-type-radio label,
.bx--global-light-ui .form-type-checkbox label {
  font-weight: normal;
  color: $label-color;
  font-size: 0.875rem;
}

.bx--global-light-ui .form-type-radio label.option,
.bx--global-light-ui .form-type-checkbox label.option {
  border: none;
  background-color: inherit;
}

input[type="radio"].bx--radio-button,
input[type="radio"].bx--radio-button,
input[type="checkbox"].bx--checkbox,
input[type="checkbox"].bx--checkbox {
  position: absolute;
  margin: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

.bx--global-light-ui .bx--radio-button__appearance {
  background-color: $check-radio-bg;
  border-radius: 50%;
  border: 1px solid $check-radio-border;
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bx--global-light-ui .bx--radio-button:checked + .bx--radio-button__appearance:before {
  content: '';
  display: inline-block;
  position: relative;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: $check-radio-bg-checked;
}

.bx--global-light-ui .bx--radio-button:checked + .bx--radio-button__appearance {
  border-color: $check-radio-bg-checked;
}

.bx--global-light-ui .bx--radio-button:disabled ~*,
.bx--global-light-ui .bx--checkbox:disabled ~* {
  opacity: .5;
  cursor: not-allowed;
}

.bx--global-light-ui .bx--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

.bx--global-light-ui .bx--checkbox-appearance {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .5rem;
  background-color: $check-radio-bg;
  border: 1px solid $check-radio-border;
}

.bx--global-light-ui .bx--checkbox:focus + .bx--checkbox-appearance,
.bx--global-light-ui .bx--checkbox:focus + .bx--checkbox-label .bx--checkbox-appearance {
  box-shadow: 0 0 0 2px $check-radio-color-checked,0 0 0 4px $input-focus;
}
.bx--global-light-ui .bx--checkbox-appearance svg {
  display: none;
}
.bx--global-light-ui .bx--checkbox:checked + .bx--checkbox-appearance svg {
  display: inline;
}
.bx--global-light-ui .bx--checkbox:checked + .bx--checkbox-appearance,
.bx--global-light-ui .bx--checkbox:checked + .bx--checkbox-label .bx--checkbox-appearance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: $check-radio-bg-checked;
  border-color: $check-radio-border-checked;
}

.bx--global-light-ui .bx--checkbox-checkmark {
  display: none;
  fill: currentColor;
  color: $check-radio-color-checked;
  position: absolute;
  top: .25rem;
}

.bx--global-light-ui .bx--form-item.form-type-checkbox label,
.bx--global-light-ui .bx--form-item.form-type-radio label
{
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.bx--global-light-ui .bx--form-item.form-type-checkbox label
{
  padding-left: 0;
}

.bx--global-light-ui .bx--form-item.form-type-radio label,
.bx--global-light-ui .bx--form-item.form-type-radio label.option
{
  display: flex;
  align-items: center;
}

.bx--global-light-ui .form-item.radio:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.bx--global-light-ui .form-item .description,
.bx--global-light-ui  .password-strength__title
{
  color: $label-color;
  overflow: hidden;
  line-height: 1.5rem;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .32px;
  z-index: 0;
  width: 100%;
  margin-top: .25rem;
  opacity: 1;
}

.bx--global-light-ui .password-strength__meter {
  margin-top: 0;
}
.bx--global-light-ui .apic-user-form-wrapper .form-group {
  margin-bottom: 0;
}

.bx--global-light-ui .block-main-content .form-item input,
.bx--global-light-ui .block-main-content .form-item input:hover,
.bx--global-light-ui .block-main-content .form-item input:focus {
  color: $input-color;
  background-color: $input-bg;
  border-radius: 0;
  border: none;
  height: 2.5rem;
  width: 33rem;
}
.context-user-register .form-item.form-item-pass-pass1 {
  padding-top: 0;
}

.bx--global-light-ui .block-main-content .views-exposed-form .form-item input,
.bx--global-light-ui .block-main-content .views-exposed-form .form-item input:hover,
.bx--global-light-ui .block-main-content .views-exposed-form .form-item input:focus {
  max-width: 25em;
}

.bx--global-light-ui .block-main-content .form-item input.form-checkbox,
.bx--global-light-ui .block-main-content .form-item input.form-checkbox:hover,
.bx--global-light-ui .block-main-content .form-item input.form-checkbox:focus,
.bx--global-light-ui .block-main-content .form-item input.form-radio,
.bx--global-light-ui .block-main-content .form-item input.form-radio:hover,
.bx--global-light-ui .block-main-content .form-item input.form-radio:focus{
  width: auto;
  height: auto;
}

.bx--global-light-ui .block-main-content .form-item  input:focus {
  outline: 1px dotted;
  outline: auto 5px;
  outline: auto 2px;
  outline-color: -webkit-focus-ring-color;
}

.bx--global-light-ui .button,
.bx--global-light-ui .mainProductContent  button:not(.ck),
.bx--global-light-ui .bx--btn,
.bx--global-light-ui .btn {
  opacity: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  height: $button-height;
  padding: $button-padding;
  text-align: center;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  white-space: nowrap;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
  border: $button-border-width solid $btn-primary-border;
  box-shadow: none;
  &.btn-sm {
    padding: $button-padding-field;
    height: 2.5rem;
  }
  &.btn-xs {
     padding: $button-padding-sm;
     height: 2rem;
   }
  &.bx--btn--ghost {
    background-color: transparent;
    color: $link-01;
    border: 0;
  }
  &.bx--btn--ghost:hover {
    color: $hover-primary-text;
    background-color: $hover-ui;
  }
  &.bx--btn--ghost:focus {
    border:  1px solid $focus;
  }
  &.bx--btn--ghost:disabled,
  &.bx--btn--ghost[disabled]{
    color: $disabled-02;
  }
  &.bx--btn--field {
    color: $black-01;
    padding: calc(0.675rem - 3px) 16px;
    height: unset;
  }
  &.bx--btn--field:hover {
    color: $black-01;
  }
}

.bx--global-light-ui .button,
.bx--global-light-ui button,
.bx--global-light-ui .btn,
.bx--global-light-ui .bx--btn,
.bx--global-light-ui .button.apicSecondary,
.bx--global-light-ui button.apicSecondary,
.bx--global-light-ui button.link-edit-summary {
  &:disabled,
  &[disabled],
  &.bx--btn--disabled,
  &[disabled]:hover,
  &.bx--btn--disabled:hover,
  &[disabled]:focus,
  &.bx--btn--disabled:focus {
    cursor: not-allowed;
    fill: $btn-disabled-color;
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
  }
}
.bx--global-light-ui .button.bx--btn--tertiary {
  background-color: transparent;
  border: 1px solid $interactive-03;
  color: $interactive-03;
}
.bx--global-light-ui .button.bx--btn--tertiary:hover {
  background-color: $hover-tertiary;
  border: 1px solid $hover-tertiary;
  color: $text-04;
}
.bx--global-light-ui .button.bx--btn--tertiary:active {
  background-color: $active-tertiary;
}
.bx--global-light-ui .button.bx--btn--tertiary:focus {
  background-color: $interactive-03;
  border: 1px solid $focus;
  inset: $inverse-01;
}
.bx--global-light-ui .button.bx--btn--tertiary {
  &:disabled,
  &[disabled] {
    background-color: transparent;
    border: 1px solid $disabled-02;
    color: $disabled-02;
  }
}

.bx--global-light-ui a.button {
  display: inline-flex;
}

.bx--global-light-ui input.button {
  vertical-align: inherit;
}

.bx--global-light-ui .button:hover,
.bx--global-light-ui  .bx--btn--primary:hover  {
  background-color:$hover-primary;
  color: $btn-primary-color;
}

.bx--global-light-ui .button:focus,
.bx--global-light-ui .bx--btn--primary:focus {
  border-color:	$focus;
	box-shadow: 	inset 0 0 0 1px $inverse-01;
}

.bx--global-light-ui .button:active ,
.bx--global-light-ui  .bx--btn--primary:active{
  background-color:$active-primary;
}


.bx--global-light-ui .button.apicSecondary,
.bx--global-light-ui button.apicSecondary,
.bx--global-light-ui .bx--btn.bx--btn--secondary,
.bx--global-light-ui button.link-edit-summary {
  border: 1px solid $btn-default-border;
  color: $btn-default-color;
  background-color: $btn-default-bg;
}

.bx--global-light-ui .button.apicSecondary:focus,
.bx--global-light-ui button.apicSecondary:focus,
.bx--global-light-ui button.link-edit-summary:focus{
  color: $btn-primary-color;
  inset: $inverse-01;
  border: $focus;
}

.bx--global-light-ui .button.apicSecondary:hover,
.bx--global-light-ui button.apicSecondary:hover,
.bx--global-light-ui button.link-edit-summary:hover {
  color: $btn-primary-color;
  background-color: $hover-secondary;
}

.bx--global-light-ui button.link-edit-summary {
  display: inline-block;
  height: 2rem;
  padding: 0 1rem;
  margin: 0 0 5px 1rem;
}
.bx--global-light-ui.route-entityuseredit-form .button.apicSecondary#edit-delete {
  margin-right: auto;
  margin-left: 0;
  background-color: $brand-danger;
  border-color: $brand-danger;
  &:hover{
    background-color: $hover-danger;
    border-color: $hover-danger;
  }
  &:active {
    background-color: $active-danger;
    border-color: $active-danger;
  }
}

.bx--global-light-ui .button.apicTertiary,
.bx--global-light-ui button.apicTertiary,
.bx--global-light-ui button.bx--btn--tertiary {
  border: 1px solid $interactive-03;
  color: $interactive-03;
  background-color: transparent;
}

.bx--global-light-ui .button.apicTertiary:focus,
.bx--global-light-ui button.apicTertiary:focus,
.bx--global-light-ui button.bx--btn--tertiary:focus {
  color: $interactive-03;
  inset: $inverse-01;
  border:  1px solid $focus;
}

.bx--global-light-ui .button.apicTertiary:hover,
.bx--global-light-ui button.apicTertiary:hover,
.bx--global-light-ui button.bx--btn--tertiary:hover {
  color: $text-04;
  background-color: $hover-tertiary;
}

.bx--global-light-ui  button.bx--toast-notification__close-button,
.bx--global-light-ui  button.bx--toast-notification__close-button:hover,
.bx--global-light-ui  button.bx--toast-notification__close-button:active,
.bx--global-light-ui  button.bx--toast-notification__close-button:focus {
  background:unset;
  height: 0.875rem;
  padding:0;
  border:0;
}

/* view form controls */
.bx--global-light-ui .view-filters.form-group .form-inline {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.bx--global-light-ui .view-filters.form-group input.form-text,
.bx--global-light-ui .view-filters.form-group .select-wrapper{
  display: block;
  margin-right: 0;
}

.bx--global-light-ui .views-exposed-form .input-group-addon {
  background-color: unset;
  border: none;

}

.bx--global-light-ui .views-exposed-form .form-item-keys .input-group-addon > .glyphicon-refresh:nth-of-type(2) {
  display: none;
}

.bx--global-light-ui .views-exposed-form .form-item-keys .input-group-addon > .input-group-addon {
  background-color: unset;
  padding:0;
}

.bx--global-light-ui .view-filters.form-group input.form-text {
  width: 20rem;
  height: 2rem;
}

.bx--global-light-ui .view-filters.form-group .select-wrapper select {
  height: 2rem;
}

.bx--global-light-ui .view-filters.form-group .form-actions {
  margin-bottom: 2rem;
  display: inline-block;
  button {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 1px solid $btn-primary-border;
    padding: $button-padding-sm;
    height: 2rem;
    margin: 0 0.5rem 0 0 ;
    &:hover {
      background-color: $hover-primary;
    }
    &#edit-reset {
      border: 1px solid $btn-default-border;
      color: $btn-default-color;
      background-color: $btn-default-bg;

      &:hover {
        color: $btn-primary-color;
        background-color: $hover-secondary;
      }
      &:focus{
        color: $btn-primary-color;
        inset: $inverse-01;
        border: $focus;
      }
    }
  }
}

.bx--global-light-ui .views-exposed-form .form-item label {
  display: block;
}

.bx--global-light-ui form.confirmation {
  padding-top: 1rem;
}


.bx--global-light-ui .field--type-text-with-summary .form-textarea-wrapper {
  clear: both;
}

.context-user-login .form-actions .button.button--primary,
.context-user-login .form-actions .button.btn-primary,
.context-user-password .form-actions .button.button--primary,
.context-user-password .form-actions .button.btn-primary,
.context-ibm-apim-activate-x .form-actions .button.button--primary,
.context-ibm-apim-activate-x .form-actions .button.btn-primary,
.pass-reset form[class*='change-pwd-form'] .form-actions .button.button--primary,
.pass-reset form[class*='change-pwd-form'] .form-actions .button.btn-primary,
.context-ibm-apim-forgotpwd-x .form-actions .button.button--primary,
.context-ibm-apim-forgotpwd-x .form-actions .button.btn-primary,
.context-user-register .form-actions .button.button--primary,
.context-user-register .form-actions .button.btn-primary,
.apic-user-form-registries button.registry-button, .apic-user-form-registries a.registry-button {
  padding-right: 12px;
}

.apic-user-form-footer {
  padding-left: 1rem;
  .apic-user-form-text {
    text-align: left;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }
}

.apic-user-form-inner-wrapper p {
  font-size: 14px;
  line-height: 14px;
}
.user-register-form .apic-user-form-wrapper,
.user-register-form .apic-user-form-inner-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 380px) {
  .apic-user-form-footer .apic-user-form-text {
    padding-left: 0;
  }
  .user-register-form .apic-user-form-inner-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

/**
 * Colors for the various user forms
 **/
.route-apic-appcreate .main-container .row,
.route-apic-appcreate-step-two .main-container .row,
.route-applicationcreate .main-container .row,
.route-applicationcreate-step-two .main-container .row,
.route-apic-appverify-clientsecret .main-container .row,
.route-apic-appcredentials-create .main-container .row,
.route-apic-appreset-clientid .main-container .row,
.route-apic-appreset-clientsecret .main-container .row,
.route-apic-appcredentials-update .main-container .row,
.route-apic-appcredentials-delete .main-container .row,
.route-apic-appupdate .main-container .row,
.route-apic-appdelete .main-container .row,
.route-apic-apppromote .main-container .row,
.route-apic-appimage-upload .main-container .row,
.route-apic-appimage-delete .main-container .row,
.route-auth-apicdeleteuser .main-container .row,
.route-consumerorgchange-member-role .main-container .row,
.route-consumerorgcreate .main-container .row,
.route-consumerorgupdate .main-container .row,
.route-consumerorgdelete .main-container .row,
.route-consumerorgchangeowner .main-container .row,
.route-consumerorginvite .main-container .row,
.route-consumerorgremove-user .main-container .row,
.route-consumerorgresend-invite .main-container .row,
.route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form,
.route-entityuseredit-form .main-container .row .user-form,
.route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input,
.route-consumerorgbilling-add-payment .main-container .row,
.route-consumerorgbilling-delete-payment .main-container .row,
.route-change-pwd-pagechange-password-form.pass-reset .main-container .row,
.route-apic-appdisplay-creds .main-container .row,
form.user-pass-reset,
.apic-user-form {
  background-color: $default-bg-light;
  border: unset;

  .form-item input,
  .form-item input:hover,
  .form-item textarea,
  .form-item select {
    background-color: $default-input-bg;
    border: unset;
    border-bottom: 1px solid $default-input-border;
  }

}
.route-ibm-apimsubscription-wizard .modal-dialog,
.route-ibm-apimsubscription-wizardnoplan .modal-dialog {
  .form-item input,
  .form-item input:hover,
  .form-item textarea,
  .form-item select {
    background-color: $default-input-bg;
    border: unset;
    border-bottom: 1px solid $default-input-border;
  }
}

.route-apic-appcreate .main-container .row,
.route-apic-appcreate-step-two .main-container .row,
.route-applicationcreate .main-container .row,
.route-applicationcreate-step-two .main-container .row,
.route-apic-appverify-clientsecret .main-container .row,
.route-apic-appcredentials-create .main-container .row,
.route-apic-appreset-clientid .main-container .row,
.route-apic-appreset-clientsecret .main-container .row,
.route-apic-appcredentials-update .main-container .row,
.route-apic-appcredentials-delete .main-container .row,
.route-apic-appupdate .main-container .row,
.route-apic-appdelete .main-container .row,
.route-apic-apppromote .main-container .row,
.route-apic-appimage-upload .main-container .row,
.route-apic-appimage-delete .main-container .row,
.route-auth-apicdeleteuser .main-container .row,
.route-consumerorgchange-member-role .main-container .row,
.route-consumerorgcreate .main-container .row,
.route-consumerorgupdate .main-container .row,
.route-consumerorgdelete .main-container .row,
.route-consumerorgchangeowner .main-container .row,
.route-consumerorginvite .main-container .row,
.route-consumerorgremove-user .main-container .row,
.route-consumerorgresend-invite .main-container .row,
.route-consumerorgdelete-invite .main-container .row,
.route-consumerorgbilling-add-payment .main-container .row,
.route-consumerorgbilling-delete-payment .main-container .row,
.route-apic-appdisplay-creds .main-container .row,
.route-change-pwd-pagechange-password-form.pass-reset .main-container .row {
  margin: auto;
  margin-top: 5rem;
  padding: 1rem 1rem 0;

  @media (min-width: $screen-xs) {
    max-height: 48%;
    width: 100%;
  }
  @media (min-width: $screen-sm) {
    max-height: 72%;
    width: 60%;
  }
  @media (min-width: $screen-md) {
    max-height: 84%;
    width: 42%;
  }
  @media (min-width: $screen-lg) {
    max-height: 96%;
    width: 36%;
  }

  section{
    padding:0;
  }

  .form-item input,
  .form-item input:hover
  {
    width: 100%;
  }

  .page-header {
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0;
    margin: unset;
    margin-bottom: 1rem;
    padding:unset;
  }

  #edit-actions, .form-actions {
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    margin-top:3rem;
    button, .button {
      margin:0;
      width: 50%;
      height: 4rem;
      text-align: left;
      padding-bottom: 2rem;
      justify-content: unset;
    }
  }
}
.route-change-pwd-pagechange-password-form.pass-reset .main-container .row {
  .apic-user-form {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
.route-ibm-apimsubscription-wizard .modal-dialog,
.route-ibm-apimsubscription-wizardnoplan .modal-dialog {
  .form-item input,
  .form-item input:hover
  {
    width: 100%;
  }
}

.route-apic-appcreate-step-two #clientIDInput,
.route-apic-appcreate-step-two #clientSecretInput,
.route-apic-appdisplay-creds #clientIDInput,
.route-apic-appdisplay-creds #clientSecretInput {
  width: calc(100% - 96px);
}

.context-user-register .apicForm {
  max-width: 50rem;
}


.apicForm {
  width: 100%;
  padding: 0px $spacing-07;
  margin: $spacing-06 0;
}

.apicFormHeader,
.apic-user-form-header {
  color: $default-header;
}

.apicFormHeader {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top:$spacing-06;
  margin-bottom:$spacing-05;
}

.apicFormContent {
  margin-bottom: $spacing-07;
  padding: $spacing-05;
  background: $default-bg-light;
}

.apicFormContent table {
  display: inline-table;
  width: 100%;
}

.apicFormContent .product {
  display: flex;
  align-items: center;
}

.apicFormContent img {
  margin-right: $spacing-02;
}

.apicFormFooter {
  border-top:1px solid $footer-default-bordercolor;
  padding-top:$spacing-07;
  display: flex;
  justify-content: flex-end;
}

.apicFormFooter .button:not(:last-child) {
  margin-right: 1rem;
}

.apicFormWrapper {
  margin: auto;
  width: 90%;
  max-width: 40rem;
}

.apicFormInnerWrapper {
  margin: auto;
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
}

.apicFormSubheader {
  margin: auto;
  width: 50%;
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
}

.apicFormContainer {
  display: flex;
}

.apicFormOrContainer {
  padding: 1em;
}

.apicFormLine,
.apic-user-form-line {
  width: 1px;
  background-color: $default-line;
}

.apicFormLine {
  width: 1px;
  height: 40%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.apicFormOr,
.apic-user-form-or {
  color: $default-line;
}

.apicFormOr
{
  margin: auto;
  text-align: center;
}

.is-weak {
  background-color: $brand-danger;
}

.is-fair,
.is-good {
  background-color: $brand-warning;
}

.is-strong {
  background-color: $brand-success;
}

button.registry-button,
a.registry-button {
  fill: white;
}

button.google-button,
button.google-button:hover {
  background-color: lightgray;
  color: black;
}

button.github-button,
button.github-button:hover {
  background-color: #565656;
  color: white;
}

/* deal FF cutting off buttons in input field */
input[type="file"] {
  -moz-box-sizing: content-box;
}

/* clipboardjs */
.bx--global-light-ui input.clipboardjs {
  background-color: #f4f4f4;
  border-radius: 0;
  border: 0;
}
