// remove negative margins
.row {
  margin-left:  0;
  margin-right: 0;
}
$i: 1;
$list: ".path-frontpage .apicMainContent .container .col-xs-#{$i}, .path-frontpage .apicMainContent .container .col-sm-#{$i}, .path-frontpage .apicMainContent .container .col-md-#{$i}, .path-frontpage .apicMainContent .container .col-lg-#{$i}";
@for $i from (1 + 1) through $grid-columns {
  $list: "#{$list}, .path-frontpage .apicMainContent .container .col-xs-#{$i}, .path-frontpage .apicMainContent .container .col-sm-#{$i}, .path-frontpage .apicMainContent .container .col-md-#{$i}, .path-frontpage .apicMainContent .container .col-lg-#{$i}";
}
#{$list} {
  // no padding on front page
  padding-left:  0;
  padding-right: 0;
}