.bx--global-light-ui {

  .modal {
    text-align: center;
    background-color: $modal_overlay;
  }

  &.modal-open {
    pointer-events: none;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    width:auto;
    pointer-events: auto;
  }

  .modal-header {
    padding: 1rem 1rem 0rem 1rem;
    .close {
      background-color: 		$modal-content-bg;
      color: 	                $modal-content-color;
      border:       none;
      font-size: 24px;
    }
  }

  header .close {
    height: unset;
    line-height: 1rem;
  }

  .modal-title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: $modal-content-color;
  }

  .modal-body {
    padding: 1rem;

    input[type="radio"].bx--radio-button,
    input[type="checkbox"].bx--checkbox {
      display: none;
    }

    .form-item input,
    .form-item input:hover,
    .form-item textarea,
    .form-item select {
      background-color: $input-bg;
      border: unset;
      border-bottom: 1px solid $default-input-border;
    }

    .bx--form-item.form-item:last-child {
      margin-bottom: 1.5rem;
    }

    legend {
      border: none;
    }

  }

  .modal-content {
    border-radius: 0;
    border: none;
    overflow-y: auto;
    box-shadow: unset;
  }

  .modal-footer {
    padding: 0;
    text-align: right;
    border-top: none;
    background-color: unset;

    .modal-buttons {
      .button, button{
        width: 50%;
        height: 4rem;
        margin: 0;
        text-align: left;
        padding-bottom: 2rem;
      }
    }
  }


}

@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    min-width: $modal-md;
    max-width: 95%;
    margin: 30px auto;
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}


// treat popovers as xs passive modal
.popover {
  border-radius: 0;
  border: 1px solid $ui-02;
  box-shadow: unset;
  background-color:	$ui-01;
  .arrow {
    display: none;
  }

  .popover-title {
    font-size: 1.25rem;
    background-color:unset;
    border: unset;
  }

  .popover-content {
    font-size: 0.875rem;
    padding: 1rem;
  }
}

.autologout-dialog {
  .modal-buttons {
    display: flex;
    flex-direction: row-reverse;
  }
  .modal-buttons .btn:last-child {
    flex-grow: 1;
    background-color: $btn-default-bg;
    color: $btn-default-color;
    border: 2px solid $btn-default-border;
    &:hover {
      color: $btn-primary-color;
      background-color: $hover-secondary;
    }
    &:focus{
      color: $btn-primary-color;
      inset: $inverse-01;
      border: $focus;
    }
  }
}