/**
 * Navbar styling.
 */
$mobile:          "screen and (max-width: #{$screen-xs-max})";
$tablet:          "screen and (min-width: #{$screen-sm-min})";
$normal:          "screen and (min-width: #{$screen-md-min})";
$wide:            "screen and (min-width: #{$screen-lg-min})";
$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";

body {
  // Fix horizontal scrolling on iOS devices.
  // https://www.drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}


@mixin navbar-vertical-align-padding($element-height) {
  padding-top: (($navbar-height - $element-height) / 2);
  padding-bottom: (($navbar-height - $element-height) / 2);
}

.navbar {
  display: flex;
  position: inherit;
  border: none;
}

.apicStickyHeader .navbar.container {
  width: 100%;
}

.navbar-default .navbar-toggle {
  background-color: $navbar-default-bg;
  @include navbar-vertical-align-padding(40px);
}


nav.block-login .menu.nav {
  @include navbar-vertical-align-padding(40px);
  padding-bottom: 0;
}

// Branding.
.navbar .logo {
  max-width: 280px;
  margin:0;
  margin-right: -($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  display:none;
  @media #{$grid-breakpoint} {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $grid-float-breakpoint) {
    display: block;
  }
}

.apicStickyHeader .navbar,
.apicStickyHeader .navbar .navbar-header,
.apicStickyHeader .navbar .navbar-right{
  padding:0;
}

.apicStickyHeader .navbar .logo img {
  vertical-align: middle;
}

.navbar .region-navigation {
  display: flex;
}

.navbar .region-navigation-right {
  display: flex;
  flex-direction: row-reverse;
  white-space: nowrap;
}

.navbar .nav.navbar-nav > li > a {
  padding: 0.625rem 0.75rem;
  border: 2px solid transparent;
}

.navbar .nav.navbar-nav > li > a:hover {
  background-color: $navbar-default-link-hover-bg
}
.navbar .nav.navbar-nav > li > a:active {
  background-color: $navbar-default-link-active-bg;
}

.navbar .nav.navbar-nav > li > a:focus {
  outline: unset;
  border:2px solid $navbar-default-link-color;
}

.navbar .nav.navbar-nav > li > a.is-active,
.navbar .nav.navbar-nav > li.active > a,
.nav.menu--login > li.active a {
  border-bottom: 2px solid $brand-primary;
  background-color: $navbar-default-bg;
}

.navbar .nav.navbar-nav > li:last-child > a {
  margin-right: 0;
}

.navbar .dropitmenu{
  margin: 0 1rem;
  @include navbar-vertical-align-padding(18px);
}

.navbar .ibmapimSearch{
  padding: 0 .75rem 0 0.25rem;
  @include navbar-vertical-align-padding(38px);
  border: 2px solid transparent;
  &:hover,
  &:active {
    background-color: $navbar-default-link-hover-bg;
  }
  &:focus {
    outline: unset;
    border:2px solid $navbar-default-link-color;
  }
}

.context--search-content .navbar .ibmapimSearch {
  border-bottom: 2px solid $brand-primary;
}

.navbar .ibmapimNotificationBlock,
.navbar .ibmapimSearch{
  .imageContainer svg {
    width: 16px;
    height: 16px;
    margin: 8px;
  }
}

.navbar .ibmapimNotificationBlock{
  border-left: 1px solid $navbar-default-link-color;
  margin-left: 0;
  .imageContainer {
    padding-left: 5px;
  }
}

.navbar .dropitmenu .dropit-trigger a {
  white-space:nowrap;
  width:100%;
}

.navbar .dropitmenu .dropit-icon {
  color: $navbar-default-link-color;
  vertical-align: bottom;
  font-size: 0.625rem;
}

.navbar .account-menu.dropitmenu  {
  border: 2px solid transparent;
  margin: 0;
  padding: 0 0.75rem;
  @include navbar-vertical-align-padding(28px);
  .dropit-submenu {
    margin-top: 12px;
  }
  &:hover,
  &:active {
    background-color: $navbar-default-link-hover-bg;
  }
  &:focus {
    outline: unset;
    border:2px solid $navbar-default-link-color;
  }
}

.navbar .dropitmenu ul.dropit-submenu {
  background-color: $navbar-default-bg;
  border-radius: 0;
  border-style: solid none none none;
  border-color: $navbar-default-link-color;
  padding:0;
  line-height: 2rem;
  margin-top: 15px;
  margin-right: -1rem;
  max-height: 16rem;
  overflow-y: auto;
  .selectorg {
    font-size: 0.75rem;
    color: $navbar-default-link-color;
    border-top: 1px solid $navbar-default-link-color;
    padding: 0 1rem;
  }
  a {
    font-size: 0.875rem;
    color: $navbar-default-color;
    padding: 0 0.75rem;
    border: 2px solid transparent;
    line-height: 2.25rem;
    &.elipsis-names {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 15rem;
    }
    &:hover,
    &:active {
      background-color: $navbar-default-link-hover-bg;
    }
    &:focus {
      outline: unset;
      border:2px solid $navbar-default-link-color;
    }
  }
}

.consumerorgSelectBlock {
  padding-right: 0.625rem;
  &:hover,
  &:active {
    background-color: $navbar-default-link-hover-bg;
  }
  &:focus {
    outline: unset;
    border:2px solid $navbar-default-link-color;
  }
}

.consumerorgSelectBlock .orgHeading {
  display: inline-block;
  color: $navbar-default-color;
  width:100%;
  .subTitle {
    color: $navbar-default-link-color;
    font-weight: lighter;
    font-size: .75rem;
    opacity: 0.9;
    line-height: 1.1;
  }

  .currentOrg{
    line-height:1.1;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.account-menu .imageContainer svg,
.account-menu .imageContainer:hover svg {
  fill: #bed5f1;
  background: #eaf0f8;
  border-radius: 50%;
}

section.block.block-consumer-organization-selection {
  max-width: 15rem;
  min-width: 7.25rem;
  @media (max-width: $screen-xs-min) {
    width: 10rem;
  }
}

nav.block-account {
  display: inline-block;
}

.dropit-open .dropit-icon svg{
  transform: rotate(180deg);
}

// main menu
nav.block-menu ul.nav > li > a:focus,
nav.block-menu ul.nav > li > a:hover,
nav.block-menu ul.nav > li.active > a {
  padding-bottom: 8px;
  border-bottom: 4px solid $navbar-default-link-hover-color;
}

.navbar-nav > li.front {
  display:none;
  @media (max-width: $grid-float-breakpoint) {
    display: block;
  }
}

// login menu
nav.block-login ul.menu li {
  display: inline-block;
}
nav.block-login ul.nav > li > a,
nav.block-login ul.nav > li > a:visited {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  display: inline-block;
  color: $navbar-default-link-color;
  padding-bottom: calc(0.74rem + 4px);
}
nav.block-login ul.nav > li > a:focus,
nav.block-login ul.nav > li > a:hover {
  color: $navbar-default-link-hover-color;
}
nav.block-login ul.menu li+li:before {
  content: " \00b7";
  color: $ui-04;
  margin-left: 10px;
  margin-right: 10px;
}

nav.block-login ul.nav > li.last {
  margin-right: 10px;
}

// main menu overflow menu
.navbar-default {
  .navbar-nav {
    > li svg.bx--overflow-menu__icon {
      fill: $navbar-default-link-color;
      max-height:1rem;
      padding: 0;
      &:hover,
      &:focus {
        fill: $navbar-default-link-hover-color;
      }
    }
    .dropdown-menu {
      @include reset;
      @include type-style('body-short-01');
      background-color: $navbar-default-bg;
      border-style: solid none none none;
      border-color: $navbar-default-link-color;

      a {
        background-color: $navbar-default-bg;
        color: $navbar-default-link-color;
        padding: 0 1rem;
        border: 2px solid transparent;
        line-height: 2.25rem;
        &:hover,
        &:active {
          color: $navbar-default-link-hover-color;
          background-color: $navbar-default-link-hover-bg;
        }
        &:focus {
          outline: unset;
          border:2px solid $navbar-default-link-color;
        }
      }
    }

  }
}