/**
 * Node styling.
 */

.is-unpublished {
  background-color: #fff4f4;
}

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

/* forum posts and blogs */
article footer {
  display: flex;
  justify-content: space-between;

  article {
    margin-right: 1rem;
  }

  .field--name-user-picture img {
    max-width: 48px;
    border-radius: 50%;
  }
  .author {
    padding-top: 2rem;
  }
}

.path-node .content section h2 {
  font-size: 1.5rem;
}

.field--name-comment-body .form-item {
  margin: 0;
}

.apicTeaser {
  display: flex;
}

.apicTeaserMain {
  flex: 1;
}

.apicTeaserMain h2 {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.apicTeaserMain h2 a {
  display: flex;
  padding-right: 10px;
}

.apicTeaserMain h2 a span:first-of-type {
  padding-right: 4px;
  margin-bottom: 0;
}

.apicTeaserMain .field {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .apicTeaser {
    flex-direction: column;
  }

  .apicTeaserMain {
    -ms-flex: 1 0 auto;
  }

  .apicTeaserMain h2 {
    flex-direction: column;
  }

  .apicTeaserMain h2 a {
    flex-direction: column;
  }

}

/* cards */
.bx--card {
  height: 19rem;
  border: none;
  box-shadow: none;
}

.bx--card .apicCard{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
  grid-template-columns: 50px auto;
  max-height: 18rem;
}

.bx--card .apicIcon {
  -ms-grid-column: 1;
}
.bx--card .apicIcon article {
  display: flex;
}

.bx--card .apicIcon article .field--name-user-picture {
  margin-right: 1rem;
}

.bx--card .apicCardMain {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: end;
  grid-column-end: span end;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bx--card .apicCardMain .bx--about__title--name {
  width: 13rem;
  padding-bottom: 0;
  padding-top: 0;
}

.bx--card .apicCardMain .bx--about__title--name a{
  display: flex;
  font-size: 0.875rem;
  line-height: 18px;
  word-break: break-word;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
}

.text-format-wrapper .filter-wrapper .icon.glyphicon.glyphicon-question-sign {
  display: none;
}

.field--widget-text-textarea-with-summary .form-type-textarea {
  margin-bottom: 0;
}
.field--widget-text-textarea-with-summary .filter-wrapper {
  background-color: $ui-background;
  border: 0;
}
/* comments */
.js-comment .field.field--name-user-picture {
  float: left;
  width: 40px;
  padding-top: 0;
  img {
    border-radius: 50%;
  }
}
.new mark {
  border-radius: .9375rem;
  color: white;
  background: $interactive-01;
  padding: .25rem .5rem;
  font-size: 1rem;
  margin-right: 10px;
}

/* only solution could find to hide the blog links in comments */
.js-comment [typeof="schema:Person"] .js-form-item.js-form-type-item.form-type-item.form-no-label.form-group,
.forumPost [typeof="schema:Person"] .js-form-item.js-form-type-item.form-type-item.form-no-label.form-group,
.blog-post [typeof="schema:Person"] .js-form-item.js-form-type-item.form-type-item.form-no-label.form-group {
  display: none;
}
.js-comment > h3 {
  font-size: 1.3rem;
}
.js-comment > h3,
.js-comment .submitted,
.js-comment .content {
  margin-left: 50px;
  padding-top: 0;
}
.js-comment .content p{
  font-size: 0.875rem;
}
.js-comment .submitted {
  font-size: 0.75rem;
}
.js-comment .content .links {
  padding-top: 10px;
}
.blog-post footer {
  float: left;
}
.blog-post .submitted {
  float: right;
  padding-top: 0.5rem;
}
.blog-post .content {
  padding-top: 2rem;
}
.forumContent .leftContent {
  width: calc(100% - 350px);
  min-width: 300px;
}
.forumPost [typeof="schema:Person"] {
  float: left;
}
.forumPost .quickedit-field [typeof="schema:Person"] {
  float: none;
}
.forumPost .field--name-body {
  padding-top: 1rem;
}
.path-node .forumPost .content {
  padding-top: 1rem;
}
/* embedded docs in products */
.Pane.vertical.Pane1 {
  border-right: 1px solid $ui-03;
}
.apicProduct .embeddedDocPagesNav a.selected {
  color: $interactive-01;
}
.apicProduct .embeddedDocPagesNav a.selected {
  border-left: 4px solid $interactive-01;
}
.apicProduct .embeddedDocPagesNav a,
.apicProduct .embeddedDocPagesNav div.bx--side-nav__link {
  color: $text-01;
}
.apicProduct .embeddedDocPagesNav ul .tocItem a:hover,
.apicProduct .embeddedDocPagesNav ul .tocItem a.selected {
  background-color: $ui-03;
}

.route-productview footer.footer.container {
  margin-top: 0;
}

.multiple-fields-remove-button.apicSecondary.button {
  top: calc(40% - 0.5rem);
  background-color: transparent;
  vertical-align: top;
  height: auto;
  display: inline-block;
}
.multiple-fields-remove-button.apicSecondary.button:hover,
.multiple-fields-remove-button.apicSecondary.button:focus {
  background-color: transparent;
}