/**
 * Overflow menu styling.
 */
.overflow-menu{
  .dropit-icon svg {
    fill: $ui-05;
    &:hover {
      fill: $brand-primary;
    }
  }

  ul.dropit-submenu{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
    border: 1px solid $ui-04;
    border-radius: initial;

    right: -1rem;
    margin-top: 0.5rem;
    &:before{
      content: '';
      position: absolute;
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $default-bg-light;
      border-top: 1px solid $default-border;
      border-left: 1px solid $default-border;
      top: -5px;
      right: 0.8rem;
    }
  }

  ul.dropit-submenu li {
    white-space: nowrap;
  }

  ul.dropit-submenu a,
  ul.dropit-submenu a:visited {
    font-size: 0.875rem;
    line-height: 2rem;
    padding: 0 1rem;
    background-color: $default-bg-light;
    color: $text-color;
    &:hover {
      background-color: $btn-primary-bg;
      color: $btn-primary-color;
    }
  }
}