/**
 * APIC Wizard styles.
 */
.route-ibm-apimsubscription-wizard,
.route-ibm-apimsubscription-wizardstep,
.route-ibm-apimsubscription-wizardnoplan,
.route-ibm-apimsubscription-wizardnoplanstep,
.route-mail-subscribersproduct-wizard,
.route-mail-subscribersproduct-wizardstep,
.route-mail-subscribersplan-wizard,
.route-mail-subscribersplan-wizardstep,
.route-mail-subscribersapi-wizard,
.route-mail-subscribersapi-wizardstep,
.route-mail-subscribersall-wizard,
.route-mail-subscribersall-wizardstep{
  .apicMainContent {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;

    .row .col-sm-12 {
      padding: 0;
    }
    .page-header {
      display: none;
    }

    .subscriptionWizardTitle{
      background-color: $default-bg-light;
      margin: 0 -1rem;
      padding: 0 2rem;
    }

    .subscriptionWizardTitle h3{
      font-size: 2rem;
      font-weight: 300;
      margin:0;
      padding: 1rem 0;
    }

    .wizard-trail {
      height: 3.75rem;
      background-color: $default-bg-light;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 1rem;
      .bx--progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        width: 60%;
        @media (max-width: $screen-xs-min) {
          width: 100%;
        }
      }

      .bx--progress {
        margin-bottom: 1rem;
        height: 2.75rem;
        padding-left: 1rem;
      }

      .bx--progress-step {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-width: 7rem;
        transition: 250ms all cubic-bezier(0.5, 0, 0.1, 1);
        overflow: visible;
        @media (max-width: $screen-xs-min) {
          min-width: 6rem;
        }
      }

      .bx--progress-line {
        position: absolute;
        left:0;
        height: 1px;
        width: calc(100%);
        border: 1px inset transparent;
      }

      .bx--progress-step svg {
        position: relative;
        z-index: 1;
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin: 0.625rem .5rem 0 0;
        fill: $brand-primary;
      }

      .bx--progress-step--incomplete svg {
        fill: $default-line;
      }

      .bx--progress-label::before {
        display: block;
        content: '';
      }

      .bx--progress-label {
        font-size: .875rem;
        font-weight: 400;
        letter-spacing: .16px;
        max-width: 8rem;
        margin: .5rem 0 0 0;
        overflow: hidden;
        color: #161616;
        line-height: 1.45;
        white-space: normal;
        text-overflow: ellipsis;
        transition: box-shadow 110ms cubic-bezier(0.2, 0, 0.38, 0.9),color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
      }



      .bx--progress-step--current circle:last-child {
        fill: $brand-primary; }

      .bx--progress-step--current .bx--progress-line {
        background-color: $brand-primary; }

      .bx--progress-step--incomplete .bx--progress-label {
        color: $default-line; }

      .bx--progress-step--incomplete .bx--progress-line {
        background-color: $default-border; }

      .bx--progress-step--complete polygon {
        fill: $brand-primary; }



      .bx--progress-step--complete .bx--progress-line {
        background-color: $brand-primary; }
    }

    .region form {

    }

    .apicWizardHeader {
      color: $text-02;
      font-size: 1.75rem;
      padding: 0.75rem 0;
      border-bottom: 2px solid $brand-primary;
      font-weight: lighter;
    }
  }

  footer {
    display: none;
  }
}
// specific styling for mail wizards
.route-mail-subscribersproduct-wizard,
.route-mail-subscribersproduct-wizardstep,
.route-mail-subscribersplan-wizard,
.route-mail-subscribersplan-wizardstep,
.route-mail-subscribersapi-wizard,
.route-mail-subscribersapi-wizardstep,
.route-mail-subscribersall-wizard,
.route-mail-subscribersall-wizardstep {
  fieldset.form-item,
  .form-item-subject {
    margin-top: 30px;
  }
  #edit-previous {
    margin-right: 10px;
  }
  pre {
    font-size: inherit;
  }
  .form-item .description {
    max-height: none;
  }
  .apicMainContent {
    .apicWizardMain {
      padding: 0 2rem;
    }
  }
}
// specific styling for APIC subscribe wizard
.route-ibm-apimsubscription-wizardnoplan,
.route-ibm-apimsubscription-wizardnoplanstep,
.route-ibm-apimsubscription-wizardstep {
  .apicMainContent {

    .apicWizardMain.apicSubscribeChooseApp {
      padding: 0 2rem;
    }

    .apicSubscribeInfotext,
    {
      padding: 0.5rem 0;
    }

    .apicSubscribeAppForm{
      display:flex;
      flex-direction: row-reverse;
    }

    .apicSubscribeNewAppWrapper {

    }

    .subscription-wizard-choose-application {
      width: calc(100% - 16rem);
    }

    .apicNewAppsList {
      display: flex;
      flex-wrap: wrap;
      min-height: 260px;
      .apicSubAppCard {
        margin: 1px;
        padding: 0;
      }
    }

    .apicSubscribeAppsList .apicSubAppCard {
      margin: 1px;
      padding: 0;
    }

    .apicSubscribeAppForm .apicNewAppWrapper > div {
      width: 0.5%;
    }

    .form-control[disabled] {
      opacity: 0.9;
    }

    .apicSubscribedProduct,
    .apicSubscribedApp {
      padding: 1rem 1.5rem;
      display: flex;
    }

    .apic-subscribe-summary-product {
      padding-top: 5px;
    }
    .apicSubProductCard,
    .apic-subscribe-summary-application {
      margin-left: 10px;
    }

    .apicSubscribeResultFollowup {
      display: flex;
      flex-direction: column;
      .button {
        margin: 0.5rem;
        min-width: 13rem;
        align-self: flex-end;
      }
    }

    .apic-wizard-navigation {
      display: flex;
      justify-content: space-between;
    }

    // only needed for error conditions
    .apicForm.form-error form.subscription-wizard-subscribe-result {
      display: flex;
      justify-content: space-between;
    }

  }
}

@mixin add_icon($color) {
  $color-rgb: "rgb(" + red($color) + "%2C" + green($color) + "%2C" + blue($color) + ")";
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20version%3D%271.1%27%20id%3D%27icon%27%20x%3D%270px%27%20y%3D%270px%27%20width%3D%2732px%27%20height%3D%2732px%27%20viewBox%3D%270%200%2032%2032%27%20fill%3D%27#{$color-rgb}%27%20style%3D%27enable-background%3Anew%200%200%2032%2032%3B%27%20xml%3Aspace%3D%27preserve%27%3E%3Cstyle%20type%3D%27text%2Fcss%27%3E.st0%7Bfill%3Anone%3B%7D%3C%2Fstyle%3E%3Cpolygon%20points%3D%2717%2C15%2017%2C8%2015%2C8%2015%2C15%208%2C15%208%2C17%2015%2C17%2015%2C24%2017%2C24%2017%2C17%2024%2C17%2024%2C15%20%27%2F%3E%3Crect%20class%3D%27st0%27%20width%3D%2732%27%20height%3D%2732%27%2F%3E%3C%2Fsvg%3E');
 }

.apicWizardMain .apicNewAppButton .tile-button {
  min-height: unset;
  min-width: 20rem;
  height: 15rem;
  max-width: 20rem;
  padding: 0 1rem 2rem;
  background-color: $tile-btn-bg;
  border-color: $tile-btn-border;
  color: $tile-btn-color;
  &:hover{
    background-color: $hover-ui;
    border-color: $hover-ui;
    color: $brand-primary;
    &:before {
      @include add_icon($brand-primary);
    }
  }
  &:active{
    background-color: $active-ui;
    border-color: $active-ui;
  }
  &:before {
    @include add_icon($brand-primary);
  }
}

.modal-content {
  .clientIDContainer,
  .clientSecretContainer {
    margin-top: 10px;

    .bx--form-item.form-item.form-group {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 20px;
      width: 27rem;
      input {
        width: calc( 100% - 44px );
        border: unset;
      }
    }

    .apicAppCheckButton {
      flex: 0.1;
      align-self: center;
      margin-right: 10px;
      display: inline-block;
    }
  }
}
