.apicCOrgTeaser {
  display: flex;
}

.apicCOrgTeaserMain {
  flex: 1;
}

.apicCOrgTeaserMain h2 {
  display: flex;
  margin-bottom: 10px;
}

.apicCOrgTeaserMain h2 a {
  display: flex;
  padding-right: 10px;
}

.apicCOrgTeaserMain h2 a span:first-of-type {
  padding-right: 4px;
  margin-bottom: 0;
}

.apicCOrgTeaserMain .field {
  margin-bottom: 0;
}

.apicCOrgName {
  max-width: 500px;
}

.addPaymentMethod {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 30px;
}

.paymentMethodContainer.noPaymentMethods {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 100px;
}

.paymentMethodContainer.noPaymentMethods .svgContainer {
  display: inline-block;
  height: 150px;
  vertical-align: middle;
}
.paymentMethodContainer.noPaymentMethods .svgContainer svg {
  height: 150px;
}
.paymentMethodContainer.noPaymentMethods .messageContainer {
  display: inline-block;
  vertical-align: middle;
}

.paymentMethod .bx--about__title--name {
  overflow-y: hidden;
  width: auto;
}
.paymentMethodFields {
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .apicCOrgName {
    max-width: 300px;
  }
}

@media screen and (max-width: 640px) {
  .apicCOrgTeaser {
    flex-direction: column;
  }

  .apicCOrgTeaserMain {
    -ms-flex: 1 0 auto;
  }

  .apicCOrgTeaserMain h2 {
    flex-direction: column;
  }

  .apicCOrgTeaserMain h2 a {
    flex-direction: column;
  }

  .apicCOrgName {
    max-width: 500px;
  }
}