table, td, div, h1, p {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  overflow-wrap: anywhere; }

td {
  padding: 0; }

#mail-body {
  margin: 0;
  padding: 0; }

#mail-table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  background: #E2E8F2; }

#main-table {
  width: 602px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }

#header {
  background-color: #161616;
  color: #ffffff;
  padding: 1rem;
  height: 3rem; }

#main {
  padding: 2rem;
  background-color: #ffffff;
  color: #161616;
  font-size: 16px; }

#footer {
  background-color: #161616;
  color: #ffffff;
  font-size: 16px;
  padding: 2rem; }

#header a, #footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem;
  padding-right: 1rem; }

.rowPad {
  height: 1rem; }