/**
 * progress indicator styling
 */
.wizard-trail {
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 2rem;

}

.wizard-trail .bx--progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 60%; }

@media (max-width: 480px) {
  .wizard-trail .bx--progress
  {   width: 100%; }
}

.wizard-trail .bx--progress-step {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 7rem;
  transition: 250ms all cubic-bezier(0.5, 0, 0.1, 1);
  overflow: visible;
}

@media (max-width: 480px) {
  .wizard-trail .bx--progress-step {
    min-width: 6rem; } }

.wizard-trail .bx--progress-line {
  position: absolute;
  left: 0;
  height: 1px;
  width: calc(100%);
  border: 1px inset transparent;}

.wizard-trail .bx--progress-step svg {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.625rem 0.5rem 0 0;
  fill: #0f62fe; }

.wizard-trail .bx--progress-step--incomplete svg {
  fill: #161616;
}

.wizard-trail .bx--progress-label::before {
  display: block;
  content: ''; }

.wizard-trail .bx--progress-label {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  max-width: 8rem;
  margin: 0.5rem 0 0 0;
  overflow: hidden;
  color: #161616;
  line-height: 1.45;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: box-shadow 110ms cubic-bezier(0.2, 0, 0.38, 0.9), color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);}

.wizard-trail .bx--progress-step--current circle:last-child {
  fill: #0f62fe; }


 .wizard-trail .bx--progress-step--current .bx--progress-line {
  background-color: #0f62fe; }


.wizard-trail .bx--progress-step--incomplete .bx--progress-label {
  color: #161616;
}

 .wizard-trail .bx--progress-step--incomplete .bx--progress-line {
  background-color: #e0e0e0;
}

.wizard-trail .bx--progress-step--complete polygon {
  fill: #0f62fe;
}

.wizard-trail .bx--progress-step--complete .bx--progress-line {
  background-color: #0f62fe;
}
