// import connect variables
@import "connect-variables";

// place your override variables here

// import everything from connect_theme mail template as a starting point
@import "mail";

// place further styling overrides here
$light-blue-01: #E1EBF7;
$light-blue-02: #C8DAF4;

$white-01: #fff;
$black-01: #19273C;

$navbar-blue: #1f57a4;

#mail-table {
  background: $light-blue-02;
}

#header,
#footer {
  background-color: $navbar-blue;
  color: $light-blue-01;
  a {
    color: $light-blue-01;
  }
}

#main {
  background-color: $white-01;
  color: $black-01;
}
