//
// Copyright IBM Corp. 2016, 2020
//
// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// component framework
@import "component/accordion";
@import "component/alert";
@import "component/ajax";
@import "component/card";
@import "component/collapsible";
@import "component/html";
@import "component/grid";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/forum";
@import "component/footer";
@import "component/icon";
@import "component/modal";
@import "component/navbar";
@import "component/node";
@import "component/overflow-menu";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/wizard";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

svg {
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

html{
  font-size: $base-font-size;
}

@include css-body;

body.bx--global-light-ui
{
  font-family: $font-family-base;
}

code {
  line-height: 1.125rem;
}

a:focus {
  outline-offset: 1px;
}

// accessibility set contrast ratio for content that is screen reader only
.sr-only,
.visually-hidden {
  color: #000;
  background-color: #fff;
}
// do not display SVG titles by default but they need contrast ratios for accessibility
svg title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  color: #000;
  background-color: #fff;
}

// Page header.
h1.page-header,
h1.node__title,
h1.productName,
h1.applicationName,
h1.apiName,
h1.orgName {
  color: $default-header;
  font-family: $font-family-base;
  font-size: 2rem;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0px;
}

h1.page-header {
  border-bottom: $body-bg;
  background: $ui-02;
  margin: 0 -1.9rem;
  padding: 1rem 2rem;
}

.apicProductIcon img, .apicApiIcon img {
  border: 0;
  width: 40px;
  height: 40px;
}

a {
  color: $link-color;
}

.bx--secondary-text {
  color: $secondary-text;
}

.bx--tertiary-text {
  color: $tertiary-text;
}

// sticky header

.apicStickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
}

.adminimal-admin-toolbar .apicStickyHeader {
  top: 39px;
}

.adminimal-admin-toolbar.toolbar-tray-open .apicStickyHeader {
  top: 79px;
}

.adminimal-admin-toolbar.toolbar-tray-open.toolbar-vertical .apicStickyHeader {
  top: auto;
}

.apicMainContent {
//  margin-top: 60px;
//  min-height: calc(100vh - 148px);
  margin-top: 48px;
  min-height: calc(100vh - 136px);
}

.path-frontpage .apicMainContent,
.page-node-type-application .apicMainContent,
.route-ibm-apimmyorg .apicMainContent{
  margin-top: 48px;
  min-height: calc(100vh - 136px);
}
// make front page full width
// and app, myorg pages too
.path-frontpage .apicMainContent.container,
.page-node-type-application .apicMainContent.container,
.route-ibm-apimmyorg .apicMainContent,
.route-ibm-apimbilling .apicMainContent,
.route-ibm-apimanalytics .apicMainContent {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.apicMainContent.container {

}

// title and content wrappers for applications need to honor the media page widths
.page-node-type-application .container .contentInnerWrapper,
.page-node-type-application .container .titleInnerWrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 100px);
}

.path-frontpage .apicMainContent section.col-sm-12,
.page-node-type-application .apicMainContent section.col-sm-12{
  padding-left: 0;
  padding-right:0;
}

// admin editing an application page
.page-node-type-application.route-entitynodeedit-form .apicMainContent section.col-sm-12{
  padding-left: 15px;
  padding-right: 15px;
}

// padding for titles and blocks on front page
.path-frontpage .apicMainContent.container h2.block-title{
  padding-left: 15px;
  padding-right: 15px;
}
// except the banner block
.path-frontpage .apicMainContent.container div.region-content section.block-welcome-banner > div{
  padding-left: 0;
  padding-right: 0;
}

// need space for admin toolbar
body.adminimal-admin-toolbar .apicMainContent {
  min-height: calc(100vh - 192px);
}

// no footer on API pages & full width
body.page-node-type-api .apicMainContent,
body.page-node-type-eventstream .apicMainContent,
body.route-productapi .apicMainContent {
  min-height: calc(100vh - 48px);
  width: 100%;
}

body.adminimal-admin-toolbar.page-node-type-api .apicMainContent,
body.adminimal-admin-toolbar.page-node-type-api article.node--type-api,
body.adminimal-admin-toolbar.page-node-type-eventstream article.node--type-eventstream,
body.adminimal-admin-toolbar.route-productapi .apicMainContent {
  min-height: calc(100vh - 128px);
}
// bit of vertical margin to allow for tabs and explorer
body.page-node-type-api nav.tabs,
body.page-node-type-eventstream nav.tabs,
body.route-productapi nav.tabs {
  margin-bottom: 10px;
}

.toolbar-vertical .apicStickyHeader {
  position: inherit;
  top: auto;
}

.toolbar-vertical .apicMainContent {
  margin-top:0;
}
// node preview
.bx--global-light-ui .node-preview-form-select
{
  padding-top: 80px;
}

// highlight region

.apicMainContent.container .region.region-highlighted
{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

// API view
.page-node-type-api .col-sm-12,
.page-node-type-eventstream .col-sm-12,
.route-productapi .col-sm-12 {
  position: inherit;
}
.page-node-type-api footer.footer,
.page-node-type-eventstream footer.footer,
.route-productapi footer.footer {
  display: none;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child,
.view-filters.form-group
{
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: lighten($text-color, 25%);
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// danger
.bx--global-light-ui {

  ul.dropit-submenu {
    li.deleteApplication,
    li.deleteCredentials,
    li.deleteOrganization,
    li.deletePaymentMethod,
    li.removeInvitation,
    li.removeOrganizationUser,
    li.unsubscribe {
      a:hover {
        background-color: $brand-danger;
      }
    }
  }
  button.btn-danger {
    background-color: $brand-danger;
    border-color: $brand-danger;
    &:hover{
      background-color: $hover-danger;
      border-color: $hover-danger;
    }
    &:active {
      background-color: $active-danger;
      border-color: $active-danger;
    }
  }
}

// tooltips
.tooltip {
  transition: opacity  0s linear 1s;
}

.tooltip-inner {
  padding: 16px 16px;
  word-wrap: break-word;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

// API Explorer
/* force lineheight for api pre tags to be normal */
apiconnect-explorer pre {
  line-height: normal;
}

apiconnect-explorer a,
apiconnect-explorer .bx--link {
  color: $brand-primary;
}

apiconnect-explorer ul {
  padding: unset;
  margin: unset;
}

.featuredcontent a {
  color: $brand-primary;
}

.featuredcontent h3,
.goahead h3 {
  color: $text-01;
}

/* rhs menu icons */
.imageContainer {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  svg {
    fill: $navbar-default-link-color;
    background: transparent;
  }
}

.imageContainer:hover {
  svg {
    fill: $navbar-default-link-hover-color;
  }
}

.imageContainer img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.path-search .region-content nav.tabs {
  margin-bottom: 20px;
}

.feed-icons {
  margin-top: 30px;
}

.views-element-container {
  padding: 20px 0;
}

/* dont display external link decorations for add to any links */
.addToAny .ext {
  display: none;
}

/* entity browser */
.entity-embed-dialog {
  overflow: scroll;
}
.view-content-browser .views-exposed-form {
  margin-bottom: 10px;
}
.content-browser-form .views-exposed-form .form-actions {
  margin-bottom: 0;
}

[typeof="schema:Person"] > div{
  padding: 1rem 0;
}

.apicTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th, td {
  &.checkbox {
    display: table-cell;
  }
}

@media screen and (max-width: 640px) {
  .apicStickyHeader {
    position: inherit;
    top: auto;
  }

  .path-frontpage .apicMainContent,
  .page-node-type-application .apicMainContent,
  .apicMainContent {
    margin-top:0;
  }
}

.br-theme-css-stars .br-widget a {
  font-size: 16px;
  margin-right: 1px;
}

.glyphicon-cog, .glyphicon-download, .glyphicon-export,
.glyphicon-filter, .glyphicon-import, .glyphicon-ok,
.glyphicon-pencil, .glyphicon-plus, .glyphicon-remove,
.glyphicon-search, .glyphicon-upload, .glyphicon-eye-open,
.glyphicon-log-in, .glyphicon-trash {
  &:before {
    content: none;
  }
}

.node__submitted,
.comment__submitted {
  color: $default-submitted;
}

.field--widget-text-textarea .filter-wrapper {
  border: 0;
  padding-bottom: 3em;
  background-color: inherit;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.applicationWrapper header.titleSection .breadcrumb,
.apiWrapper header.titleSection .breadcrumb,
.ibmapimGetStarted header .homepageLink.breadcrumb,
.apicProduct .breadcrumb,
.productApiWrapper .breadcrumb,
.breadcrumb
{
  background-color: transparent;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  padding: 1rem 0 0;
  a {
    color: $brand-primary;
    font-size: 0.875rem;
    vertical-align: middle;
    svg {
      fill: $brand-primary;
      vertical-align: middle;
    }
  }
}

.applicationWrapper a.addCredential svg{
  fill: $default-header;
  &:hover {
    fill: $brand-primary;
  }
}

.plans svg.key {
  background:transparent;
  fill: $brand-primary;
}

.applicationCredentials .credentialsTable,
.applicationSubscriptions .subscriptionsTable {
  background-color: $table-row-bg-light;
  border: 1px solid $table-row-border;
}
.apicMyOrg .apicMyOrgMembers tbody tr.member-odd,
.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody tr.member-odd {
  background-color: #f0f3f6;
}
.apicMyOrg .apicMyOrgMembers tbody tr.member-even,
.applicationSubscriptions .subscriptionsTable .subscriptionsContent tbody tr.member-even {
  background-color: $ui-background;
}
.apicMyOrg .apicMyOrgMembers table thead,
.applicationSubscriptions .subscriptionsTable .subscriptionsContent table thead {
  background: $ui-03;
}

.applicationCredentials .credentialsTable .credentialsHeader {
  border-bottom: 1px solid $ui-03;
}
.applicationWrapper .titleSection .applicationTabs li.selected a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected a,
.nav.nav-tabs.filter-formats li.selected a,
.apicMyOrg .titleSection .organizationTabs li.selected a {
  color: $text-01;
  border-bottom: 2px solid $interactive-04;
}

.applicationWrapper .titleSection .applicationTabs li:hover a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover a,
.nav.nav-tabs.filter-formats li:hover a,
.apicMyOrg .titleSection .organizationTabs li:hover a {
  color: $text-01;
  border-bottom: 2px solid $ui-04;
}
.applicationWrapper .titleSection .applicationTabs li:focus a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus a,
.nav.nav-tabs.filter-formats li:focus a,
.apicMyOrg .titleSection .organizationTabs li:focus a {
  color: $text-01;
  border-bottom: 2px solid $focus;
}

.applicationWrapper .titleSection .applicationTabs li.selected,
.applicationWrapper .titleSection .applicationTabs li:hover,
.applicationWrapper .titleSection .applicationTabs li:focus,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus,
.nav.nav-tabs.filter-formats li.selected,
.nav.nav-tabs.filter-formats li:hover,
.nav.nav-tabs.filter-formats li:focus,
.apicMyOrg .titleSection .organizationTabs li.selected,
.apicMyOrg .titleSection .organizationTabs li:hover,
.apicMyOrg .titleSection .organizationTabs li:focus {
  color: $text-01;
}

.applicationWrapper .titleSection .applicationTabs li,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li,
.nav.nav-tabs.filter-formats li,
.apicMyOrg .titleSection .organizationTabs li {
  color: $text-02;
}

.applicationWrapper .titleSection .applicationTabs li a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a,
.nav.nav-tabs.filter-formats li a,
.apicMyOrg .titleSection .organizationTabs li a {
  color: $text-02;
  border-bottom: 2px solid $ui-03;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgStatus {
  color: $brand-success;
  font-size: 0.875rem;
}

.apicMyOrg .memberSection,
.apicMyOrgOwner {
  background-color: $ui-02;
}

.apicMyOrg .field.organizationMembers .memberHeader{
  border-bottom: 1px solid $ui-03;
}

.apicMyOrg .apicMyOrgMembers table thead {
  background: $ui-03;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers {
  background: $table-row-bg-light;
}

.apiWrapper header.titleSection {
  border-bottom: 2px solid $brand-primary;
}

header h1 {
  color: $black-01;
}

.apicMainContent .supportContentWrapper .views-element-container .view {
  background: $default-bg-light;
  border: unset;
}

.views-element-container .view.view-faqs .ui-state-default,
.views-element-container .view.view-faqs .ui-widget-content .ui-state-default,
.views-element-container .view.view-faqs .ui-widget-header .ui-state-default {
  color: $text-color;
}

.views-element-container .view.view-faqs .ui-state-active,
.views-element-container .view.view-faqs .ui-widget-content .ui-state-active,
.views-element-container .view.view-faqs .ui-widget-header .ui-state-active {
  color: $text-color;
}

/* socialblock */
.socialblock.card {
  border: unset;
  background-color: $default-bg-light;
  color: $text-color;
  max-width: 21rem;
  min-width: 21rem;
}

.socialblock.card:hover {
  box-shadow: unset;
}

.socialblock .op {
  color: $alert-info-text;
}

.socialblock .timestamp {
  color: $alert-info-text;
}

.socialblock .profile_name.name {
  color: $brand-primary;
}

.socialblock .twitter_handle {
  color: $alert-info-text;
}

.socialblock .tweet_timestamp {
  color: $alert-info-text;
}

.socialblock .hashtag,
.socialblock .url {
  color: $brand-primary;
}


/* EU Cookie banner styling */
.bx--global-light-ui  .eu-cookie-compliance-banner {
  background-color: $alert-info-bg;
  padding: 1rem 0;

  h2 {
    font-size: 1.25rem;
  }
}

.bx--global-light-ui .form-item input#edit-restrict-by-ip-address,
.bx--global-light-ui .form-item input#edit-restrict-by-ip-address:hover,
.bx--global-light-ui .form-item input#edit-restrict-by-ip-address:focus {
  width: 100%;
  max-width: 33rem;
}

/* Explorer styling overrides */

.apiconnect-explorer-menu .explorer-toc a {
  color: $text-color;
}

.apiconnect-explorer-menu .explorer-toc ul .tocItem a span{
  font-size:0.75rem;
}

.apiconnect-explorer-menu .apiContent .tocItem .menuTag {
  font-size:0.875rem;
  font-weight:bold;
  padding-left:21px;
}

.apiconnect-explorer-menu .explorer-toc ul ul .tocItem a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.apiconnect-explorer-menu .explorer-toc .tocItem {
  margin-top: 0;
  margin-bottom: 0;
}

.bx--global-light-ui .apiconnect-explorer .explorer-toc a.selected {
  color: $brand-primary;
}
.bx--global-light-ui .apiconnect-explorer .explorer-toc a.selected span
{
  font-size:0.875rem;
}

.bx--global-light-ui .apiconnect-explorer .definitionRow .bx--table-expand-v2__button {
  height: unset;
  background-color: unset;
  border: unset;
}

.bx--global-light-ui .apiconnect-explorer .apiconnect-explorer-menu button.iconOnlyButton {
  height:unset;
}

//** Home page colour settings
section.block-getting-started,
section.block-go-ahead {
  background: $default-bg-light;
}

.gsstep h3,
.gsstep a {
  color: $brand-primary;
}


.block-get-help {
  color: $default-inverse;
  background-color: $navbar-default-bg;
}

.get_help h4,
.get_help a,
.get_help a:hover {
  color: $brand-primary-light;
  fill: $brand-primary-light;
}


.ibmapimGetStarted header h2 {
  color: $default-header;
}


.ibmapimGetStarted .getStartedContentWrapper .exploreDiv ,
.ibmapimGetStarted .getStartedContentWrapper .createAppDiv {

}

@media (max-width:$screen-sm-min) {

  .ibmapimGetStarted {
    background: unset;
  }
  .ibmapimGetStarted .getStartedContentWrapper .exploreDiv {
    margin-bottom:2px;
  }
}

.gsstep h3,
.gsstep a,
.ibmapimNoPermissions .contactLink a {
  color: $brand-primary;
}

// loading

.page-load-progress-lock-screen .bx--loading__stroke {
  stroke: $brand-primary;
};
// maintenance page
.maintenance-page {
  header.navbar,
  header.navbar .container,
  header.navbar .container .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
    a.name.navbar-brand {
      padding-top: 10px;
    }
  }
  .main-container.container {
    background-image: url(../images/ibmcarbon/svg/Error_Page_Illustrations_OTHER.svg);
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;

    .row {
      margin: 40px;
      width: calc(100% - 80px);

      .col-sm-12.maintenanceSection {
        width: 100%;
        border: 0;
        background-color: inherit;
        padding: 100px 2rem 2rem 300px;

        h1 {
          padding-bottom: 10px;
        }
      }
    }
  }
}
// taxonomy menu block
.block-tags {
  margin-left: 20px;
  .nav.menu--tags > li > a  {
    padding: 0;
  }

  .nav.menu--tags ul,
  .nav.menu--tags ul ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
  }

  .nav.menu--tags ul ul {
    margin-left: 10px;
  }

  .nav.menu--tags ul li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../images/node.png) no-repeat;
  }

  .nav.menu--tags ul li.last {
    background: $light-gray-01 url(../images/lastnode.png) no-repeat;
  }
}
.region-collapsible .block-tags .nav.menu--tags ul li.last {
  background: #fff url(../images/lastnode.png) no-repeat;
}

.node--view-mode-teaser,
article.search-result {
  background-color: white;
  padding: 20px;
  border: 1px solid #e7eaed;
  margin-bottom: 10px;
}

.tutorial_block_1 {
  background-color: #44488d;
  color: #fff;
}

.tutorial_block_2 {
  background-color: #fff;
}

.tutorial_block_3 {
  padding: 5rem;
}

.tutorial_block_frontpage {
  height: 300px;
  padding: 5rem 0 0 2rem;
}

// footer
footer.footer.container {
  padding-left: 32px;
  justify-content: normal;
  height: 64px;
}
@media (max-width: 380px) {
  footer.footer.container {
    min-height: 64px;
    height: auto;
  }
}

.apic-login-wrapper:after,
.apic-register-wrapper:after,
.apic-reset-wrapper:after {
  background-color: $ui-01;
}

body.bx--global-light-ui.context--user-login,
body.bx--global-light-ui.context--user-register,
body.bx--global-light-ui.route-change-pwd-pagereset,
body.bx--global-light-ui.route-apicresetpw,
body.bx--global-light-ui.context--user-password {
  background-color: $ui-02;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers .noMembersTextContainer .firstLine,
.noPaymentMethods .noPaymentMethodsText.firstLine,
.block .apicNoContent .noContentTextContainer .firstLine {
  color: $text-01;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers .noMembersTextContainer .secondLine,
.noPaymentMethods .noPaymentMethodsText.secondLine,
.block .apicNoContent .noContentTextContainer .secondLine {
  color: $text-02;
}
.bx--data-table thead {
  background: $table-header-bg;
}

.bx--data-table th {
    padding: $spacing-05;
    font-size: 0.875rem;
}

.bx--data-table td {
    @include type-style('body-short-01');
    color: $secondary-text;
    padding: $spacing-05;
}

.alert .close {
  opacity: inherit;
}

.applicationCredentials .credentialsTable .credentialsHeader .credentialsActions .credentialsActionsAdd:hover{
  background-color: $hover-ui;
}
.dropit-icon:hover  {
  background-color: $hover-ui;
}
.consumerorgSelectBlock .dropit-icon:hover  {
  background-color: transparent;
}
/* password view toggles */
.bx--global-light-ui .eye-close {
  background-image: url(../images/ibmcarbon/svg/view.svg);
}
.bx--global-light-ui .eye-open {
  background-image: url(../images/ibmcarbon/svg/view--off.svg);
}
.bx--global-light-ui .form-item input[type='password'],
.bx--global-light-ui .form-item .passwordCreds,
.bx--global-light-ui .form-item .password-field,
.bx--global-light-ui .form-item .password-confirm,
.bx--global-light-ui .form-item #edit-current-pass {
  display: inline-block;
}
.bx--global-light-ui .credentialsContent .clientIDContainer.form-item .password-field {
  width: 310px;
}
.bx--global-light-ui .input-group .form-control.password-field {
  float: none;
  z-index: auto;
  position: static;
}
.bx--global-light-ui .form-type-password .input-group {
  display: block;
}
.route-apicresetpw.bx--global-light-ui #edit-pass.js-form-type-password-confirm,
.route-change-pwd-pagechange-password-form.pass-reset.bx--global-light-ui #edit-pass.js-form-type-password-confirm {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}
// error page
.route-system404,
.route-system403 {
  .main-container.container {
    background-image: url(../images/ibmcarbon/svg/Error_Page_Illustrations_403.svg);
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;

    .row {
      margin: 40px;
      width: calc(100% - 80px);

      .col-sm-12 {
        width: 100%;
        border: 0;
        background-color: inherit;
        padding: 100px 2rem 2rem 300px;

        h1.page-header {
          border: 0;
          background: inherit;
          margin: 0 -2rem;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
.route-system404 .main-container.container {
  background-image: url(../images/ibmcarbon/svg/Error_Page_Illustrations_404.svg);
}
/* comments filter format page */
.path-filter p {
  font-size: 0.875rem;
}
.path-filter ul {
  line-height: 1.175rem;
}

.productive-heading-02 {
  @include type-style('productive-heading-02');
}

.productive-heading-03 {
  @include type-style('productive-heading-03');
}

.productive-heading-04 {
  @include type-style('productive-heading-04');
}

.body-short-01 {
  @include type-style('body-short-01');
  height: 1.1rem; // stop low hanging letters from clipping
}

.planDetail--header {
  background-color: $ui-background;
}

.planDetail--content {
  background-color: $ui-background;
}

.plansTable thead {
  background-color: $table-header-bg;
}

.planCard {
  background-color: $card-bg;
}

.plansTable .tableRow {
  border-bottom: 1px solid $table-row-border;
}

.apicConcepts {
  background-color: $ui-background;
}
.apicConcepts table tr {
  border-bottom: 1px solid $ui-03;
}