// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// component framework
@import "component/alert";
@import "component/ajax";
@import "component/card";
@import "component/collapsible";
@import "component/html";
@import "component/grid";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/forum";
@import "component/footer";
@import "component/icon";
@import "component/modal";
@import "component/navbar";
@import "component/node";
@import "component/overflow-menu";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/wizard";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

svg {
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

html{
  font-size: $base-font-size;
}

@include css-body;
@include typography;

body.bx--global-light-ui
{
  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
}

// accessibility set contrast ratio for content that is screen reader only
.sr-only,
.visually-hidden {
  color: #000;
  background-color: #fff;
}
// do not display SVG titles by default but they need contrast ratios for accessibility
svg title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  color: #000;
  background-color: #fff;
}

// Page header.
.page-header,
.node__title{
  margin: 0;
  padding-bottom: (($line-height-computed / 2) - 1);
  border:none;
  color: $default-header;
  font-size: 2rem;
  font-weight: lighter;
}

a {
  color: $link-color;
}

.page-header {
  border-bottom: 2px solid $brand-primary;
}

// sticky header

.apicStickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
}

.adminimal-admin-toolbar .apicStickyHeader {
  top: 39px;
}

.adminimal-admin-toolbar.toolbar-tray-open .apicStickyHeader {
  top: 79px;
}

.adminimal-admin-toolbar.toolbar-tray-open.toolbar-vertical .apicStickyHeader {
  top: auto;
}

.apicMainContent {
  margin-top: 60px;
  min-height: calc(100vh - 180px);
}

.path-frontpage .apicMainContent,
.page-node-type-application .apicMainContent {
  margin-top: 48px;
  min-height: calc(100vh - 168px);
}
// make front page full width
// and app, myorg pages too
.path-frontpage .apicMainContent.container,
.page-node-type-application .apicMainContent.container,
.route-ibm-apimmyorg .apicMainContent,
.route-ibm-apimanalytics .apicMainContent {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

// title and content wrappers for applications need to honor the media page widths
.page-node-type-application .container .contentInnerWrapper,
.page-node-type-application .container .titleInnerWrapper {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: 90%;
    min-width: $container-md;
  }
}

.path-frontpage .apicMainContent section.col-sm-12,
.page-node-type-application .apicMainContent section.col-sm-12{
  padding-left: 0;
  padding-right:0;
}

// admin editing an application page
.page-node-type-application.route-entitynodeedit-form .apicMainContent section.col-sm-12{
  padding-left: 15px;
  padding-right: 15px;
}

// padding for titles and blocks on front page
.path-frontpage .apicMainContent.container h2.block-title{
  padding-left: 15px;
  padding-right: 15px;
}
// except the banner block
.path-frontpage .apicMainContent.container div.region-content section.block-welcome-banner > div{
  padding-left: 0;
  padding-right: 0;
}

// need space for admin toolbar
body.adminimal-admin-toolbar .apicMainContent {
  min-height: calc(100vh - 224px);
}

// no footer on API pages & full width
body.page-node-type-api .apicMainContent,
body.page-node-type-eventstream .apicMainContent,
body.route-productapi .apicMainContent {
  min-height: calc(100vh - 48px);
  width: 100%;
}

body.adminimal-admin-toolbar.page-node-type-api .apicMainContent,
body.adminimal-admin-toolbar.page-node-type-api article.node--type-api,
body.adminimal-admin-toolbar.page-node-type-eventstream article.node--type-eventstream,
body.adminimal-admin-toolbar.route-productapi .apicMainContent {
  min-height: calc(100vh - 128px);
}
// bit of vertical margin to allow for tabs and explorer
body.page-node-type-api nav.tabs,
body.page-node-type-eventstream nav.tabs,
body.route-productapi nav.tabs {
  margin-bottom: 10px;
}

.toolbar-vertical .apicStickyHeader {
  position: inherit;
  top: auto;
}

.toolbar-vertical .apicMainContent {
  margin-top:0;
}
// node preview
.bx--global-light-ui .node-preview-form-select
{
  padding-top: 80px;
}

// highlight region

.apicMainContent.container .region.region-highlighted
{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

// API view
.page-node-type-api .col-sm-12,
.page-node-type-eventstream .col-sm-12,
.route-productapi .col-sm-12 {
  position: inherit;
}
.page-node-type-api footer.footer,
.page-node-type-eventstream footer.footer,
.route-productapi footer.footer {
  display: none;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child,
.view-filters.form-group
{
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// tooltips
.tooltip-inner {
  padding: 16px 16px;
  word-wrap: break-word;
  text-align: left;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.10);
}




// API Explorer
/* force lineheight for api pre tags to be normal */
apiconnect-explorer pre {
  line-height: normal;
}

apiconnect-explorer a,
apiconnect-explorer .bx--link {
  color: $brand-primary;
}

.featuredcontent h3,
.featuredcontent a,
.goahead h3 {
  color: $brand-primary;
}

/* rhs menu icons */
.imageContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  svg {
    fill: $navbar-default-link-color;
    background: transparent;
  }
}

.imageContainer:hover {
  svg {
    fill: $navbar-default-link-hover-color;
  }
}

.imageContainer img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.path-search .region-content nav.tabs {
  margin-bottom: 20px;
}

.feed-icons {
  margin-top: 30px;
}

.views-element-container {
  padding: 20px 0;
}

/* dont display external link decorations for add to any links */
.addToAny .ext {
  display: none;
}

/* entity browser */
.entity-embed-dialog {
  overflow: scroll;
}
.view-content-browser .views-exposed-form {
  margin-bottom: 10px;
}
.content-browser-form .views-exposed-form .form-actions {
  margin-bottom: 0;
}

[typeof="schema:Person"] > div{
  padding: 1rem 0;
}

.apicTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th, td {
  &.checkbox {
    display: table-cell;
  }
}

@media screen and (max-width: 640px) {
  .apicStickyHeader {
    position: inherit;
    top: auto;
  }

  .path-frontpage .apicMainContent,
  .page-node-type-application .apicMainContent,
  .apicMainContent {
    margin-top:0;
  }
}

.br-theme-css-stars .br-widget a {
  font-size: 16px;
  margin-right: 1px;
}

.node__submitted,
.comment__submitted {
  color: $default-submitted;
}

.field--widget-text-textarea .filter-wrapper {
  border: 0;
  padding-bottom: 3em;
}

.applicationWrapper header.titleSection .breadcrumb,
.apiWrapper header.titleSection .breadcrumb,
.ibmapimGetStarted header .homepageLink.breadcrumb,
.apicProduct .breadcrumb,
.productApiWrapper .breadcrumb,
.breadcrumb
{
  background-color: transparent;
  a {
    color: $brand-primary;
    font-size: 0.875rem;
    vertical-align: middle;
    svg {
      fill: $brand-primary;
      vertical-align: bottom;
    }
  }
}

.applicationWrapper a.addCredential svg{
  fill: $default-header;
  &:hover {
    fill: $brand-primary;
  }
}

.apicMyOrg .memberIcon svg,
.plans svg.key {
  background:transparent;
  fill: $brand-primary;
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent table tbody tr:nth-child(even) {
  background-color: $table-row-bg-gray;
}
.applicationCredentials .credentialsTable,
.applicationSubscriptions .subscriptionsTable {
  background-color: $table-row-bg-light;
  border: 1px solid $table-row-border;
}
.applicationCredentials .credentialsTable .credentialsHeader,
.applicationSubscriptions .subscriptionsTable .subscriptionsHeader {
  border-bottom: 1px solid $table-header-border;
}
.applicationWrapper .titleSection .applicationTabs li.selected a,
.applicationWrapper .titleSection .applicationTabs li:hover a,
.applicationWrapper .titleSection .applicationTabs li:focus a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus a,
.apicMyOrg .titleSection .organizationTabs li.selected a,
.apicMyOrg .titleSection .organizationTabs li:hover a,
.apicMyOrg .titleSection .organizationTabs li:focus a{
  color: $brand-primary;
  border-bottom: 2px solid $brand-primary;
}
.applicationWrapper .titleSection .applicationTabs li.selected,
.applicationWrapper .titleSection .applicationTabs li:hover,
.applicationWrapper .titleSection .applicationTabs li:focus,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus,
.apicMyOrg .titleSection .organizationTabs li.selected,
.apicMyOrg .titleSection .organizationTabs li:hover,
.apicMyOrg .titleSection .organizationTabs li:focus {
  color: $brand-primary;
}
.applicationWrapper .titleSection .applicationTabs li a,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a,
.applicationWrapper .titleSection .applicationTabs li,
.applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li
.apicMyOrg .titleSection .organizationTabs li a,
.apicMyOrg .titleSection .organizationTabs li {
  margin-bottom: 4px;
  padding-bottom:10px;
  color: $text-color;
}

.apicMyOrg .apicMyOrgMembers polygon {
  fill: $brand-primary;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgStatus {
  color: $brand-success;
  font-size: 0.875rem;
}

.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers {
  background: $table-row-bg-light;
}

.apiWrapper header.titleSection {
  border-bottom: 2px solid $brand-primary;
}

header h1,
.ibmapimGetStarted header h1 {
  color: $black-01;
}

.ibmapimGetStarted header .homepageLink svg {
  fill: $interactive-01;
}

.ibmapimGetStarted .getStartedContentWrapper .exploreDiv ,
.ibmapimGetStarted .getStartedContentWrapper .createAppDiv {
  background-color: $default-bg-light;
  border: 1px solid $default-border;
}

.apicMainContent .supportContentWrapper .views-element-container .view {
  background: $default-bg-light;
  border: 1px solid $default-border;
}

.views-element-container .view.view-faqs .ui-state-default,
.views-element-container .view.view-faqs .ui-widget-content .ui-state-default,
.views-element-container .view.view-faqs .ui-widget-header .ui-state-default {
  color: $brand-primary;
}

.views-element-container .view.view-faqs .ui-state-active,
.views-element-container .view.view-faqs .ui-widget-content .ui-state-active,
.views-element-container .view.view-faqs .ui-widget-header .ui-state-active {
  color: $brand-primary;
}

/* socialblock */
.socialblock.card {
  border: 1px solid $brand-info;
  border-left: 6px solid $brand-info;
  background-color: $default-bg-light;
  color: $brand-primary;
}

.socialblock.card:hover {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.3);
}

.socialblock .op {
  color: $alert-info-text;
}

.socialblock .timestamp {
  color: $alert-info-text;
}

.socialblock .profile_name.name {
  color: $brand-primary;
}

.socialblock .twitter_handle {
  color: $alert-info-text;
}

.socialblock .tweet_timestamp {
  color: $alert-info-text;
}

.socialblock .hashtag,
.socialblock .url {
  color: $brand-primary;
}


/* EU Cookie banner styling */
.bx--global-light-ui  .eu-cookie-compliance-banner {
  background-color: $purple-03;
  padding: 1rem 0;

  h2 {
    font-size: 1.25rem;
  }
}

.bx--global-light-ui .form-item input#edit-restrict-by-ip-address,
.bx--global-light-ui .form-item input#edit-restrict-by-ip-address:hover,
.bx--global-light-ui .form-item input#edit-restrict-by-ip-address:focus {
  width: 100%;
  max-width: 33rem;
}

/* Explorer styling overrides */

.apiconnect-explorer-menu .explorer-toc a {
  color: $text-color;
}

.apiconnect-explorer-menu .explorer-toc ul .tocItem a span{
  font-size:0.75rem;
}

.apiconnect-explorer-menu .apiContent .tocItem .menuTag {
  font-size:0.875rem;
  font-weight:bold;
  padding-left:21px;
}

.apiconnect-explorer-menu .explorer-toc ul ul .tocItem a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.apiconnect-explorer-menu .explorer-toc .tocItem {
  margin-top: 0;
  margin-bottom: 0;
}

.bx--global-light-ui .apiconnect-explorer .explorer-toc a.selected {
  color: $brand-primary;
}
.bx--global-light-ui .apiconnect-explorer .explorer-toc a.selected span
{
  font-size:0.875rem;
}

.bx--global-light-ui .apiconnect-explorer .definitionRow .bx--table-expand-v2__button {
  height: unset;
  background-color: unset;
  border: unset;
}

.bx--global-light-ui .apiconnect-explorer .apiconnect-explorer-menu button.iconOnlyButton {
  height:unset;
}

//** Home page colour settings
section.block-getting-started,
section.block-go-ahead {
  background: $default-bg-light;
}

.gsstep h3,
.gsstep a {
  color: $brand-primary;
}


.block-get-help {
  color: $default-inverse;
  background-color: $navbar-default-bg;
}

.get_help h4,
.get_help a,
.get_help a:hover {
  color: $brand-primary-light;
  fill: $brand-primary-light;
}


.ibmapimGetStarted header h1 {
  color: $default-header;
}


.ibmapimGetStarted .getStartedContentWrapper .exploreDiv ,
.ibmapimGetStarted .getStartedContentWrapper .createAppDiv {
  background-color: $default-bg-light;
  border: 1px solid $default-border;
}

.gsstep h3,
.gsstep a,
.ibmapimNoPermissions .mainContent,
.ibmapimNoPermissions .contactLink a {
  color: $brand-primary;
}

.ibmapimNoPermissions .iconDiv svg {
  fill: $modal-content-color;
}

// maintenance page
.maintenance-page {
  header.navbar,
  header.navbar .container,
  header.navbar .container .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
    a.name.navbar-brand {
      padding-top: 10px;
    }
  }
  .main-container.container .row {
    margin: 40px;
    width: calc(100% - 80px);

    .col-sm-12 {
      padding: 30px;
      border: 1px solid #ddd;
      width: 100%;
      background-color: #fff;

      h1 {
        padding-bottom: 10px;
      }
    }
  }

}
// taxonomy menu block
.block-tags {
  margin-left: 20px;
  .nav.menu--tags > li > a  {
    padding: 0;
  }

  .nav.menu--tags ul,
  .nav.menu--tags ul ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
  }

  .nav.menu--tags ul ul {
    margin-left: 10px;
  }

  .nav.menu--tags ul li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../images/node.png) no-repeat;
  }

  .nav.menu--tags ul li.last {
    background: $light-gray-01 url(../images/lastnode.png) no-repeat;
  }
}
.region-collapsible .block-tags .nav.menu--tags ul li.last {
  background: #fff url(../images/lastnode.png) no-repeat;
}

.node--view-mode-teaser,
article.search-result {
  background-color: white;
  padding: 20px;
  border: 1px solid #e7eaed;
  margin-bottom: 10px;
}

.tutorial_block_1 {
  background-color: #44488d;
  color: #fff;
}

.tutorial_block_2 {
  background-color: #fff;
}

.tutorial_block_3 {
  padding: 5rem;
}

.tutorial_block_frontpage {
  height: 300px;
  padding: 5rem 0 0 2rem;
}


