$css--plex: true !default;

// Carbon variables.
@import "carbon/colors";
@import "carbon/vars";
@import "carbon/css--reset";
@import 'carbon/css--font-face';
@import "carbon/css--body";
@import "carbon/layer";

/**
 * connect theme override variables.
 *
 * Modify this file to provide Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ../bootstrap/stylesheets/bootstrap/_variables.scss
 */

// IBM API Connect Developer Portal color palette
$purple-01: #5A60B8;
$purple-02: #44488D;
$purple-03: #969CEC;

$light-purple-01: #EBECF6;
$light-purple-02: #D7D9F2;
$light-purple-03: #B7B9D4;

$light-gray-01: $ui-02;
$light-gray-02: #E2E8F2;
$light-gray-03: #1D3649;

$dark-gray-01: $color__navy-gray-4;
$black-01: $color__blue-90;

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// theme variables
// these are the variables to override for custom theme creation

// set large screens to be 100% width
$container-large-desktop: 100%;

// fonts
$base-font-size:                  16px;
$font-family-base:                'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;

$font-size-base:                   $base-font-size;
$line-height-base: 1.5;
$headings-line-height: 1.25;
$border-radius-base: 0;

// Global body
$body-bg:                         $ui-02;


// Global text color
$text-color:                       $black-01;
$label-color:                      $black-01;
//** Global textual link color.
$link-color:                       $brand-01;
//** Link hover color
$link-hover-color:                 $brand-02;
//** Link hover decoration.
$link-hover-decoration:            none;

$brand-primary:         $purple-01;
$brand-primary-light:   $purple-03;
$brand-primary-dark:    $purple-02;

$brand-success:         $support-02;
$brand-info:            $support-04;
$brand-warning:         $support-03;
$brand-danger:          $support-01;

// Placeholder text color
$input-color-placeholder:        $ui-05;

// Navbar variable overrides
$navbar-height:                    48px;
$navbar-margin-bottom:             none;
$navbar-border-radius:             none;
$navbar-padding-horizontal:        0;
$navbar-padding-vertical:          none;
$navbar-default-color:             rgba($inverse-01,0.6);
$navbar-default-bg:                $nav-02;

$navbar-default-link-color:        rgba($inverse-01,0.6);
$navbar-default-link-hover-color:  rgba($inverse-01,1);
$navbar-default-link-active-color: rgba($inverse-01,1);
$navbar-default-link-active-bg:    $nav-02;

$navbar-default-toggle-border-color:none;
$navbar-default-toggle-hover-bg:    none;
$navbar-default-toggle-icon-bar-bg: $inverse-01;

$nav-link-hover-bg:                none;
$nav-link-padding:                 .75rem 0rem;

// footer variable overrides
$footer-default-bg:                $inverse-01;
$footer-default-color:             $nav-02;
$footer-default-bordercolor:       $brand-01;

$footer-link-color:                 $brand-01;

// status messages
$alert-border-radius: 0;
$alert-padding: .75rem 1rem;
$alert-info-bg: transparent;
$alert-info-border: $brand-info;
$alert-info-text: 	$text-02;
$alert-danger-bg: transparent;
$alert-danger-border: $brand-danger;
$alert-danger-text: 	$text-02;
$alert-warning-bg: transparent;
$alert-warning-border: $brand-warning;
$alert-warning-text: 	$text-02;
$alert-success-bg: transparent;
$alert-success-border: $brand-success;
$alert-success-text: 	$text-02;

// tabs
$tab-primary-background: $brand-primary;
$tab-primary-text: $inverse-01;

// apic & modal forms
$default-header: $ui-05;
$default-bg-light: $ui-01;
$default-border: $ui-03;
$default-line: $ui-05;
$default-submitted: $ui-04;
$default-inverse: $inverse-01;

$default-input-bg: $field-01;
$default-input-border: $field-01;

// bootstrap form variable overrides
$input-border-radius: 0;
$input-bg: $field-02;
$input-border: $field-02;
$input-color: $black-01;

// buttons
$btn-border-radius-base:  0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$btn-default-color: $purple-01;
$btn-default-bg:    $inverse-01;
$btn-default-border: $purple-01;
$btn-primary-color:  $inverse-01;
$btn-primary-bg:     $purple-01;
$btn-primary-border: transparent;
$btn-success-color: $inverse-01;
$btn-success-bg:     $purple-01;
$btn-success-border: transparent;
$btn-link-disabled-color: $brand-01;

// checkboxes and radio buttons
$check-radio-bg: $inverse-01;
$check-radio-border: $ui-05;
$check-radio-bg-checked: $brand-01;
$check-radio-border-checked: $brand-01;
$check-radio-color-checked: $inverse-01;

// tooltips
$tooltip-max-width:   15rem;
$tooltip-color:       $inverse-01;
$tooltip-bg:          $nav-02;
$tooltip-opacity:     1;

// modals

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;


$modal-content-bg:                             $ui-01;
$modal-content-border-color:                   $brand-01;
$modal-backdrop-bg:           	$ui-03;
$modal-backdrop-opacity:        .5;
$modal-header-border-color:   		transparent;
$modal-content-color: $ui-04;
//** Modal footer border color
$modal-footer-border-color:   $ui-03;

$modal-lg:                    900px !default;
$modal-md:                    625px !default;
$modal-sm:                    300px !default;


//** card settings
$card-bg: $ui-01;
$card-border-color: $ui-03;
$card-footer-bg: $ui-03;
$disabled-bg: $ui-05;

//** table settings
$table-header-border: $brand-01;
$table-row-border: $ui-03;
$table-row-hover: $brand-02;
$table-row-bg-light: $ui-01;
$table-row-bg-gray: $ui-02;
$table-zebra-stripe: $ui-02;


