//
// Copyright IBM Corp. 2021
//

@import "connect-variables";

table {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

table, td, div, h1, p {
  overflow-wrap: anywhere; }

td {
  padding:0;
}

#mail-body {
  margin: 0;
  padding: 0;
}

#mail-table {
  width: 100%;
  border-collapse: collapse;
  border:0;
  border-spacing:0;
  background: $light-gray-02;

}

#main-table {
  width: 602px;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

#header {
  background-color: $black-01;
  color: $light-gray-01;
  padding: 1rem;
  height: 3rem;
}

#main {
  padding: 2rem;
  background-color: $light-gray-01;
  color: $black-01;
  font-size: $base-font-size;
}

#footer {
  background-color: $black-01;
  color: $light-gray-01;
  font-size: $base-font-size;
  padding: 2rem;
}

#header,
#footer {
  a {
    color: $light-gray-01;
    text-decoration: none;
    font-size: 0.875rem;
    padding-right: 1rem;
  }
}

.rowPad {
  height: 1rem;
}
